{% extends "_top-nav.html" %}

{% block topNav %}
  <section class="c-hero--half ">
    <div class="c-hero__background">
      <div class="container-fluid">
        <div class="left about putty"></div>
        <div class="right about">
          <img src="https://copper.objects.frb.io/imgs/about/midnight-dotted.svg" class="fit-cover" alt="Midnight dotted svg" align="middle">
          <img src="/imgs/about/two-tone-circle.svg" class="two-tone-circle" alt="Two tone circle">
        </div>
      </div>
    </div>
    <div class="c-hero__content">
      <div class="container">
        <div class="row d-flex align-items-center">
          <div class="col-md-5 demo--padding">
            <h2 class="graphite">About Copper</h2>
            <p class="graphite">Our mission is to help businesses and teams thrive in the relationship era.</p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="c-numbers about">
    <div class="container">
      <div class="row justify-content-center">
        <h2 class="text-center">At a glance</h2>
      </div>
      <div class="row">
        <div class="col-md-4">
          <div class="c-number__entry ">
            <span class="t-numbers">12k</span>
            <p>customers worldwide</p>
          </div>
        </div>
        <div class="col-md-4">
          <div class="c-number__entry ">
            <span class="t-numbers">110+</span>
            <p>countries used in</p>
          </div>
        </div>
        <div class="col-md-4">
          <div class="c-number__entry ">
            <span class="t-numbers">9</span>
            <div class="c-number__description">
              <p>languages supported</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="c-jumble c-our-story c-jumble-background--putty">
    <div class="container">
      <div class="c-jumble__container col-md-10">
        <div class="c-jumble__content">
          <div class="row">
            <div class="col-md-6 col-sm-12 c-valign--middle">
              <h2 class="graphite">Our Story</h2>
              <p class="sm graphite">We’ve always been obsessed with helping businesses grow and foster how teams of relationship-makers work together.
                <br>
                <br>

                Back in 2014, that meant reimagining Customer Relationship Management (crm) with removing the “bad stuff” (aka data entry, pricing, admin headaches, clunky interface…).
                <br>
                <br>

                From the start, we have believed in delivering a different kind of crm: one that’s user centric, works in the tools you use, and ultimately makes building and growing lasting business relationships easier.
                <br>
                <br>

                Modern teams are looking to find crms that enable them to move beyond data management and eliminate busy work so they can focus on the quality of their customer relationships.
              </p>
            </div>
            <div class="col-md-6 col-sm-12">
              <div class="c-panel--small c-panel--top--mint c-valign--middle rectangle--hot-pink rectangle--bottom--left about-page">
                <pre class="c-eyebrow">we believe in</pre>
                <div class="c-our-story-carousel--content">
                  <p>A crm that ends data entry</p>
                  <p>A crm that people will actually use</p>
                  <p>A crm that works in productivity tools (G Suite)</p>
                  <p>A crm that is not just for sellers, but for any relationship type</p>
                  <p>A crm that you can deploy in minutes</p>
                  <p>A crm that is designed like the tools you love</p>
                  <p>A crm that works where you work</p>
                  <p>A crm that adapts to any team</p>
                  <p>A crm that recommends what to do next
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </section>


  <section class="c-change-for-good">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <div class="change-for-good--img diamond--top--right diamond--volt">
            <picture>
          <source type="image/webp" srcset="/imgs/about/group-photo-2.webp"    alt="Group photo image" class="left-image">
          <source type="image/png" srcset="/imgs/about/group-photo-2.jpg"    alt="Group photo image" class="left-image">
          <img     src="/imgs/about/group-photo-2.jpg"   alt="Group photo image" class="left-image" >
</picture>
          </div>
        </div>
        <div class="col-md-5 c-valign--middle">
          <h2>Changing things for good.</h2>
          <p>On our journey, we’ve built a home for new breed relationship-makers. A better way to organize and capture all your customer relationship files, docs, emails, sheets and more without the burden of data entry.
            <br>
            <br>
            We aim to maximize your workday and minimize distraction. So you can focus on what matters.</p>
        </div>
      </div>
    </div>
    <img src="/imgs/dots-circle-mint.svg" alt="Dotted circle image" class="circle-right--mint">
  </section>

  <section class="c-about--our-road">
    <div class="container">
      <div class="row justify-content-center ">
        <div class="col-12 c-about--our-road__content rectangle--hot-pink rectangle--bottom--left">
          <h2 class="text-center">The road we’ve taken.</h2>
          <div class="container">
            <div class="row">
              <div class="col-md-6 no-padding c-about--our-road__content--left d-none d-md-block">
                <div class="story--point first">
                  <p class="col-lg-7 offset-lg-2 col-md-10 offset-md-1 date">May 2013</p>
                  <p class="col-lg-7 offset-lg-2 col-md-10 offset-md-1 sm">Copper is founded with seed round funding</p>
                  <img src="/imgs/about/our-story-connectors--left.svg" alt="Our story connectors image 1">
                </div>
                <div class=" story--point">
                  <p class="col-lg-7 offset-lg-2 col-md-10 offset-md-1 date">May 2014</p>
                  <p class="col-lg-7 offset-lg-2 col-md-10 offset-md-1 sm">Copper builds native integration with G Suite</p>
                  <img src="/imgs/about/our-story-connectors--left.svg" alt="Our story connectors image 2">
                </div>
                <div class=" story--point">
                  <p class="col-lg-7 offset-lg-2 col-md-10 offset-md-1 date">August 2015</p>
                  <p class="col-lg-7 offset-lg-2 col-md-10 offset-md-1 sm">Copper builds Google Sheets add-on integration</p>
                  <img src="/imgs/about/our-story-connectors--left.svg" alt="Our story connectors image 3">
                </div>
                <div class=" story--point">
                  <p class="col-lg-7 offset-lg-2 col-md-10 offset-md-1 date">March 2016</p>
                  <p class="col-lg-7 offset-lg-2 col-md-10 offset-md-1 sm">Copper is named Google's Partner of the Year</p>
                  <img src="/imgs/about/our-story-connectors--left.svg" alt="Our story connectors image 4">
                </div>
                <div class=" story--point">
                  <p class="col-lg-7 offset-lg-2 col-md-10 offset-md-1 date">May 2016</p>
                  <p class="col-lg-7 offset-lg-2 col-md-10 offset-md-1 sm">Copper builds integration with Google Slides</p>
                  <img src="/imgs/about/our-story-connectors--left.svg" alt="Our story connectors image 5">
                </div>
                <div class=" story--point">
                  <p class="col-lg-7 offset-lg-2 col-md-10 offset-md-1 date">September 2016</p>
                  <p class="col-lg-7 offset-lg-2 col-md-10 offset-md-1 sm">Series B funding with True Ventures, Storm Ventures, NextWorld Capital, Industry Ventures, Devoteam, Financiere Saint James</p>
                  <img src="/imgs/about/our-story-connectors--left.svg" alt="Our story connectors image 6">
                </div>
                <div class=" story--point">
                  <p class="col-lg-7 offset-lg-2 col-md-10 offset-md-1 date">September 2017</p>
                  <p class="col-lg-7 offset-lg-2 col-md-10 offset-md-1 sm">Copper secures series C funding with Norwest Venture Partners, GV, DHVC</p>
                  <img src="/imgs/about/our-story-connectors--left.svg" alt="Our story connectors image 7">
                </div>
                <div class=" story--point">
                  <p class="col-lg-7 offset-lg-2 col-md-10 offset-md-1 date">February 2018</p>
                  <p class="col-lg-7 offset-lg-2 col-md-10 offset-md-1 sm">Copper launches Google Hangouts Chat bot</p>
                  <img src="/imgs/about/our-story-connectors--left.svg" alt="Our story connectors image 8">
                </div>
                <div class=" story--point">
                  <p class="col-lg-7 offset-lg-2 col-md-10 offset-md-1 date">July 2018</p>
                  <p class="col-lg-7 offset-lg-2 col-md-10 offset-md-1 sm">Copper expands to 110 countries and is available in 9 languages</p>
                  <img src="/imgs/about/our-story-connectors--left.svg" alt="Our story connectors image 9">
                </div>
                <div class="story--point">
                  <img src="/imgs/about/our-story-connectors--end.svg" alt="Our story connectors story point image 1">
                </div>
              </div>
  
              <div class="col-md-6 no-padding c-about--our-road__content--right d-none d-md-block">
                <div class="story--point first">
                  <p class="col-lg-6 offset-lg-4 col-md-10 offset-md-2 date">April 2014</p>
                  <p class="col-lg-6 offset-lg-4 col-md-10 offset-md-2 sm">Copper adds admin console</p>
                  <img src="/imgs/about/our-story-connectors--right.svg" alt="Our story connectors image 1">
                </div>
                <div class="story--point">
                  <p class="col-lg-6 offset-lg-4 col-md-10 offset-md-2 date">March 2015</p>
                  <p class="col-lg-6 offset-lg-4 col-md-10 offset-md-2 sm">Series A funding with new investors True Ventures and Bloomberg Beta</p>
                  <img src="/imgs/about/our-story-connectors--right.svg" alt="Our story connectors image 2">
                </div>
                <div class="story--point">
                  <p class="col-lg-6 offset-lg-4 col-md-10 offset-md-2 date">November 2015</p>
                  <p class="col-lg-6 offset-lg-4 col-md-10 offset-md-2 sm">Became recommended crm on G Suite marketplace</p>
                  <img src="/imgs/about/our-story-connectors--right.svg" alt="Our story connectors image 3">
                </div>
                <div class="story--point">
                  <p class="col-lg-6 offset-lg-4 col-md-10 offset-md-2 date">April 2016</p>
                  <p class="col-lg-6 offset-lg-4 col-md-10 offset-md-2 sm">Copper reaches 1,000 international customers</p>
                  <img src="/imgs/about/our-story-connectors--right.svg" alt="Our story connectors image 4">
                </div>
                <div class="story--point">
                  <p class="col-lg-6 offset-lg-4 col-md-10 offset-md-2 date">August 2016</p>
                  <p class="col-lg-6 offset-lg-4 col-md-10 offset-md-2 sm">Copper launches second edition for enterprise businesses</p>
                  <img src="/imgs/about/our-story-connectors--right.svg" alt="Our story connectors image 5">
                </div>
                <div class="story--point">
                  <p class="col-lg-6 offset-lg-4 col-md-10 offset-md-2 date">April 2017</p>
                  <p class="col-lg-6 offset-lg-4 col-md-10 offset-md-2 sm">Copper is EU-U.S. Privacy Shield certified
                  </p>
                  <img src="/imgs/about/our-story-connectors--right.svg" alt="Our story connectors image 6">
                </div>
                <div class="story--point">
                  <p class="col-lg-6 offset-lg-4 col-md-10 offset-md-2 date">November 2017</p>
                  <p class="col-lg-6 offset-lg-4 col-md-10 offset-md-2 sm">Copper becomes SOC 2 compliant</p>
                  <img src="/imgs/about/our-story-connectors--right.svg" alt="Our story connectors image 7">
                </div>

                <div class="story--point">
                  <p class="col-lg-6 offset-lg-4 col-md-10 offset-md-2 date">April 2018</p>
                  <p class="col-lg-6 offset-lg-4 col-md-10 offset-md-2 sm">Copper reaches 10,000 customers</p>
                  <img src="/imgs/about/our-story-connectors--right.svg" alt="Our story connectors image 8">
                </div>
                <div class="story--point">
                  <p class="col-lg-6 offset-lg-4 col-md-10 offset-md-2 date">July 2018</p>
                  <p class="col-lg-6 offset-lg-4 col-md-10 offset-md-2 sm">Copper defines the Relationship Era</p>
                  <img src="/imgs/about/our-story-connectors--right.svg" alt="Our story connectors image 9">
                </div>
              </div>
        
              <div class="d-md-none">
                <div class="story--point first">
                  <p class="col-md-7 offset-md-2 date">May 2013</p>
                  <p class="col-md-7 offset-md-2 sm">Copper is founded with seed round funding</p>
                </div>
                <div class="story--point first">
                  <p class="col-md-6 offset-md-4 date">April 2014</p>
                  <p class="col-md-6 offset-md-4 sm">Copper adds admin console</p>
                </div>
                <div class=" story--point">
                  <p class="col-md-7 offset-md-2 date">May 2014</p>
                  <p class="col-md-7 offset-md-2 sm">Copper builds native integration with G Suite</p>
                </div>
                <div class="story--point">
                  <p class="col-md-6 offset-md-4 date">March 2015</p>
                  <p class="col-md-6 offset-md-4 sm">Series A funding with new investors True Ventures and Bloomberg Beta</p>
                </div>
                <div class=" story--point">
                  <p class="col-md-7 offset-md-2 date">August 2015</p>
                  <p class="col-md-7 offset-md-2 sm">Copper builds Google Sheets add-on integration</p>
                </div>
                <div class="story--point">
                  <p class="col-md-6 offset-md-4 date">November 2015</p>
                  <p class="col-md-6 offset-md-4 sm">Became recommended crm on G Suite marketplace</p>
                </div>
                <div class=" story--point">
                  <p class="col-md-7 offset-md-2 date">March 2016</p>
                  <p class="col-md-7 offset-md-2 sm">Copper is named Google's Partner of the Year</p>
                </div>
                <div class="story--point">
                  <p class="col-md-6 offset-md-4 date">April 2016</p>
                  <p class="col-md-6 offset-md-4 sm">Copper reaches 1,000 international customers</p>
                </div>
                <div class=" story--point">
                  <p class="col-md-7 offset-md-2 date">May 2016</p>
                  <p class="col-md-7 offset-md-2 sm">Copper builds integration with Google Slides</p>
                </div>
                <div class="story--point">
                  <p class="col-md-6 offset-md-4 date">August 2016</p>
                  <p class="col-md-6 offset-md-4 sm">Copper launches second edition for enterprise businesses</p>
                </div>
                <div class=" story--point">
                  <p class="col-md-7 offset-md-2 date">September 2016</p>
                  <p class="col-md-7 offset-md-2 sm">Series B funding with True Ventures, Storm Ventures, NextWorld Capital, Industry Ventures, Devoteam, Financiere Saint James</p>
                </div>
                <div class="story--point">
                  <p class="col-md-6 offset-md-4 date">April 2017</p>
                  <p class="col-md-6 offset-md-4 sm">Copper is EU-U.S. Privacy Shield certified
                  </p>
                </div>
                <div class=" story--point">
                  <p class="col-md-7 offset-md-2 date">September 2017</p>
                  <p class="col-md-7 offset-md-2 sm">Copper secures series C funding with Norwest Venture Partners, GV, DHVC</p>
                </div>
                <div class="story--point">
                  <p class="col-md-6 offset-md-4 date">November 2017</p>
                  <p class="col-md-6 offset-md-4 sm">Copper becomes SOC 2 compliant</p>
                </div>
                <div class=" story--point">
                  <p class="col-md-7 offset-md-2 date">February 2018</p>
                  <p class="col-md-7 offset-md-2 sm">Copper launches Google Hangouts Chat bot</p>
                </div>
                <div class="story--point">
                  <p class="col-md-6 offset-md-4 date">April 2018</p>
                  <p class="col-md-6 offset-md-4 sm">Copper reaches 10,000 customers</p>
                </div>
                <div class=" story--point">
                  <p class="col-md-7 offset-md-2 date">July 2018</p>
                  <p class="col-md-7 offset-md-2 sm">Copper expands to 110 countries and is available in 9 languages</p>
                </div>
                <div class="story--point">
                  <p class="col-md-6 offset-md-4 date">July 2018</p>
                  <p class="col-md-6 offset-md-4 sm">Copper defines the Relationship Era</p>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <p class="c-about--our-road--end">What's next...</p>
              </div>            
            </div>
          </div>
        </div>
      </div>
    </div>
    {# </div> #}
  </section>

  <a class="anchor" id="leadership"></a>

  <section class="c-about--leadership">
    <div class="container">
      <div class="row">
        <h2 class="col-12">Leadership <span style="color:rgb(255, 52, 101); position:relative ; left:-15px;" > . </span></h2>
      </div>
      <div class="row justify-content-center">
        
        {# TDOD: New pic? #}
        <div class="col-md-4 col-sm-6 leader--profile">
          <picture>
          <source type="image/webp" srcset="/imgs/about/dennis-ceo-1.webp"  class="old-img"   alt="Dennis Fois photo" onclick="openLeadershipModal('CEO')">
          <source type="image/png" srcset="/imgs/about/dennis-ceo-1.jpg"  class="old-img"   alt="Dennis Fois photo" onclick="openLeadershipModal('CEO')">
          <img   class="old-img"   src="/imgs/about/dennis-ceo-1.jpg"   alt="Dennis Fois photo" onclick="openLeadershipModal('CEO')" >
</picture>
          <p>Dennis Fois</p>
          <p class="p-sm">CEO</p>
        </div>

        <!-- <div class="col-md-3 col-sm-6 leader--profile">
          <div class="circle-img--leaders" onclick="openLeadershipModal('CFO')">
              <picture>
          <source type="image/webp" srcset="/imgs/about/MG.webp"    alt="Mg photo" alt="Mg image" />
          <source type="image/png" srcset="/imgs/about/MG.jpg"    alt="Mg photo" alt="Mg image" />
          <img     src="/imgs/about/MG.jpg"   alt="Mg photo" alt="Mg image" / >
</picture>
          </div>
          <p>M.G. Thibaut</p>
          <p class="p-sm">Chief Financial Officer</p>
        </div>

        <div class="col-md-3 col-sm-6 leader--profile">
          <div class="circle-img--leaders" onclick="openLeadershipModal('VCS')">
              <picture>
          <source type="image/webp" srcset="/imgs/about/emilia.webp"    alt="Emilia photo"  />
          <source type="image/png" srcset="/imgs/about/emilia.jpg"    alt="Emilia photo"  />
          <img     src="/imgs/about/emilia.jpg"   alt="Emilia photo"  / >
</picture>
          </div>
          <p>Emilia D’Anzica</p>
          <p class="p-sm">Chief Customer Officer</p>
        </div> -->
 
        <div class="col-md-4 col-sm-6 leader--profile">
          <div class="circle-img--leaders" onclick="openLeadershipModal('CMO')">
              <picture>
          <source type="image/webp" srcset="/imgs/about/cs.webp"    alt="Carrie Shaw photo" />
          <source type="image/png" srcset="/imgs/about/cs.png"    alt="Carrie Shaw photo" />
          <img     src="/imgs/about/cs.png"   alt="Carrie Shaw photo" / >
</picture>
          </div>
          <p>Carrie Shaw</p>
          <p class="p-sm">Chief Marketing Officer</p>
        </div>

        <div class="col-md-4 col-sm-6 leader--profile">
          <div class="circle-img--leaders" onclick="openLeadershipModal('counsel')">
              <picture>
          <source type="image/webp" srcset="/imgs/about/ben.webp"    alt="Ben Hance photo" />
          <source type="image/png" srcset="/imgs/about/ben.jpg"    alt="Ben Hance photo" />
          <img     src="/imgs/about/ben.jpg"   alt="Ben Hance photo" / >
</picture>
          </div>
          <p>Ben Hance</p>
          <p class="p-sm">General Counsel </p>
        </div>

        <div class="col-md-4 col-sm-6 leader--profile">
          <div class="circle-img--leaders" onclick="openLeadershipModal('HO')">
              <picture>
          <source type="image/webp" srcset="/imgs/about/eugen-ilie-HO.webp"    alt="Eugen Ilie photo" />
          <source type="image/png" srcset="/imgs/about/eugen-ilie-HO.jpg"    alt="Eugen Ilie photo" />
          <img     src="/imgs/about/eugen-ilie-HO.jpg"   alt="Eugen Ilie photo" / >
</picture>
          </div>
          <p>Eugen Ilie</p>
          <p class="p-sm">Head of Growth</p>
        </div>

        <div class="col-md-4 col-sm-6 leader--profile">
          <div class="circle-img--leaders" onclick="openLeadershipModal('VPP')">
              <picture>
          <source type="image/webp" srcset="/imgs/about/Wyndham_Bio.webp"    alt="Wydham Hudson photo" />
          <source type="image/png" srcset="/imgs/about/Wyndham_Bio.jpg"    alt="Wydham Hudson photo" />
          <img     src="/imgs/about/Wyndham_Bio.jpg"   alt="Wydham Hudson photo" / >
</picture>
          </div>
          <p>Wyndham Hudson</p>
          <p class="p-sm">VP Product</p>
        </div>

        <div class="col-md-4 col-sm-6 leader--profile">
          <div class="circle-img--leaders" onclick="openLeadershipModal('VPG')">
              <picture>
          <source type="image/webp" srcset="/imgs/about/Olga_Bio.webp"    alt="Olga Lykova photo" />
          <source type="image/png" srcset="/imgs/about/Olga_Bio.jpg"    alt="Olga Lykova photo" />
          <img     src="/imgs/about/Olga_Bio.jpg"   alt="Olga Lykova photo" / >
</picture>
          </div>
          <p>Olga Lykova</p>
          <p class="p-sm">VP Global Alliances</p>
        </div>

        <div class="col-md-4 col-sm-6 leader--profile">
          <div class="circle-img--leaders" onclick="openLeadershipModal('VPS')">
              <picture>
          <source type="image/webp" srcset="/imgs/about/kent.webp"    alt="Kent Holland photo" />
          <source type="image/png" srcset="/imgs/about/kent.jpg"    alt="Kent Holland photo" />
          <img     src="/imgs/about/kent.jpg"   alt="Kent Holland photo" / >
</picture>
          </div>
          <p>Kent Holland</p>
          <p class="p-sm">VP Sales</p>
        </div>

        <div class="col-md-4 col-sm-6 leader--profile">
          <div class="circle-img--leaders" onclick="openLeadershipModal('VPE')">
              <picture>
          <source type="image/webp" srcset="/imgs/about/cory.webp"    alt="Cory Thomas photo" />
          <source type="image/png" srcset="/imgs/about/cory.jpg"    alt="Cory Thomas photo" />
          <img     src="/imgs/about/cory.jpg"   alt="Cory Thomas photo" / >
</picture>
          </div>
          <p>Cory Thomas</p>
          <p class="p-sm">VP Engineering</p>
        </div>

        <div class="col-md-4 col-sm-6 leader--profile">
          <div class="circle-img--leaders" onclick="openLeadershipModal('VPOP')">
              <picture>
          <source type="image/webp" srcset="/imgs/about/LD.webp"    alt="Lorraine Dorrow photo" />
          <source type="image/png" srcset="/imgs/about/LD.png"    alt="Lorraine Dorrow photo" />
          <img     src="/imgs/about/LD.png"   alt="Lorraine Dorrow photo" / >
</picture>
          </div>
          <p>Lorraine Dorrow</p>
          <p class="p-sm">VP of People</p>
        </div>

        <!-- <div class="col-md-4 col-sm-6 leader--profile">
          <div class="circle-img--leaders" onclick="openLeadershipModal('CMO')">
              <picture>
          <source type="image/webp" srcset="/imgs/about/Morgan.webp"    alt="Morgan Norman photo" />
          <source type="image/png" srcset="/imgs/about/Morgan.jpg"    alt="Morgan Norman photo" />
          <img     src="/imgs/about/Morgan.jpg"   alt="Morgan Norman photo" / >
</picture>
          </div>
          <p>Morgan Norman</p>
          <p class="p-sm">Chief Marketing Officer</p>
        </div> -->
        

        
            

      </div>

      {% import "/components/popup/_popup.html" as macro %}
      
      {{ macro.popup("about-bio") }}

      {# {% include 'about/_leadership-modal.html' %}  #}
      
    </div>
  </section>

  <section class="c-cols c-cols--investers c-cols-background--midnight diamond--mint diamond--bottom--left">
    <div class="container">
      <div class="row">
        <div class="col-md-8 order-2">
          <div class="c-image c-image--large c-image--left">
            <picture>
          <source type="image/webp" srcset="/imgs/about/investors.webp"    alt="Investors image">
          <source type="image/png" srcset="/imgs/about/investors.png"    alt="Investors image">
          <img     src="/imgs/about/investors.png"   alt="Investors image" >
</picture>
          </div>
        </div>
        <div class="col-md-4 order-1">
          <h2>Investors & Board Members</h2>
        </div>
      </div>
    </div>
  </section>

  <a class="anchor" id="careers"></a>

  <section class="c-about--careers">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <h2 class="t-long-title">Current Openings</h2>
        </div>
        <div class="col-md-8">
          <div id='lever-jobs-container'></div><script type='text/javascript'>window.leverJobsOptions = {accountName: 'copper', includeCss: true};</script><script type='text/javascript' src='https://andreasmb.github.io/lever-jobs-embed/index.js'></script>
        </div>
      </div>
    </div>
  </section>

{% endblock %}