<div class="row">
  <div id="l-modal--leadership--overlay">
    <div class="l-modal--leadership--content " id="leadershipModal">
      <div class="modal-content">
        <a class="modal-close" data-dismiss="modal" aria-label="Close" onClick="closeLeadershipModal()">
          <svg width="14px" height="14px" viewbox="0 0 14 14" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
            <defs></defs>
            <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
              <g id="Request-a-demo-modal---no-logo" transform="translate(-233.000000, -225.000000)">
                <g id="baseline-close-24px-copy" transform="translate(228.000000, 220.000000)">
                  <polygon id="Shape" fill="#FF3465" fill-rule="nonzero" points="19 6.41 17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12"></polygon>
                  <polygon id="Shape" points="0 0 24 0 24 24 0 24"></polygon>
                </g>
              </g>
            </g>
          </svg>
        </a>
        <div class="container">
          <div class="title row">
            <div class="col-md-4 leader-img">
              <div class="circle-img--leaders">
                <picture>
          <source type="image/webp" srcset="/imgs/about/jon-CEO.webp"    id="leader-image" alt="Jon image" />
          <source type="image/png" srcset="/imgs/about/jon-CEO.jpg"    id="leader-image" alt="Jon image" />
          <img     src="/imgs/about/jon-CEO.jpg"   id="leader-image" alt="Jon image" / >
</picture>
              </div>
            </div>
            <div class="col-md-8 leader-titles">
              <p id="leader-name"></p>
              <p id="leader-title" class="sm putty"></p>
            </div>
          </div>
          <div class="bio row">
            <div class="col-12">
              <p id="leader-bio" class="p-sm">
              </p>
            </div>
          </div>
        </div>
      </div>          
    </div>
  </div>
</div>