{% extends "_top-nav.html" %}

{% block topNav %}
<style>
  .about #we-believe-jumble .c-panel--small{
    justify-content: flex-start;
  }
</style>
  <section class="c-hero--split midnight product-page no-transition">
    <div class="c-image">
      <picture>
          <source type="image/webp" srcset="imgs/about/hero/image_about-hero2@2x.webp"    alt="Priscilla du preez Xk K Cui44i M0 unsplash 1">
          <source type="image/png" srcset="imgs/about/hero/image_about-hero2@2x.png"    alt="Priscilla du preez Xk K Cui44i M0 unsplash 1">
          <img     src="imgs/about/hero/image_about-hero2@2x.png"   alt="Priscilla du preez Xk K Cui44i M0 unsplash 1" >
</picture>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-6 c-valign--middle">
          <div class="hero-text">
            <h1>The CRM that puts relationships first.</h1>
            <p>We’re here to help you build authentic business relationships for life.</p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Our story section -->
  <section class="c-cols c-cols-landing asset-first-mobile hot-pink-checks  extra-bottom-margin--medium">

      <div class="container c-animation-container">
      <div class="row">
        <div class="col-md-6 d-flex align-items-center offset-md-1 order-2 animation-element slide-bottom in-view c-cols-landing-asset">
          <div class="c-image c-image--center c-image--shadow h-remove-shadow t">
            <picture>
          <source type="image/webp" srcset="imgs/about/image_our-story@2x.webp"  class="h-remove-shadow"   alt="Our story image">
          <source type="image/png" srcset="imgs/about/image_our-story@2x.png"  class="h-remove-shadow"   alt="Our story image">
          <img   class="h-remove-shadow"   src="imgs/about/image_our-story@2x.png"   alt="Our story image" >
</picture>
          </div>
        </div>
        <div class="col-md-5 c-valign--middle order-1 c-cols-landing-content">
          <h3>Our story.</h3>
          <p>Copper is not just another CRM. We built it from the ground up to help you cultivate enduring relationships with your clients. We wanted a change from unwieldy databases with legions of custom fields, so we reimagined CRM to enable purposeful collaboration between you and the people who matter most to your business. With Copper, your business will grow the right way: with loyal customers for life.</p>
        </div>
      </div>
    </div>
  </section>


  <section id="we-believe-jumble" class="c-jumble c-jumble-inverted c-our-story c-jumble-background--putty">
    <div class="container">
      <div class="c-jumble__container col-md-10">
        <div class="c-jumble__content">
          <div class="row">
            <div id="jumble-slider" class="col-md-6 col-sm-12">
              <div class="c-panel--small c-panel--top--mint c-valign--middle rectangle--hot-pink rectangle--bottom--left about-page">
                <pre class="c-eyebrow">we believe in</pre>
                <div class="c-our-story-carousel--content">
                  <p>A CRM that lets you spend time on relationships, not data.</p>
                  <p>A CRM that ends data entry</p>
                  <p>A CRM that people will actually use</p>
                  <p>A CRM that works in productivity tools (G Suite)</p>
                  <p>A CRM that is not just for sellers, but for any relationship type</p>
                  <p>A CRM that you can deploy in minutes</p>
                  <p>A CRM that is designed like the tools you love</p>
                  <p>A CRM that works where you work</p>
                  <p>A CRM that adapts to any team</p>
                  <p>A CRM that recommends what to do next
                  </p>
                </div>
              </div>
            </div>
            <div id="jumble-content" class="col-md-6 col-sm-12 c-valign--middle">
              <p class="sm graphite">
                It also happens to be beautiful, easy to use, and natively integrated with G Suite - letting you work where you always work: out of your inbox. So your team doesn't have to learn Copper. They already know how to use it.
                <br />
                <br />
                When opportunity knocks, it’s always a person knocking… and answering. Copper exists so you can foster substantive, real relationships to build a better business.                
              </p>
            </div>
          </div>
        </div>

      </div>
    </div>
  </section>


  <!-- Our customers section -->
  <section id="" class="purple c-cols c-cols-landing c-cols--investers diamond--mint diamond--bottom--left diamond--z-index-increased" style="padding-bottom: 100px; padding-top: 100px;">
    <div class="container c-animation-container circle--mint circle--top--right">
    <div class="row">
      <div class="col-md-7 d-flex align-items-center offset-md-1 order-2 animation-element slide-bottom in-view">
        <div class="c-image c-image--center c-image--shadow h-remove-shadow">
          <picture>
          <source type="image/webp" srcset="https://copper.objects.frb.io/imgs/about/LogoGardenv2.webp"  class="h-remove-shadow"   alt="Logo garden image">
          <source type="image/png" srcset="https://copper.objects.frb.io/imgs/about/LogoGardenv2.png"  class="h-remove-shadow"   alt="Logo garden image">
          <img   class="h-remove-shadow"   src="https://copper.objects.frb.io/imgs/about/LogoGardenv2.png"   alt="Logo garden image" >
</picture>
        </div>
      </div>
      <div class="col-md-4 c-valign--middle order-1">
        <h3>Our customers.</h3>
        <p>Thousands of companies in over 100 countries use Copper to grow their businesses.</p>

      </div>
    </div>

  </div>
</section>


  <section class="c-numbers about">
    <div class="container">
      <div class="row justify-content-center">
        <h2 class="text-center">Our numbers.</h2>
      </div>
      <div class="row">
        <div class="col-md-4">
          <div class="c-number__entry c-valign--middle">
            <span class="t-numbers add-underline extended-line text-center" style="color: black;">2013</span>
              <p class="text-center">Year Founded</p>
          </div>
        </div>
        <div class="col-md-4">
          <div class="c-number__entry c-valign--middle text-center">
            <span class="t-numbers add-underline extended-line text-center " style="color: black;">25K+</span>
            <p class="text-center">Great Companies</p>
          </div>
        </div>
        <div class="col-md-4">
          <div class="c-number__entry c-valign--middle">
            <span class="t-numbers add-underline extended-line text-center" style="color: black;">$90M</span>
            <p class="text-center">In Funding</p>
          </div>
        </div>
        {#<div class="col-md-4">
          <div class="c-number__entry c-valign--middle">
            <span class="t-numbers add-underline extended-line text-center" style="color: black;">$2M</span>
            <div class="c-number__description">
              <p class="text-center">In Deals Closed Every Day</p>
            </div>
          </div>
        </div>#}
      </div>
    </div>
  </section>
  <a class="anchor" id="leadership"></a>

  <section class="c-about--leadership">
    <div class="container">
        <div class="row">
            <h2 class="col-12">Our leadership.</h2>
            <div class="col-md-8" style="margin-left: auto; margin-right: auto;">
                <p>We are a down-to-earth group of professionals with decades of experience building value-oriented software for businesses of all sizes.</p>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-4 col-sm-6 leader--profile">
                <div class="circle-img--leaders" onclick="openLeadershipModal('CEO')">
                    <picture>
                        <source type="image/webp" srcset="/imgs/about/dennis-ceo-1.webp" alt="Dennis Fois photo">
                        <source type="image/png" srcset="/imgs/about/dennis-ceo-1.jpg" alt="Dennis Fois photo">
                        <img src="/imgs/about/dennis-ceo-1.jpg" alt="Dennis Fois photo" onclick="openLeadershipModal('CEO')">
                    </picture>
                </div>
                <p>Dennis Fois</p>
                <p class="p-sm">CEO</p>
                <span onclick="openLeadershipModal('CEO')" class="t-link extra-top-margin--xx-medium-small">View Bio</span>
            </div>
            <div class="col-md-4 col-sm-6 leader--profile">
                <div class="circle-img--leaders" onclick="openLeadershipModal('CMO')">
                    <picture>
                        <source type="image/webp" srcset="/imgs/about/image_leadership-avatar_carrie@2x.webp" alt="Carrie Shaw photo" />
                        <source type="image/png" srcset="/imgs/about/image_leadership-avatar_carrie@2x.png" alt="Carrie Shaw photo" />
                        <img src="/imgs/about/image_leadership-avatar_carrie@2x.png" alt="Carrie Shaw photo" />
                    </picture>
                </div>
                <p>Carrie Shaw</p>
                <p class="p-sm">Chief Marketing Officer</p>
                <span onclick="openLeadershipModal('CMO')" class="t-link extra-top-margin--xx-medium-small">View Bio</span>
            </div>
            <div class="col-md-4 col-sm-6 leader--profile">
                <div class="circle-img--leaders" onclick="openLeadershipModal('counsel')">
                    <picture>
                        <source type="image/webp" srcset="/imgs/about/ben.webp" alt="Ben Hance photo" />
                        <source type="image/png" srcset="/imgs/about/ben.jpg" alt="Ben Hance photo" />
                        <img src="/imgs/about/ben.jpg" alt="Ben Hance photo" />
                    </picture>
                </div>
                <p>Ben Hance</p>
                <p class="p-sm">General Counsel </p>
                <span onclick="openLeadershipModal('counsel')" class="t-link extra-top-margin--xx-medium-small">View Bio</span>
            </div>
            <div class="col-md-4 col-sm-6 leader--profile">
                <div class="circle-img--leaders" onclick="openLeadershipModal('HO')">
                    <picture>
                        <source type="image/webp" srcset="/imgs/about/eugen-ilie-HO.webp" alt="Eugen Ilie photo" />
                        <source type="image/png" srcset="/imgs/about/eugen-ilie-HO.jpg" alt="Eugen Ilie photo" />
                        <img src="/imgs/about/eugen-ilie-HO.jpg" alt="Eugen Ilie photo" />
                    </picture>
                </div>
                <p>Eugen Ilie</p>
                <p class="p-sm">Head of Growth</p>
                <span onclick="openLeadershipModal('HO')" class="t-link extra-top-margin--xx-medium-small">View Bio</span>
            </div>
            <div class="col-md-4 col-sm-6 leader--profile">
                <div class="circle-img--leaders" onclick="openLeadershipModal('VPP')">
                    <picture>
                        <source type="image/webp" srcset="/imgs/about/Wyndham_Bio.webp" alt="Wydham Hudson photo" />
                        <source type="image/png" srcset="/imgs/about/Wyndham_Bio.jpg" alt="Wydham Hudson photo" />
                        <img src="/imgs/about/Wyndham_Bio.jpg" alt="Wydham Hudson photo" />
                    </picture>
                </div>
                <p>Wyndham Hudson</p>
                <p class="p-sm">VP Product</p>
                <span onclick="openLeadershipModal('VPP')" class="t-link extra-top-margin--xx-medium-small">View Bio</span>
            </div>
            <div class="col-md-4 col-sm-6 leader--profile">
                <div class="circle-img--leaders" onclick="openLeadershipModal('VPG')">
                    <picture>
                        <source type="image/webp" srcset="/imgs/about/Olga_Bio.webp" alt="Olga Lykova photo" />
                        <source type="image/png" srcset="/imgs/about/Olga_Bio.jpg" alt="Olga Lykova photo" />
                        <img src="/imgs/about/Olga_Bio.jpg" alt="Olga Lykova photo" />
                    </picture>
                </div>
                <p>Olga Lykova</p>
                <p class="p-sm">VP Global Alliances</p>
                <span onclick="openLeadershipModal('VPG')" class="t-link extra-top-margin--xx-medium-small">View Bio</span>
            </div>
            <div class="col-md-4 col-sm-6 leader--profile">
                <div class="circle-img--leaders" onclick="openLeadershipModal('VPS')">
                    <picture>
                        <source type="image/webp" srcset="/imgs/about/image_leadership-avatar_kent@2x.webp" alt="Kent Holland photo" />
                        <source type="image/png" srcset="/imgs/about/image_leadership-avatar_kent@2x.png" alt="Kent Holland photo" />
                        <img src="/imgs/about/image_leadership-avatar_kent@2x.png" alt="Kent Holland photo" />
                    </picture>
                </div>
                <p>Kent Holland</p>
                <p class="p-sm">VP Sales</p>
                <span onclick="openLeadershipModal('VPS')" class="t-link extra-top-margin--xx-medium-small">View Bio</span>
            </div>
            <div class="col-md-4 col-sm-6 leader--profile">
                <div class="circle-img--leaders" onclick="openLeadershipModal('VPE')">
                    <picture>
                        <source type="image/webp" srcset="/imgs/about/cory_rework2.webp" alt="Cory Thomas photo" />
                        <source type="image/png" srcset="/imgs/about/cory_rework2.png" alt="Cory Thomas photo" />
                        <img src="/imgs/about/cory_rework2.png" alt="Cory Thomas photo" />
                    </picture>
                </div>
                <p>Cory Thomas</p>
                <p class="p-sm">VP Engineering</p>
                <span onclick="openLeadershipModal('VPE')" class="t-link extra-top-margin--xx-medium-small">View Bio</span>
            </div>
            <div class="col-md-4 col-sm-6 leader--profile">
                <div class="circle-img--leaders" onclick="openLeadershipModal('VPOP')">
                    <picture>
                        <source type="image/webp" srcset="/imgs/about/image_leadership-avatar_lorraine@2x.webp" alt="Lorraine Dorrow photo" />
                        <source type="image/png" srcset="/imgs/about/image_leadership-avatar_lorraine@2x.png" alt="Lorraine Dorrow photo" />
                        <img src="/imgs/about/image_leadership-avatar_lorraine@2x.png" alt="Lorraine Dorrow photo" />
                    </picture>
                </div>
                <p>Lorraine Dorrow</p>
                <p class="p-sm">VP People</p>
                <span onclick="openLeadershipModal('VPOP')" class="t-link extra-top-margin--xx-medium-small">View Bio</span>
            </div>
        </div>
        {% import "/components/popup/_popup.html" as macro %}
        {{ macro.popup("about-bio") }}
        {# {% include 'about/_leadership-modal.html' %} #}
    </div>
</section>
  <a class="anchor" id="news"></a>

  <!-- Highlights section -->
  <section class="h-section-padding">
    <div class="section-cover putty">
    </div>
    <div class="container tools-category">
      <h2 class="text-center">News highlights.</h2>
      <div class="container">
        <div class="row extra-top-margin--small">
          <picture>
          <source type="image/webp" srcset="/imgs/dot-shape.webp"  class="dotted-circle-svg"   alt="Dot shape image">
          <source type="image/png" srcset="/imgs/dot-shape.png"  class="dotted-circle-svg"   alt="Dot shape image">
          <img   class="dotted-circle-svg"   src="/imgs/dot-shape.png"   alt="Dot shape image" >
</picture>
          <picture>
          <source type="image/webp" srcset="/imgs/image_news-dot-pattern-circle@2x.webp"  class="dotted-circle-right"   alt="Dot pattern circle image" style="position: absolute;">
          <source type="image/png" srcset="/imgs/image_news-dot-pattern-circle@2x.png"  class="dotted-circle-right"   alt="Dot pattern circle image" style="position: absolute;">
          <img   class="dotted-circle-right"   src="/imgs/image_news-dot-pattern-circle@2x.png"   alt="Dot pattern circle image" style="position: absolute;" >
</picture>
          <div class="col-md-4 c-card--tool ">
            <div class="c-card__entry c-card--internal-padding c-card--permanent-shadow c-card--full-height">
              <div class="c-top-logo">
                <picture>
          <source type="image/webp" srcset="imgs/about/highlights/image_news-logo-techcrunch2@2x.webp"    alt="Techcrunch news logo">
          <source type="image/png" srcset="imgs/about/highlights/image_news-logo-techcrunch2@2x.png"    alt="Techcrunch news logo">
          <img     src="imgs/about/highlights/image_news-logo-techcrunch2@2x.png"   alt="Techcrunch news logo" >
</picture>
              </div>
              <p>Copper raises $53M for its G Suite-centric CRM</p>
              <div class="c-card__meta c-card__meta--noline c-card__meta--nopadding ">
                <a class="t-link" href="https://techcrunch.com/2017/09/26/prosperworks-raises-53m-for-its-g-suite-centric-crm-service/">Learn More</a>
              </div>
            </div>
          </div>
          <div class="col-md-4 c-card--tool ">
            <div class="c-card__entry c-card--internal-padding c-card--permanent-shadow c-card--full-height">
              <div class="c-top-logo">
                <picture>
          <source type="image/webp" srcset="imgs/about/highlights/image_news-logo-forbes2@2x.webp"    alt=" Forbes news logo">
          <source type="image/png" srcset="imgs/about/highlights/image_news-logo-forbes2@2x.png"    alt=" Forbes news logo">
          <img     src="imgs/about/highlights/image_news-logo-forbes2@2x.png"   alt=" Forbes news logo" >
</picture>
              </div>
              <p>On CRM: ProsperWorks CRM is now Copper… But That’s Not What’s Most Important</p>
              <div class="c-card__meta c-card__meta--noline c-card__meta--nopadding ">
                <a class="t-link" href="https://www.forbes.com/sites/quickerbettertech/2018/07/26/on-crm-prosperworks-crm-is-now-copper-but-thats-not-whats-most-important/?sh=4f5e3777ec35">Learn More</a>
              </div>
            </div>
          </div>
          <div class="col-md-4 c-card--tool ">
            <div class="c-card__entry c-card--internal-padding c-card--permanent-shadow c-card--full-height">
              <div class="c-top-logo">
                <picture>
          <source type="image/webp" srcset="imgs/about/highlights/image_news-logo-yahoo2@2x.webp"    alt="Yahoo news logo">
          <source type="image/png" srcset="imgs/about/highlights/image_news-logo-yahoo2@2x.png"    alt="Yahoo news logo">
          <img     src="imgs/about/highlights/image_news-logo-yahoo2@2x.png"   alt="Yahoo news logo" >
</picture>
              </div>
              <p>Copper, the CRM for G Suite, Is the Fastest Growing CRM for Digital Agencies</p>
              <div class="c-card__meta c-card__meta--noline c-card__meta--nopadding ">
                <a class="t-link" href="https://www.copper.com/tools/accounting-tools">Learn More</a>
              </div>
            </div>
          </div>
          <div class="col-md-4 c-card--tool last-card">
            <div class="c-card__entry c-card--internal-padding c-card--permanent-shadow c-card--full-height">
              <div class="c-top-logo">
                <picture>
          <source type="image/webp" srcset="imgs/about/highlights/image_news-logo-gartner2@2x.webp"    alt="Gartner news logo">
          <source type="image/png" srcset="imgs/about/highlights/image_news-logo-gartner2@2x.png"    alt="Gartner news logo">
          <img     src="imgs/about/highlights/image_news-logo-gartner2@2x.png"   alt="Gartner news logo" >
</picture>
              </div>
              <p>Copper added to the Gartner Magic Quadrant for Sales Force Automation, 2019</p>
              <div class="c-card__meta c-card__meta--noline c-card__meta--nopadding ">
                <a class="t-link" href="https://martechseries.com/technology/copper-positioned-gartners-2019-magic-quadrant-sales-force-automation/">Learn More</a>
              </div>
            </div>
          </div>
          <div class="col-md-4 c-card--tool last-card">
            <div class="c-card__entry c-card--internal-padding c-card--permanent-shadow c-card--full-height">
              <div class="c-top-logo">
                <picture>
          <source type="image/webp" srcset="imgs/about/highlights/image_news-logo-pcmag2@2x.webp"    alt="Pcmag news image">
          <source type="image/png" srcset="imgs/about/highlights/image_news-logo-pcmag2@2x.png"    alt="Pcmag news image">
          <img     src="imgs/about/highlights/image_news-logo-pcmag2@2x.png"   alt="Pcmag news image" >
</picture>
              </div>
              <p>Copper maintains its focus on extreme ease of use for folks needing CRM who have also standardized on
                Google's productivity environment.</p>
              <div class="c-card__meta c-card__meta--noline c-card__meta--nopadding ">
                <a class="t-link" href="https://au.pcmag.com/cloud-services-1/48133/copper-review">Learn More</a>
              </div>
            </div>
          </div>
          <div class="col-md-4 c-card--tool last-card">
            <div class="c-card__entry c-card--internal-padding c-card--permanent-shadow c-card--full-height">
              <div class="c-top-logo">
                <picture>
          <source type="image/webp" srcset="imgs/about/highlights/image_news-logo-forbes2@2x.webp"    alt="Forbes news logo">
          <source type="image/png" srcset="imgs/about/highlights/image_news-logo-forbes2@2x.png"    alt="Forbes news logo">
          <img     src="imgs/about/highlights/image_news-logo-forbes2@2x.png"   alt="Forbes news logo" >
</picture>
              </div>
              <p>Copper's Winning 60% Against Salesforce In $52B CRM Market</p>
              <div class="c-card__meta c-card__meta--noline c-card__meta--nopadding ">
                <a class="t-link" href="https://www.forbes.com/sites/petercohan/2018/08/08/coppers-winning-60-against-salesforce-in-52b-crm-market/?sh=3381451a13f8">Learn More</a>
              </div>
            </div>
          </div>
        </div>
        <div class="c-valign--middle mobile-container" style="align-items: center;">
          <button id="display-more-button" class="c-button c-button--white" style="width: fit-content;">Show More</button>
        </div>
      </div>
    </div>
  </section>

  <script>
    LazyLoad.js([
      'https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js',
      'https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.js',
      '/js/functions.min.{{ staticAssetsVersion }}.js'],function(){
      // 
      $('#display-more-button').on('click', function(){
        $('.last-card').toggleClass('active');
        $('#display-more-button').css('display','none');
      });

      /*****************
      * About page our story Carousel
      *****************/

      var $story_quote_carousel = $('.c-our-story-carousel--content');	

      // If there's a carousel on the page...
      if( $story_quote_carousel.length ){
        $story_quote_carousel.on('init', function(slick) {
          $story_quote_carousel.css('max-height','86%');
        });

        $story_quote_carousel.slick({
          fade: true,
          autoplay: true,
          dots: true,
          infinite: true,
          arrows: false
        });
      }
    });
  </script>


  <!-- Rewards section -->
  <section id="" class="c-single-column  bottom-padding-mobile home-proof ">
    <div class="container">
        <div class="col-md-12">
          <div class="text-center extra-bottom-margin--small"><h4>Our awards.</h4></div>
          <div class="smb-logo-icons">
            <ul class="logo-section--one-column">
              <li id="temp-logo-module--images" class="logo-section--images two-cols-mobile">
                <picture>
          <source type="image/webp" srcset="imgs/about/awards/image_award-logo_gartner@2x.webp"    alt="Gartner award logo">
          <source type="image/png" srcset="imgs/about/awards/image_award-logo_gartner@2x.png"    alt="Gartner award logo">
          <img     src="imgs/about/awards/image_award-logo_gartner@2x.png"   alt="Gartner award logo" >
</picture>
              </li>
              <li id="temp-logo-module--images" class="logo-section--images two-cols-mobile">
                <picture>
          <source type="image/webp" srcset="imgs/about/awards/image_award-logo_g2@2x.webp"    alt="G2 award logo">
          <source type="image/png" srcset="imgs/about/awards/image_award-logo_g2@2x.png"    alt="G2 award logo">
          <img     src="imgs/about/awards/image_award-logo_g2@2x.png"   alt="G2 award logo" >
</picture>
              </li>
              <li id="temp-logo-module--images" class="logo-section--images two-cols-mobile">
                <picture>
          <source type="image/webp" srcset="imgs/about/awards/image_award-logo_inc@2x.webp"    alt="Inc award logo">
          <source type="image/png" srcset="imgs/about/awards/image_award-logo_inc@2x.png"    alt="Inc award logo">
          <img     src="imgs/about/awards/image_award-logo_inc@2x.png"   alt="Inc award logo" >
</picture>
              </li>
              <li id="temp-logo-module--images" class="logo-section--images two-cols-mobile">
                <picture>
          <source type="image/webp" srcset="imgs/about/awards/image_award-logo_appalie@2x.webp"    alt="Appalie award logo">
          <source type="image/png" srcset="imgs/about/awards/image_award-logo_appalie@2x.png"    alt="Appalie award logo">
          <img     src="imgs/about/awards/image_award-logo_appalie@2x.png"   alt="Appalie award logo" >
</picture>
              </li>
              <li id="temp-logo-module--images" class="logo-section--images two-cols-mobile">
                <picture>
          <source type="image/webp" srcset="imgs/about/awards/image_award-logo_martech@2x.webp"    alt="Martech award logo">
          <source type="image/png" srcset="imgs/about/awards/image_award-logo_martech@2x.png"    alt="Martech award logo">
          <img     src="imgs/about/awards/image_award-logo_martech@2x.png"   alt="Martech award logo" >
</picture>
              </li>
              <li id="temp-logo-module--images" class="logo-section--images two-cols-mobile">
                <picture>
          <source type="image/webp" srcset="imgs/about/awards/image_award-logo_capterra@2x.webp"    alt="Capterra award logo">
          <source type="image/png" srcset="imgs/about/awards/image_award-logo_capterra@2x.png"    alt="Capterra award logo">
          <img     src="imgs/about/awards/image_award-logo_capterra@2x.png"   alt="Capterra award logo" >
</picture>
              </li>
            </ul>
          </div>
        </div>
    </div>
  </section>

  <section id="investors-section" class="c-cols c-cols--investers c-cols-background--midnight diamond--mint diamond--top--left diamond--z-index-increased">
    <div class="container circle--hot-pink circle--bottom--right circle--z-index-increased">
      <div class="row">
        <div class="col-md-8 order-2">
          <div class="c-image c-image--large c-image--left">
            <picture>
          <source type="image/webp" srcset="/imgs/about/image_investor-logos-full@2x.webp"    alt="Investor logo full">
          <source type="image/png" srcset="/imgs/about/image_investor-logos-full@2x.png"    alt="Investor logo full">
          <img     src="/imgs/about/image_investor-logos-full@2x.png"   alt="Investor logo full" >
</picture>
          </div>
        </div>
        <div class="col-md-4 order-1">
          <h2>Our investors and board.</h2>
        </div>
      </div>
    </div>
  </section>

  <section style="margin-top: 70px;"> 
    <div class="container">
      <div class="row">
        <div class="col-md-12" style="text-align: center;">
          <p class="extra-bottom-margin--xx-medium-small" style="font-size: 28px; line-height: 36px; font-weight: bold;">Our Offices</p>
        </div>
      </div>
      <div class="row">
        <div class="location-card-container">
          <div class="location-card col-md-4">
            <div class="logo-container">
              <picture>
          <source type="image/webp" srcset="imgs/office-logos/image_location-spot-sanfran@2x.webp"    alt="Location San Fracisco location">
          <source type="image/png" srcset="imgs/office-logos/image_location-spot-sanfran@2x.png"    alt="Location San Fracisco location">
          <img     src="imgs/office-logos/image_location-spot-sanfran@2x.png"   alt="Location San Fracisco location" >
</picture>
            </div>
            <div class="location-content">
              <h4 class="header">San Francisco</h4>
              <div class="paragraph">
                <p class="multiple-2-card-trailer">301 Howard St. #600
                  San Francisco, CA 94105</p>
              </div>
            </div>
          </div>
          <div class="location-card col-md-4">
            <div class="logo-container">
              <picture>
          <source type="image/webp" srcset="imgs/office-logos/image_location-spot-toronto@2x.webp"    alt="Location Toronto location">
          <source type="image/png" srcset="imgs/office-logos/image_location-spot-toronto@2x.png"    alt="Location Toronto location">
          <img     src="imgs/office-logos/image_location-spot-toronto@2x.png"   alt="Location Toronto location" >
</picture>
            </div>
            <div class="location-content">
              <h4 class="header">Toronto</h4>
              <div class="paragraph">
                <p class="no-top-margin multiple-2-card-trailer">1050 King St. West
                  Toronto, ON
                  M6K 0C7</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <a class="anchor" id="careers"></a>

  <section id="" class="c-quote-callout text-md-center split-img-background-callout c-valign--middle">
    <div class="container">
      <div class="row c-align--middle" style="justify-content: center;">
        <div class="c-quote-callout__copy col-md-5 ">
          <h2>Join Us!</h2>
          <p></p>
          <h1></h1>
          <p>What we have achieved so far is the result of empowering ambitious, thoughtful people to do exceptional things. We’re betting the future of Copper on that strategy. Embark on a career at Copper - from anywhere.</p>
          <p></p>
          <div class="c-hero__buttons">
            <a class="c-button c-button--hot-pink" target="_blank"
              href="https://jobs.lever.co/copper/">See Openings</a>
          </div>
        </div>
        <div class="img-companier">
          <picture>
          <source type="image/webp" srcset="imgs/about/join-us/image_cta-left@2x.webp"  class="img-left"   alt="Logo">
          <source type="image/png" srcset="imgs/about/join-us/image_cta-left@2x.png"  class="img-left"   alt="Logo">
          <img   class="img-left"   src="imgs/about/join-us/image_cta-left@2x.png"   alt="Logo" >
</picture>
          <picture>
          <source type="image/webp" srcset="imgs/about/join-us/image_cta-right@2x.webp"  class="img-right"   alt="Logo">
          <source type="image/png" srcset="imgs/about/join-us/image_cta-right@2x.png"  class="img-right"   alt="Logo">
          <img   class="img-right"   src="imgs/about/join-us/image_cta-right@2x.png"   alt="Logo" >
</picture>
        </div>
      </div>
    </div>
  </section>


{% endblock %}