<section class="c-gate-form c-gate-form--demo c-cols d-none" id="choose-webinar-confrimation">
  <div class="container">
    <div class="row">
      <div class="col-md-5 c-gate-form__form">
        <h2 class="t-resource-period--hot-pink">Thank you</h2>
        <p id="choose-webinar-confrimation-large" class="h-clear-bottom-margin d-none">
          We will be in touch with you shortly. In the meantime, here’s a picture of our beloved copper pup, Frank.
          <br>
          <br>
          We also recommend checking out<br> <a class="t-normal-link" style="margin-top: 14px;" onClick="viewDemosPage()" >our demo</a> for an intro to Copper.
        </p>
        <div id="choose-webinar-confrimation-medium" class="d-none">
          <p class="h-clear-bottom-margin">We’re looking forward to seeing you at the live demo. In the meantime, here’s a picture of our beloved copper pup, Frank.
          <br>
          <br>
          We also recommend starting a free trial.</p>
          <div class="c-hero__buttons">
            <a class="c-button sendUTMsToAmplitude" href="{{ craft.app.config.general.signUpUrl }}">Try Free</a> 
          </div>
        </div>
      </div>
      <div class="col-md-7 c-gate-form__confirmation-img d-none d-lg-block d-xl-block">
        <picture>
          <source type="image/webp" srcset="imgs/demos/demo-confirmation.webp"  alt="Demo confirmation image"  >
          <source type="image/png" srcset="imgs/demos/demo-confirmation.jpg"  alt="Demo confirmation image"  >
          <img   alt="Demo confirmation image"   src="imgs/demos/demo-confirmation.jpg"   >
</picture>
      </div>
    </div>
  </div>
</section>
