<section class="l-demo-thumbnails" style="padding-bottom:121px;">
  <div class="container">
    {# <h2 class="t-resource-period--hot-pink">Watch a demo</h2> #}
      <div class="row" style="margin-bottom:64px;">
        <div class="col-md-12 wistia-responsive-video" style="margin-bottom:80px;">
          <!-- <script src="//fast.wistia.com/embed/medias/pmc7iaf2o2.jsonp" async></script>
          <div class="wistia_responsive_padding" style="padding:56.25% 0 0 0;position:relative;">
          <div class="wistia_responsive_wrapper" style="height:100%;left:0;position:absolute;top:0;width:100%;">
          <div class="wistia_embed wistia_async_pmc7iaf2o2 seo=false videoFoam=true" style="height:100%;width:100%">&nbsp;</div></div></div>-->
          <!-- <script src="https://prosperworks.wistia.com/medias/45dro7cdil" async></script><script src="https://fast.wistia.com/assets/external/E-v1.js" async></script><div class="wistia_responsive_padding" style="padding:56.25% 0 0 0;position:relative;"><div class="wistia_responsive_wrapper" style="height:100%;left:0;position:absolute;top:0;width:100%;"><div class="wistia_embed wistia_async_pmc7iaf2o2 videoFoam=true" style="height:100%;position:relative;width:100%"><div class="wistia_swatch" style="height:100%;left:0;opacity:0;overflow:hidden;position:absolute;top:0;transition:opacity 200ms;width:100%;"><img src="https://fast.wistia.com/embed/medias/pmc7iaf2o2/swatch" style="filter:blur(5px);height:100%;object-fit:contain;width:100%;" alt="Thumbnail card image" aria-hidden="true" onload="this.parentNode.style.opacity=1;" /></div></div></div></div> -->
          <script src="https://fast.wistia.com/embed/medias/45dro7cdil.jsonp" async></script><script src="https://fast.wistia.com/assets/external/E-v1.js" async></script><div class="wistia_responsive_padding" style="padding:56.25% 0 0 0;position:relative;"><div class="wistia_responsive_wrapper" style="height:100%;left:0;position:absolute;top:0;width:100%;"><div class="wistia_embed wistia_async_45dro7cdil videoFoam=true" style="height:100%;position:relative;width:100%"><div class="wistia_swatch" style="height:100%;left:0;opacity:0;overflow:hidden;position:absolute;top:0;transition:opacity 200ms;width:100%;"><img src="https://fast.wistia.com/embed/medias/45dro7cdil/swatch" style="filter:blur(5px);height:100%;object-fit:contain;width:100%;" alt="Thumbnail card image" aria-hidden="true" onload="this.parentNode.style.opacity=1;" /></div></div></div></div>
        </div>
        <div class="col-md-6">
          <h2 class="t-resource-period--hot-pink" style="max-width: 430px;">Finally, the CRM for G Suite</h2>
          <p style="max-width: 430px;">Meet Copper, the CRM that keeps all your contacts, deals, emails, files, and more in one place. If you use Gmail, you’ll know how to use Copper. <br>
            <br>
          With Copper you can:</p>
          <ul>
            <li>Manage leads and customers right from your inbox</li>
            <li>Get visibility into all client touch points</li>
            <li>Add customer information instantly so there’s no manual data entry</li>
            <li>Automate follow up and stay on top of your to-dos</li>
            <li>Get started in minutes</li>
          </ul>
        </div>
        <div class="col-md-6">
          <picture>
          <source type="image/webp" srcset="/imgs/gsuite-HERO@2x.webp"  class="c-copper-chronicles__ad__img c-copper-chronicles__ad__img--demos" alt="G suite hero image"  >
          <source type="image/png" srcset="/imgs/gsuite-HERO@2x.png"  class="c-copper-chronicles__ad__img c-copper-chronicles__ad__img--demos" alt="G suite hero image"  >
          <img   class="c-copper-chronicles__ad__img c-copper-chronicles__ad__img--demos" alt="G suite hero image"   src="/imgs/gsuite-HERO@2x.png"   >
</picture>
        </div>
      </div>
      <div class="row align-self-center justify-content-center" style="width:100%">
        <div class="col-md-12 bottom-cta text-center">
          <h2 style="margin-bottom:20px;">What’s not to love?<br>
          Try Copper for free today.</h2>
          <p>No credit card needed. Start your 14-day free trial now.</p>
          <div class="c-hero__buttons">
              <a class="c-button sendUTMsToAmplitude" href="{{ craft.app.config.general.signUpUrl }}">Try Free</a>
          </div>
        </div>
      </div>
      

    {# {% for thumbnail in matrixBlock.demoThumbnail.all()%}
        {% include "sections/demo/_thumbnail-card.html" %}
    {% endfor %} #}

  </div>
</section>