<link rel="stylesheet" href="https://use.typekit.net/uaf5vus.css">
<section class="c-resource-content" id="c-ebook-gate">
  <div class="c-resource-content__container container">
    
    <div class="c-ebook-gate">
        <div class="c-e-book-builder__header col-md-12">
          <p class="t-eyebrow">{{entry.eyebrow}}</p>
          <div class="h-title">
            <h1>{{ entry.title }}</h1>
          </div>
          <p class="t-event-date">{{entry.eventDate}}</p>
        </div>
      <div class="col-md-12">
        <section class="c-e-book-gate__form h-padding-bottom">
          <div class="row">
            <div class="col-md-5 ">
              {% if entry.formHeader|length %}
                <h3>{{ entry.formHeader }}</h3>
              {% endif %}             
              <div class="p p-sm t-aqua-mint-bullet-points">
                {{ entry.formCopy }}
              </div>
            </div>
            <div class="col-md-6 offset-md-1">
              <div class="c-form">
                <div id="landing-form-snip" class="sl_swap">
                  {% import "/components/replacements/_marketo-replacements.html" as localLeadReplacements %}
                  {% if marketoConfigurations.replaceMarketoForms %}
                    {% set formId = "mktoForm_#{entry.formId ? entry.formId : 2157}" %}
                    {{ localLeadReplacements.htmlReplacement(formId, 'Resources request', entry.slug) }}
                  {% else %}
                    <form id="mktoForm_{{entry.formId}}">
                      <div class="h-gdpr d-flex">
                        
                        {# {% if entry.id == '11741' %}
                        <i>By submitting this form, you agree to our terms. See Copper’s <a href="/privacy">privacy policy</a> to learn about how we use your information. See DocuSign’s <a href="https://www.docusign.com/company/terms-and-conditions/web">Terms & Conditions</a> and <a href="https://www.docusign.com/company/privacy-policy">Privacy Policy</a> here.</i>    
                        {% else %}
                        <div class="h-gdpr__container">
                          <input type="checkbox" name="consent" id="consentBox" value="false"/>
                        </div>
                        <i>I consent to receiving emails about Copper products and  special offers. By submitting this form you agree to our terms. See our <a href="/privacy">privacy policy</a> to learn about how we use your information.</i>

                        {% endif %} #}
                      </div> 
                    </form>
                  {% endif %}
                  <div class="js-form-success js-form-success--content-download">
                    <h2>Thank you!</h2>
                    <p>We’re looking forward to seeing you at the webinar!</p>
                    <p>{{entry.eventDate}}</p>
                  </div>
                  <script>
                    LazyLoad.js(['https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js','/js/vendor/js-cookie.js','/js/functions.min.{{ staticAssetsVersion }}.js'],function(){
                      {% if marketoConfigurations.replaceMarketoForms %}
                        {% set formId = "mktoForm_#{entry.formId ? entry.formId : 2157}" %}
                        {{ localLeadReplacements.lightScriptReplacement(formId, staticAssetsVersion, "HeroMarketoForm", entry.type, entry.formSuccessMessage) }}
                      {% else %}
                        MktoForms2.loadForm("//app-sj17.marketo.com", "763-DVL-293", {{entry.formId}}, function(form){
                          form.onSuccess(function() {
                            var submittedVals = form.vals();
                            if (submittedVals!== ""){
                              // Use the entry id so its unique to that entry not just the form
                              Cookies.set('form_gate_{{entry.id}}', true, { domain:  sndleveldomain }, 14);
                              {% switch entry.type %}
                                {% case 'eBook' %}
                                  // Reload so ebook chapter tracker can load properly
                                  location.reload();
                                {% case 'webinars' %}
                                  // Reload so ebook chapter tracker can load properly
                                  location.reload();
                                {% case 'webinarSpecial' %}
                                  {% if entry.formSuccessMessage %}
                                    form.getFormElem().css({
                                      "display": "none"
                                    });
                                    $(".js-form-success").css({
                                      "display": "block"
                                    });
                                  {% else %}
                                    location.reload();
                                  {% endif %}                                
                                {% case 'download' %}
                                  form.getFormElem().css({
                                    "display": "none"
                                  });
                                  $(".js-form-success").css({
                                    "display": "block"
                                  });
                                  window.open('{{entry.clickthrough.url}}', '_blank');
                                {% case 'register' %}
                                  form.getFormElem().css({
                                    "display": "none"
                                  });
                                  $(".js-form-success").css({
                                    "display": "block"
                                  });                           
                              {% endswitch %}
                            }
                            function runCapterra() {
                              var capterra_vkey = 'bdf9d93f2565930e2fb6cb6b3c348d8c',
                                capterra_vid = '2100282',
                                capterra_prefix = (('https:' == document.location.protocol) ? 'https://ct.capterra.com' : 'http://ct.capterra.com'); 
                                var ct = document.createElement('script');
                                ct.type = 'text/javascript';
                                ct.async = true;
                                ct.src = capterra_prefix + '/capterra_tracker.js?vid=' + capterra_vid + '&vkey=' + capterra_vkey; var s = document.getElementsByTagName('script')[0];
                                s.parentNode.insertBefore(ct, s); 
                            };
                            runCapterra();
                            return false;
                          });  
                        });
                      {% endif %}
                  })
                  </script>
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>
    </div>
    </div>
</section>

<section class="c-cols c-cols-alternate home-col-alternate webinar-meet-hosts">
	<div class="container c-animation-container">
    <div class="col-md-12">
      <div class="row">
        <div class="col-md-8 c-align--center">
          <h1 class="meet-hosts-title">Meet the hosts</h1>
        </div>
      </div>

      {% for user in entry.featuredAuthors.all() %}

      <div class="row ">
        <div class="col-md-5 order-1">
          {# <div class="square-frame"></div> #}
          <div class="c-image c-image--shadow animation-element slide-bottom in-view">
          {% if user.photo is defined %}
            <img style="max-width:370px!important" class="" src="{{user.photo.url}}" alt="Value organize">
          {% endif %}
          </div>
        </div>
        <div class="col-md-6 offset-md-1 c-valign--middle order-2">
          <div>
            <h2 class="host-name">{{ user.firstName }} {{ user.lastName }}</h2>
            <h3 class="host-title">{{ user.authorTitle }}, {{user.userCompany}}</h3>
            <p class="host-bio">{{ user.bio |replace({"\n":'<br>', "\r":'<br>'})|raw}}</p>
          </div>
        </div>
      </div>

      {% endfor %}
    </div>
	</div>
</section>