    <!-- Hero -->
    <section class="c-hero--split c-hero--split--animation background--midnight">
      <div class="container">
        <div class="row">
          <div class="col-md c-valign--middle">
            <h1>Finally...<br>a CRM for<br>G Suite.</h1>
            <p>Manage all your contacts, deals,<br> emails, files, and more in one place.</p>
            <div class="c-hero__buttons">
								<a class="c-button sendUTMsToAmplitude" href="{{ craft.app.config.general.signUpUrl }}">Try Free</a>
								<a class="c-button c-button--outline"  href="/demos">Request Demo</a>
            </div>
          </div>
          <div class="col-md c-valign--middle">
            <div class="c-image">
							<!-- <picture>
          <source type="image/webp" srcset="/imgs/home-hero-fpo.webp"    alt="Home hero FPO image"> -->
          <source type="image/png" srcset="/imgs/home-hero-fpo.png"    alt="Home hero FPO image"> -->
          <img     src="/imgs/home-hero-fpo.png"   alt="Home hero FPO image"> -- >
</picture>
							<picture>
          <source type="image/webp" srcset="/imgs/IMG_00_hero_gsuite@2x.webp"  class="home-floating-image"   alt="Hero G Suite image">
          <source type="image/png" srcset="/imgs/IMG_00_hero_gsuite@2x.png"  class="home-floating-image"   alt="Hero G Suite image">
          <img   class="home-floating-image"   src="/imgs/IMG_00_hero_gsuite@2x.png"   alt="Hero G Suite image" >
</picture>
            </div>
          </div>
        </div>
      </div>
		</section>
