{% extends "_top-nav.html" %} 
{% block topNav %}
<!-- Hero -->
<section class="c-hero--split background--hot-pink">
    <div class="c-image">
      <picture>
          <source type="image/webp" srcset="/imgs/next/next-hero.webp"    alt="Next hero image">
          <source type="image/png" srcset="/imgs/next/next-hero.jpg"    alt="Next hero image">
          <img     src="/imgs/next/next-hero.jpg"   alt="Next hero image" >
</picture>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-6 c-valign--middle">
        <pre class="c-eyebrow c-eyebrow--light">MEET US AT GOOGLE NEXT</pre>
          <h1>Copper +</br>G Suite are better together.</h1>
          <p>April 9—11, 2019</br>Moscone Center, San Francisco.</p>
        </div>
      </div>
    </div>
  </section>

  <!-- Product Focus -->
<section class="c-product-focus">
    <div class="container">
      <div class="row c-align--center">
        <div class="col-md">

          <h2 class="col-md-10">crm built for G Suite</h2>
          <p class="col-md-8">Copper is the CRM that works for you. It’s made for G Suite, works instantly and has a beautiful user experience. Over 12,000+ companies in over 100 countries use Copper to grow and foster long-lasting business relationships. Ready to change the way you work?</p>
          <div class="c-hero__buttons">
              <a class="c-button" href="https://app.prosperworks.com/users/sign_up">Free Trial</a>
              <a class="c-button c-button--outline" href="/demos">Request Demo</a>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Content Jumble -->
<section class="c-jumble c-jumble-background--eggplant c-jumble--align-right no-top-margin">
    <div class="container">
  
      <div class="c-jumble__container col-md-10 offset-md-2 no-padding">
        <div class="c-jumble__content c-valign--middle">
            
            <div class="row column-reverse">
              <div class="col-md-5 order-md-2">
                <div class="c-image c-image--shadow">
                  <picture>
          <source type="image/webp" srcset="/imgs/next/next-jumble.webp"  alt="Next jumble image"  >
          <source type="image/png" srcset="/imgs/next/next-jumble.jpg"  alt="Next jumble image"  >
          <img   alt="Next jumble image"   src="/imgs/next/next-jumble.jpg"   >
</picture>
                </div>
              </div>
              <div class="col-md-7 order-md-1">	
                <pre class="c-eyebrow c-eyebrow--light">Giveaway</pre>
                <h2>Win a Ninebot Kickscooter ES4!</h2>
                <p>Register to win then increase your chances of winning by stopping by our booth #1517 during Google Next!</p>
                <a href="/2019-google-next-giveaway" class="t-link h-white">Register to win here</a>
              </div>
            </div>
                    
        </div>
      </div>
  
    </div>
  </section>
  <!-- Find Us at the show -->
  <section class="padding-top">
    <div class="container">
      <h2 class="c-align--center extra-bottom-margin--x-small">Find us at the show</h2>
      <div class="row">
        <div class="col-md-6 c-card-col">
          <div class="c-blog-card h-add-shadow">
            <div>
            <div class="c-blog-card__image-container">
              <picture>
          <source type="image/webp" srcset="/imgs/next/next-find-us-1.webp"  class="c-blog-card__image"   alt="blog title">
          <source type="image/png" srcset="/imgs/next/next-find-us-1.jpg"  class="c-blog-card__image"   alt="blog title">
          <img   class="c-blog-card__image"   src="/imgs/next/next-find-us-1.jpg"   alt="blog title" >
</picture>
            </div>
            <div class="c-blog-card__content c-blog-card__content--large">
              <h3 class="c-blog-card__content__title c-blog-card__content__title--large">
                Visit us on the Expo floor
              </h3>
              <p class="c-blog-card__content__subtitle c-blog-card__content__subtitle--large p-sm no-margin d-sm-block">
                Copper is proud to be a Foundation sponsor this year.
                Meet us on the Expo floor for an on-demand demo. Don’t forget to pick up some unique swag while you’re
                there
                and scan your badge for a chance to win a Ninebot Kickscooter ES4.</br></br>Booth #1517 - Moscone South
              </p>
            </div>
          </div>
        </div>
        </div>
        <div class="col-md-6 c-card-col">
          <div class="c-blog-card h-add-shadow">
            <div>
            <div class="c-blog-card__image-container">
              <picture>
          <source type="image/webp" srcset="/imgs/next/next-find-us-2.webp"  class="c-blog-card__image"   alt="blog title">
          <source type="image/png" srcset="/imgs/next/next-find-us-2.jpg"  class="c-blog-card__image"   alt="blog title">
          <img   class="c-blog-card__image"   src="/imgs/next/next-find-us-2.jpg"   alt="blog title" >
</picture>
            </div>
            <div style="display: block;" class="c-blog-card__content c-blog-card__content--large">
              <h3 class="c-blog-card__content__title c-blog-card__content__title--large">
                Save money on your ticket
              </h3>
              <p class="c-blog-card__content__subtitle c-blog-card__content__subtitle--large p-sm no-margin d-sm-block">
                Register using the code <strong style="color: #FF3465; text-transform: uppercase;">sfgrpcincoppe</strong> to save $400 on your ticket to attend Google Next.
              </p>
              <a style="margin-top: 30px;" href="https://cloud.withgoogle.com/next/sf" class="c-button">Register Now</a>
            </div>
          </div>
        </div>
      </div>

    </div>
    </div>
  </section>

<section class="c-cols">

  <!-- Form Code -->
  <div class="container">
    <div class="row">
      <div class="col-md-6 d-flex align-items-center offset-md-1 order-2">
        <div class="c-form">
          {% include 'google-next/form.html' %}
        </div>
      </div>

      <div class="col-md-5 c-valign--middle order-1">
        <pre class="c-eyebrow">Partners</pre>
        <h2>Set up a 1:1</h2>
        <p>Want some 1:1 time with our team? We'd love to sit down and chat about how Copper can help you. Complete
          this form to book a quick meeting at the show.</p>
        <picture>
          <source type="image/webp" srcset="/imgs/next/next-form-img.webp"  width="431" height="382" alt="Next form image"  >
          <source type="image/png" srcset="/imgs/next/next-form-img.jpg"  width="431" height="382" alt="Next form image"  >
          <img   width="431" height="382" alt="Next form image"   src="/imgs/next/next-form-img.jpg"   >
</picture>
      </div>
    </div>

  </div>
</section>

  	<!-- Customers block -->
	<section class="c-cols c-cols-background--hot-pink">
			<div class="container">
				<div class="row">
					<div class="col-md-6 offset-md-1 order-2">
						<div class="c-image c-image--center sl_swap d-none d-sm-none d-md-block" id="home-customer-logos" >
							<picture>
          <source type="image/webp" srcset="/imgs/next/next-customers-1.webp"  style="max-width: 100%;"   alt="Customer logos">
          <source type="image/png" srcset="/imgs/next/next-customers-1.png"  style="max-width: 100%;"   alt="Customer logos">
          <img   style="max-width: 100%;"   src="/imgs/next/next-customers-1.png"   alt="Customer logos" >
</picture>
						</div>
					</div>
					<div class="col-md-5 order-1">
						<h2>The NEXT Best happy hour</h2>
						<p>We’re teaming up with Cloudbakers, BetterCloud, LumApps, Spanning, Okta, and AODocs to put on a happy hour at Executive Order, a historical—and classy—lounge and bar. Put on your drinking pants and come down a cold one (or a fancy cocktail, if that’s more your style) on us!</br></br>April 9, 2019, 6:30 PM – 9:30 PM</br>Executive Order, 868 Mission Street</p>
						<div class="c-hero__buttons">
								<a class="c-button c-button--white" href="https://next19happyhour.splashthat.com/">RSVP now</a>
            </div>
					</div>
				</div>
			</div>
    </section>
    
    <!-- Related Posts -->
<section class="c-blog__entries small-section-padding sl_hide">
    <div class="container">
      <h2 class="c-align--center extra-bottom-margin--x-small">Want to learn more?</h2>
      <div class="row">
        <div class="col-md-4">
          <div class="c-card__entry">
            <a class="c-card__clickthrough" href="/technology-crm-best-practices-ebook"></a>
            <picture>
          <source type="image/webp" srcset="/imgs/next/next-blog-1.webp"  class="c-card__default__image" alt="Next blog image"  >
          <source type="image/png" srcset="/imgs/next/next-blog-1.jpg"  class="c-card__default__image" alt="Next blog image"  >
          <img   class="c-card__default__image" alt="Next blog image"   src="/imgs/next/next-blog-1.jpg"   >
</picture>
  
            <div class="c-card__entry__content">
              <div class="entry_categories">
                <span class="t-eyebrow">ebook</span>
              </div>
              <h4 class="c-card__entry-title">
                <a class="underline_from_lefsettt" href="/technology-crm-best-practices-ebook">CRM Best Practices for Tech Companies</a>
              </h4>
  
            </div>
            <div class="c-card__meta">
              <a class="t-link" href="/technology-crm-best-practices-ebook">Get it free</a>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="c-card__entry">
            <a class="c-card__clickthrough" href="/blog/google-next-2019-events"></a>
            <picture>
          <source type="image/webp" srcset="/imgs/next/next-blog-2.webp"  class="c-card__default__image" alt="Next blog image 2"  >
          <source type="image/png" srcset="/imgs/next/next-blog-2.jpg"  class="c-card__default__image" alt="Next blog image 2"  >
          <img   class="c-card__default__image" alt="Next blog image 2"   src="/imgs/next/next-blog-2.jpg"   >
</picture>
            <div class="c-card__entry__content">
              <div class="entry_categories">
                <span class="t-eyebrow">Events</span>
              </div>
              <h4 class="c-card__entry-title">
                <a class="underline_from_lefsettt" href="/blog/google-next-2019-events">Google Next 2019 - Events to Fill Your Social Calendar</a>
              </h4>
            </div>
            <div class="c-card__meta">
              <a class="t-link" href="/blog/google-next-2019-events">Read More</a>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="c-card__entry">
            <a class="c-card__clickthrough" href="/blog/jenis-ice-cream-crm-case-study"></a>
            <picture>
          <source type="image/webp" srcset="/imgs/next/next-blog-3.webp"  class="c-card__default__image" alt="Next blog image 3"  >
          <source type="image/png" srcset="/imgs/next/next-blog-3.jpg"  class="c-card__default__image" alt="Next blog image 3"  >
          <img   class="c-card__default__image" alt="Next blog image 3"   src="/imgs/next/next-blog-3.jpg"   >
</picture>
            <div class="c-card__entry__content">
              <div class="entry_categories">
                <span class="t-eyebrow">Case Studies</span>
              </div>
              <h4 class="c-card__entry-title">
                <a class="underline_from_lefsettt" href="/blog/jenis-ice-cream-crm-case-study">How Jeni’s Ice Cream Uses a CRM in Sales, Marketing & More</a>
              </h4>
            </div>
            <div class="c-card__meta">
              <a class="t-link" href="/blog/jenis-ice-cream-crm-case-study">Get the scoop</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  	<!-- Customers block -->
	<section class="c-cols background--putty">
			<div class="container">
				<div class="row">
					<div class="col-md order-2">
						<div class="c-image c-image--center no-embelleshment">
							<picture>
          <source type="image/webp" srcset="/imgs/next/next-customers-2.webp"  style="max-width: 100%;"   alt="Next customer image">
          <source type="image/png" srcset="/imgs/next/next-customers-2.png"  style="max-width: 100%;"   alt="Next customer image">
          <img   style="max-width: 100%;"   src="/imgs/next/next-customers-2.png"   alt="Next customer image" >
</picture>
						</div>
					</div>
					<div class="col-md order-1">
            <pre class="c-eyebrow">Partners</pre>
						<h2>We’re in good company with our partners.</h2>
					</div>
				</div>
			</div>
    </section>
    
<!-- Hero -->
<section class="c-hero--split background--leavebehind">
    <div class="c-image">
        <picture>
          <source type="image/webp" srcset="/imgs/leave-behind-scaled.webp"    alt="Leave behind image scaled">
          <source type="image/png" srcset="/imgs/leave-behind-scaled.jpg"    alt="Leave behind image scaled">
          <img     src="/imgs/leave-behind-scaled.jpg"   alt="Leave behind image scaled" >
</picture>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-6 c-valign--middle">
          <h2 class="t-white">Copper + </br>G Suite are better together.</h2>
          <p style="max-width: 420px;">Try it for free and find out why Copper and G Suite are the best combination since PB&J.</p>
          <div class="c-hero__buttons">
              <a class="c-button"  href="/demos">Request Demo</a>
              <a class="c-button c-button--outline sendUTMsToAmplitude" href="{{ craft.app.config.general.signUpUrl }}">Try Free</a>
          </div>
        </div>
      </div>
    </div>
  </section>

  
{% endblock %}
