<!-- Hero -->
<section class="c-hero--split background--segmentation background--enterprise">
  <div class="container">
    <div class="row">
      <div class="col-md-5 c-valign--middle">
	      <pre class="c-eyebrow">COPPER FOR ENTERPRISE</pre>
        <h1 class="t-white">A different kind of crm platform.</h1>
        <p>Global enterprises build long-lasting relationships and drive sustainable business growth with Copper.</p>
        <div class="c-hero__buttons">
          <a class="c-button sendUTMsToAmplitude" href="{{ craft.app.config.general.signUpUrl }}">Try Free</a>
          <a class="c-button c-button--outline" href="/demos">Request Demo</a>
        </div>
      </div>
    </div>
  </div>
</section>



<!-- Customers -->
<section class="c-single-column">
  <div class="container">

    <div class="c-single-column__container no-bottom-padding">
      <h2 class="col-md-10 offset-md-1 text-md-center">Companies who have joined the Relationship Era.</h2>
      <div class="c-single-column__logo-container">
        <picture>
          <source type="image/webp" srcset="/imgs/segmentation/google.webp"    alt="Google logo image">
          <source type="image/png" srcset="/imgs/segmentation/google.jpg"    alt="Google logo image">
          <img     src="/imgs/segmentation/google.jpg"   alt="Google logo image" >
</picture>
        <picture>
          <source type="image/webp" srcset="/imgs/segmentation/rhr.webp"    alt="Rhr logo image">
          <source type="image/png" srcset="/imgs/segmentation/rhr.jpg"    alt="Rhr logo image">
          <img     src="/imgs/segmentation/rhr.jpg"   alt="Rhr logo image" >
</picture>
        <picture>
          <source type="image/webp" srcset="/imgs/segmentation/ideo.webp"    alt="Ideo logo image">
          <source type="image/png" srcset="/imgs/segmentation/ideo.jpg"    alt="Ideo logo image">
          <img     src="/imgs/segmentation/ideo.jpg"   alt="Ideo logo image" >
</picture>
        <picture>
          <source type="image/webp" srcset="/imgs/segmentation/hellofresh.webp"    alt="Hellofresh logo image">
          <source type="image/png" srcset="/imgs/segmentation/hellofresh.jpg"    alt="Hellofresh logo image">
          <img     src="/imgs/segmentation/hellofresh.jpg"   alt="Hellofresh logo image" >
</picture>
        <picture>
          <source type="image/webp" srcset="/imgs/segmentation/atlassian.webp"    alt="Atlasian logo image">
          <source type="image/png" srcset="/imgs/segmentation/atlassian.jpg"    alt="Atlasian logo image">
          <img     src="/imgs/segmentation/atlassian.jpg"   alt="Atlasian logo image" >
</picture>
        <picture>
          <source type="image/webp" srcset="/imgs/segmentation/softbank.webp"    alt="Softbank logo image">
          <source type="image/png" srcset="/imgs/segmentation/softbank.jpg"    alt="Softbank logo image">
          <img     src="/imgs/segmentation/softbank.jpg"   alt="Softbank logo image" >
</picture>
        <picture>
          <source type="image/webp" srcset="/imgs/segmentation/casio.webp"    alt="Casio logo image">
          <source type="image/png" srcset="/imgs/segmentation/casio.jpg"    alt="Casio logo image">
          <img     src="/imgs/segmentation/casio.jpg"   alt="Casio logo image" >
</picture>
        <picture>
          <source type="image/webp" srcset="/imgs/segmentation/zillow.webp"    alt="Zillow logo image">
          <source type="image/png" srcset="/imgs/segmentation/zillow.jpg"    alt="Zillow logo image">
          <img     src="/imgs/segmentation/zillow.jpg"   alt="Zillow logo image" >
</picture>
      </div>
      <a class="t-link" href="/customers">See all customers</a>
    </div>

    </div>
</section>

    
    <section class="c-cols c-cols-alternate no-bottom-padding">
      <div class="container">
        <div class="row">
          <div class="col-md-6 order-2">
            <div class="c-image c-image--left no-embelleshment">
              <picture>
          <source type="image/webp" srcset="/imgs/segmentation/Ent-UI01.webp"  style="max-width: 534px;"   alt="Stop the forecasting guessing games">
          <source type="image/png" srcset="/imgs/segmentation/Ent-UI01.png"  style="max-width: 534px;"   alt="Stop the forecasting guessing games">
          <img   style="max-width: 534px;"   src="/imgs/segmentation/Ent-UI01.png"   alt="Stop the forecasting guessing games" >
</picture>
            </div>
          </div>
          <div class="col-md-6 c-valign--middle">
            <div class="c-cols__copy">
              <pre class="c-eyebrow c-eyebrow--dark">Recommended for G Suite</pre>
              <h2>Manage relationships right in Gmail.</h2>
              <p>Copper is a different kind of crm. It’s elegantly designed for G Suite, so fast-moving enterprises can build the strong relationships that lead to repeat business.</p>
              <a class="t-link" href="/g-suite-crm">Learn More</a>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="c-cols c-cols-alternate no-bottom-padding">
      <div class="container">
        <div class="row column-reverse">
          <div class="col-md-6">
            <div class="c-image c-image--left no-embelleshment">
              <picture>
          <source type="image/webp" srcset="/imgs/segmentation/segmentation-enterprise-2.webp"  style="max-width: 538px;"   alt="Stop the forecasting guessing games">
          <source type="image/png" srcset="/imgs/segmentation/segmentation-enterprise-2.png"  style="max-width: 538px;"   alt="Stop the forecasting guessing games">
          <img   style="max-width: 538px;"   src="/imgs/segmentation/segmentation-enterprise-2.png"   alt="Stop the forecasting guessing games" >
</picture>
            </div>
          </div>
          <div class="col-md-5 offset-md-1 c-valign--middle">
            <div class="c-cols__copy">
              <pre class="c-eyebrow c-eyebrow--dark">AUTOMATED DATA ENTRY AND WORKFLOWS</pre>
              <h2>Drive team productivity — automagically.</h2>
              <p>Copper eliminates manual data entry, automates every step of your sales process and delivers deal alerts, recommendations right when you need it. Meet the first crm that drives productivity across the entire organization.</p>
              <a class="t-link" href="/productivity">Learn How</a>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="c-cols c-cols-alternate no-bottom-padding">
      <div class="container">
        <div class="row">
          <div class="col-md-6 order-2">
            <div class="c-image c-image--drop-right no-embelleshment">
              <picture>
          <source type="image/webp" srcset="/imgs/segmentation/Enterprise-UI03.webp"  class="drop-right__img h-remove-shadow " style="max-width: 540px;"   alt="Stop the forecasting guessing games">
          <source type="image/png" srcset="/imgs/segmentation/Enterprise-UI03.png"  class="drop-right__img h-remove-shadow " style="max-width: 540px;"   alt="Stop the forecasting guessing games">
          <img   class="drop-right__img h-remove-shadow " style="max-width: 540px;"   src="/imgs/segmentation/Enterprise-UI03.png"   alt="Stop the forecasting guessing games" >
</picture>
            </div>
          </div>
          <div class="col-md-6 c-valign--middle">
            <div class="c-cols__copy">
              <pre class="c-eyebrow c-eyebrow--dark">POWERFUL INSIGHTS & ANALYTICS</pre>
              <h2>Business insights from lead to close.</h2>
              <p>Copper delivers real-time analytics, dashboards and reports that allow you to monitor your entire funnel from lead conversions to pipeline bottlenecks in real time. With Copper, you’ll have all the metrics you need to make make data-driven decisions.</p>
              <a class="t-link" href="/insights">Work Together</a>
            </div>
          </div>
        </div>
      </div>
    </section>



    
<!-- Case Study -->
<section class="c-case-study c-case-study--align-left">
	<div class="container colorblock--mint">

		<div class="c-case-study__container col-md-11 no-padding">
			
			<div class="c-case-study__content c-valign--middle">
					
					<div class="row row-eq-height align-items-center">
						<div class="col-md-6 c-align--center">
							
							<div class="c-image c-image--shadow">
                <pre class="c-eyebrow c-eyebrow--light">Success Story</pre>
								<picture>
          <source type="image/webp" srcset="/imgs/segmentation/segmentation-enterprise-quote.webp"    alt="Segmentation enterprice quote image">
          <source type="image/png" srcset="/imgs/segmentation/segmentation-enterprise-quote.jpg"    alt="Segmentation enterprice quote image">
          <img     src="/imgs/segmentation/segmentation-enterprise-quote.jpg"   alt="Segmentation enterprice quote image" >
</picture>
							</div>
						</div>
						<div class="col-md-6">
							<div class="c-panel__blockquote c-valign--middle">
								<blockquote>Since we started using Copper, we've closed upwards of 10% <strong>more customers.</strong></blockquote>
								<cite>Amy Pienta<span class="c-panel__blockquote--position">University of Michigan</span></cite>
								<div class="c-panel__blockquote--logo">
									<picture>
          <source type="image/webp" srcset="/imgs/segmentation/segmentation-enterprise-logo.webp"    alt="Segmentation enterprice logo">
          <source type="image/png" srcset="/imgs/segmentation/segmentation-enterprise-logo.png"    alt="Segmentation enterprice logo">
          <img     src="/imgs/segmentation/segmentation-enterprise-logo.png"   alt="Segmentation enterprice logo" >
</picture>
								</div>
							</div>
							<!--
							<div class="col-md-12 c-align--right c-case-study__link">
								<a class="t-link" href="#">See Case Study</a>
							</div>
							-->
						</div>
					</div>
									
			</div>
		</div>

	</div>
</section>



<!-- Deal Close Callout -->
<section class="c-single-column">
    <div class="container">
  
      <div class="col-md-10 offset-md-1 c-single-column__container h-hairline">
        <h3>Strengthen your business relationships 
          with G Suite + Copper.</h3>
        <div class="c-single-column__buttons">
          <a class="c-button sendUTMsToAmplitude" href="{{ craft.app.config.general.signUpUrl }}">Try Free</a>
          <a class="c-button c-button--outline" href="/demos">Request Demo</a>
        </div>
      </div>
  
      </div>
  </section>


  <!-- Numbers Full Width-->

<div class="c-numbers--full">
  <picture>
          <source type="image/webp" srcset="/imgs/segmentation/segementation-enterprise-numbers.webp"    alt="Segmentation enterprice numbers image" class="c-numbers__background-image">
          <source type="image/png" srcset="/imgs/segmentation/segementation-enterprise-numbers.jpg"    alt="Segmentation enterprice numbers image" class="c-numbers__background-image">
          <img     src="/imgs/segmentation/segementation-enterprise-numbers.jpg"   alt="Segmentation enterprice numbers image" class="c-numbers__background-image" >
</picture>
  <div class="c-numbers__container">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <pre class="c-eyebrow" style="top:0; margin-left:0;">By The Numbers</pre>
          <h2>Why enterprises love Copper: </h2>
        </div>
        <div class="col-md-8">
          <div class="row">
            <div class="c-number col-md-5">
              <span class="t-numbers">13</span>
              <p>hours per user per week saved on manual data entry</p>
            </div>
            <div class="c-number col-md-5 offset-md-1">
              <span class="t-numbers">50%</span>
              <p>more accurate reporting</p>
            </div>
          </div>
          <div class="row">
            <div class="c-number col-md-5">
              <span class="t-numbers">43%</span>
              <p>increase in team collaboration when closing deals</p>
            </div>
            <div class="c-number col-md-5 offset-md-1">
              <span class="t-numbers">36%</span>
              <p>faster response time to prospects and clients</p>
            </div>
          </div>
        </div>
      </div>

    </div>

  </div>
</div>

<section class="c-cols c-cols-alternate">
  <div class="container">
    <div class="row column-reverse">
      <div class="col-md-6">
        <div class="c-image c-image--left no-embelleshment">
          <picture>
          <source type="image/webp" srcset="/imgs/segmentation/segmentation-enterprise-4.webp"  style="max-width: 538px;"   alt="Stop the forecasting guessing games">
          <source type="image/png" srcset="/imgs/segmentation/segmentation-enterprise-4.png"  style="max-width: 538px;"   alt="Stop the forecasting guessing games">
          <img   style="max-width: 538px;"   src="/imgs/segmentation/segmentation-enterprise-4.png"   alt="Stop the forecasting guessing games" >
</picture>
        </div>
      </div>
      <div class="col-md-5 offset-md-1 c-valign--middle">
        <div class="c-cols__copy">
          <pre class="c-eyebrow c-eyebrow--dark">case study</pre>
          <h2>RHR International builds stronger relationships with Copper and G Suite.</h2>
          <a class="t-link" href="/blog/rhr-case-study">Read their story</a>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Hero -->
<section class="c-hero--split background--putty background--final-plea fifty-fifty">
    <div class="c-image">
      <picture>
          <source type="image/webp" srcset="/imgs/segmentation/segmentation-enterprise-final-plea.webp"    alt="Segmentation final image">
          <source type="image/png" srcset="/imgs/segmentation/segmentation-enterprise-final-plea.jpg"    alt="Segmentation final image">
          <img     src="/imgs/segmentation/segmentation-enterprise-final-plea.jpg"   alt="Segmentation final image" >
</picture>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-6 c-valign--middle">
          <pre class="c-eyebrow" style="top:0; margin-left:0;">goodbye data entry</pre>
          <h2 class="t-white">Start moving relationships</br>forward today.</h2>
          <div class="c-hero__buttons">
              <a class="c-button"  href="/demos">Request Demo</a>
              <a class="c-button c-button--outline sendUTMsToAmplitude" href="{{ craft.app.config.general.signUpUrl }}">Try Free</a>
          </div>
        </div>
      </div>
    </div>
  </section>
