<!-- Hero -->
<section class="c-hero--split background--segmentation background--mm">
  <div class="container">
    <div class="row">
      <div class="col-md-6 c-valign--middle">
	      <pre class="c-eyebrow">COPPER FOR MEDIUM SIZED BUSINESSES</pre>
        <h1 class="t-white">A crm that</br>helps you scale revenue, faster.</h1>
        <p>When it comes to growing and scaling efficiently, Copper is the leading relationship management tool.</p>
        <div class="c-hero__buttons">
          <a class="c-button sendUTMsToAmplitude" href="{{ craft.app.config.general.signUpUrl }}">Try Free</a>
          <a class="c-button c-button--outline" href="/demos">Request Demo</a>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Customers -->
<section class="c-single-column text-center">
  <div class="container">

    <div class="c-single-column__container no-bottom-padding">
      <h2 class="col-md-10 offset-md-1 text-md-center">The world’s fastest growing businesses choose Copper.</h2>
      <div class="c-single-column__logo-container">
        <picture>
          <source type="image/webp" srcset="/imgs/segmentation/Mailchimp.webp"    alt="Mailchimp logo">
          <source type="image/png" srcset="/imgs/segmentation/Mailchimp.jpg"    alt="Mailchimp logo">
          <img     src="/imgs/segmentation/Mailchimp.jpg"   alt="Mailchimp logo" >
</picture>
        <picture>
          <source type="image/webp" srcset="/imgs/segmentation/mealpal.webp"    alt="Mealpal logo">
          <source type="image/png" srcset="/imgs/segmentation/mealpal.jpg"    alt="Mealpal logo">
          <img     src="/imgs/segmentation/mealpal.jpg"   alt="Mealpal logo" >
</picture>
        <picture>
          <source type="image/webp" srcset="/imgs/segmentation/zapier.webp"    alt="Zapier logo">
          <source type="image/png" srcset="/imgs/segmentation/zapier.jpg"    alt="Zapier logo">
          <img     src="/imgs/segmentation/zapier.jpg"   alt="Zapier logo" >
</picture>
        <picture>
          <source type="image/webp" srcset="/imgs/segmentation/lumapps.webp"    alt="Lumapps logo">
          <source type="image/png" srcset="/imgs/segmentation/lumapps.jpg"    alt="Lumapps logo">
          <img     src="/imgs/segmentation/lumapps.jpg"   alt="Lumapps logo" >
</picture>
        <picture>
          <source type="image/webp" srcset="/imgs/segmentation/bird.webp"    alt="Bird logo">
          <source type="image/png" srcset="/imgs/segmentation/bird.jpg"    alt="Bird logo">
          <img     src="/imgs/segmentation/bird.jpg"   alt="Bird logo" >
</picture>
        <picture>
          <source type="image/webp" srcset="/imgs/segmentation/nerdwallet.webp"    alt="Nerd wallet logo">
          <source type="image/png" srcset="/imgs/segmentation/nerdwallet.jpg"    alt="Nerd wallet logo">
          <img     src="/imgs/segmentation/nerdwallet.jpg"   alt="Nerd wallet logo" >
</picture>
      </div>
      <a class="t-link" href="/customers">See all customers</a>
    </div>

  </div>
</section>

<!-- Content Jumble -->
<section class="c-jumble c-jumble-background--graphite c-jumble--align-right no-top-margin">
	<div class="container">

		<div class="c-jumble__container col-md-10 offset-md-2 no-padding">
			<div class="c-jumble__content c-valign--middle">
					
					<div class="row column-reverse">
						<div class="col-md-5 order-md-2">
							<div class="c-image">
								<picture>
          <source type="image/webp" srcset="/imgs/segmentation/segmentation-mm-jumble.webp"    alt="Segmentation mm jumble image">
          <source type="image/png" srcset="/imgs/segmentation/segmentation-mm-jumble.png"    alt="Segmentation mm jumble image">
          <img     src="/imgs/segmentation/segmentation-mm-jumble.png"   alt="Segmentation mm jumble image" >
</picture>
							</div>
						</div>
						<div class="col-md-7 order-md-1">	
							<pre class="c-eyebrow c-eyebrow--light">SALES WORKFLOW AUTOMATION</pre>
							<h2>Hello productivity. Goodbye busy work.</h2>
							<p>Need to streamline your processes? Copper automates tasks and sales workflows, and even prompts you to follow up on next steps in your relationship cycle to help every seller move deals forward faster.</p>
              <a class="t-link h-white" href="/productivity">Start Automating</a>
            </div>
					</div>
									
			</div>
		</div>

	</div>
</section>

    
    <section class="c-cols c-cols-alternate no-bottom-padding">
      <div class="container">
        <div class="row">
          <div class="col-md-6 order-2">
            <div class="c-image c-image--left no-embelleshment">
              <picture>
          <source type="image/webp" srcset="/imgs/segmentation/MM-Ui2.webp"  style="max-width: 534px;"   alt="Stop the forecasting guessing games">
          <source type="image/png" srcset="/imgs/segmentation/MM-Ui2.png"  style="max-width: 534px;"   alt="Stop the forecasting guessing games">
          <img   style="max-width: 534px;"   src="/imgs/segmentation/MM-Ui2.png"   alt="Stop the forecasting guessing games" >
</picture>
            </div>
          </div>
          <div class="col-md-6 c-valign--middle">
            <div class="c-cols__copy">
              <pre class="c-eyebrow c-eyebrow--dark">SEAMLESS G SUITE INTEGRATION</pre>
              <h2>Build relationships right in Gmail.</h2>
              <p>Why should you have to leave your inbox to do your best work? After all, that’s where your relationships live. Copper seamlessly integrates with the G Suite apps you already use so you can track leads, win deals, and manage relationships—right from your inbox.</p>
              <a class="t-link" href="/g-suite-crm">Learn More</a>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="c-cols c-cols-alternate no-bottom-padding">
      <div class="container">
        <div class="row column-reverse">
          <div class="col-md-6">
            <div class="c-image c-image--left no-embelleshment">
              <picture>
          <source type="image/webp" srcset="/imgs/segmentation/segmentation-mm-2.webp"  style="max-width: 538px;"   alt="Stop the forecasting guessing games">
          <source type="image/png" srcset="/imgs/segmentation/segmentation-mm-2.png"  style="max-width: 538px;"   alt="Stop the forecasting guessing games">
          <img   style="max-width: 538px;"   src="/imgs/segmentation/segmentation-mm-2.png"   alt="Stop the forecasting guessing games" >
</picture>
            </div>
          </div>
          <div class="col-md-5 offset-md-1 c-valign--middle">
            <div class="c-cols__copy">
              <pre class="c-eyebrow c-eyebrow--dark">SALES WORKFLOW AUTOMATION</pre>
              <h2>No more FOMO on  customer interactions.</h2>
              <p>For growing teams, customer conversations and files are often tracked in different places. Copper automatically captures email history, meetings, notes, docs, and calls for every customer so you’ll get a real-time view of every single interaction.</p>
              <a class="t-link" href="/collaboration">Work Together</a>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="c-cols c-cols-alternate no-bottom-padding">
      <div class="container">
        <div class="row">
          <div class="col-md-5 offset-md-1 order-2">
            <div class="c-image c-image--left no-embelleshment">
              <picture>
          <source type="image/webp" srcset="/imgs/segmentation/segmentation-mm-3.webp"  style="max-width: 429px;"   alt="Stop the forecasting guessing games">
          <source type="image/png" srcset="/imgs/segmentation/segmentation-mm-3.png"  style="max-width: 429px;"   alt="Stop the forecasting guessing games">
          <img   style="max-width: 429px;"   src="/imgs/segmentation/segmentation-mm-3.png"   alt="Stop the forecasting guessing games" >
</picture>
            </div>
          </div>
          <div class="col-md-6 c-valign--middle">
            <div class="c-cols__copy">
              <pre class="c-eyebrow c-eyebrow--dark">REPORTING AND ANALYTICS</pre>
              <h2>Up-to-the-minute business insights.</h2>
              <p>Copper’s out-of-the-box reporting and visual dashboards show you where your best leads are coming from, how sales are trending for the month, and which activities are leading to closed deals. You can even monitor performance and motivate your sellers by setting goals for individuals and teams across the business.</p>
              <a class="t-link" href="/insights">Learn More</a>
            </div>
          </div>
        </div>
      </div>
    </section>



    
<!-- Case Study -->
<section class="c-case-study c-case-study--align-left">
	<div class="container colorblock--hot-pink">

		<div class="c-case-study__container col-md-11 no-padding">
			
			<div class="c-case-study__content c-valign--middle">
					
					<div class="row row-eq-height align-items-center">
						<div class="col-md-6 c-align--center">
							
							<div class="c-image c-image--shadow">
                <pre class="c-eyebrow c-eyebrow--light">Success Story</pre>
								<picture>
          <source type="image/webp" srcset="/imgs/segmentation/segmentation-mm-quote.webp"    alt="Segmentation mm quote image">
          <source type="image/png" srcset="/imgs/segmentation/segmentation-mm-quote.jpg"    alt="Segmentation mm quote image">
          <img     src="/imgs/segmentation/segmentation-mm-quote.jpg"   alt="Segmentation mm quote image" >
</picture>
							</div>
						</div>
						<div class="col-md-6">
							<div class="c-panel__blockquote c-valign--middle">
								<blockquote>We can push out 10x the amount of work because of the <strong>automation</strong> in Copper.</strong></blockquote>
								<cite>Beverly Robinson</cite>
								<div class="c-panel__blockquote--logo">
									<picture>
          <source type="image/webp" srcset="/imgs/segmentation/segmentation-mm-logo.webp"    alt="Segmentation mm logo">
          <source type="image/png" srcset="/imgs/segmentation/segmentation-mm-logo.png"    alt="Segmentation mm logo">
          <img     src="/imgs/segmentation/segmentation-mm-logo.png"   alt="Segmentation mm logo" >
</picture>
								</div>
							</div>
							<!--
							<div class="col-md-12 c-align--right c-case-study__link">
								<a class="t-link" href="#">See Case Study</a>
							</div>
							-->
						</div>
					</div>
									
			</div>
		</div>

	</div>
</section>




<style>
  .c-quote-carousel__blockquote.col-md-10.c-valign--middle.rectangle--hot-pink.rectangle--top--right:before{
        content: '';
    position: absolute;
    top: -45%;
    right: -180px;
    z-index: -1;
    display: block;
    transform: rotate(45deg) scale(0.8);

  }

</style>


<!-- Deal Close Callout -->
<section class="c-single-column">
    <div class="container">
  
      <div class="col-md-10 offset-md-1 c-single-column__container h-hairline">
        <h3>Building better customer relationships today.</h3>
        <div class="c-single-column__buttons">
          <a class="c-button sendUTMsToAmplitude" href="{{ craft.app.config.general.signUpUrl }}">Try Free</a>
          <a class="c-button c-button--outline" href="/demos">Request Demo</a>
        </div>
      </div>
  
      </div>
  </section>


  <!-- Numbers Full Width-->

<div class="c-numbers--full">
  <picture>
          <source type="image/webp" srcset="/imgs/segmentation/segmentation-mm-numbers.webp"    alt="Segmentation mm numbers image" class="c-numbers__background-image">
          <source type="image/png" srcset="/imgs/segmentation/segmentation-mm-numbers.jpg"    alt="Segmentation mm numbers image" class="c-numbers__background-image">
          <img     src="/imgs/segmentation/segmentation-mm-numbers.jpg"   alt="Segmentation mm numbers image" class="c-numbers__background-image" >
</picture>
  <div class="c-numbers__container">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <pre class="c-eyebrow" style="top:0; margin-left:0;">By The Numbers</pre>
          <h2>Copper + G Suite. Better together</h2>
        </div>
        <div class="col-md-8">
          <div class="row">
            <div class="c-number col-md-5">
              <span class="t-numbers">13</span>
              <p>hours per user per week saved on manual data entry</p>
            </div>
            <div class="c-number col-md-5 offset-md-1">
              <span class="t-numbers">50%</span>
              <p>more accurate reporting</p>
            </div>
          </div>
          <div class="row">
            <div class="c-number col-md-5">
              <span class="t-numbers">43%</span>
              <p>increase in team collaboration when closing deals</p>
            </div>
            <div class="c-number col-md-5 offset-md-1">
              <span class="t-numbers">36%</span>
              <p>faster response time to prospects and clients</p>
            </div>
          </div>
        </div>
      </div>

    </div>

  </div>
</div>

<!-- Related Posts -->
<section class="c-blog__entries sl_hide">
  <div class="container">
    <pre class="c-eyebrow" style="top:0; margin-left:0;">Resources</pre>
    <div class="row">
      <div class="col-md-4">
        <div class="c-card__entry extended-card">
          <a class="c-card__clickthrough" href="https://get.copper.com/rs/763-DVL-293/images/infographic_ROI_survey.pdf"></a>
          <picture>
          <source type="image/webp" srcset="/imgs/segmentation/inforgraphic-roi header.webp"  class="c-card__default__image"   alt="Infographyc roi header image">
          <source type="image/png" srcset="/imgs/segmentation/inforgraphic-roi header.jpg"  class="c-card__default__image"   alt="Infographyc roi header image">
          <img   class="c-card__default__image"   src="/imgs/segmentation/inforgraphic-roi header.jpg"   alt="Infographyc roi header image" >
</picture>

          <div class="c-card__entry__content">
            <div class="entry_categories">
              <span class="t-eyebrow">Infographic</span>
            </div>
            <h4 class="c-card__entry-title">
              <a class="underline_from_lefsettt" href="https://get.copper.com/rs/763-DVL-293/images/infographic_ROI_survey.pdf">ROI Infographic</a>
            </h4>

          </div>
          <div class="c-card__meta">
            <a class="t-link" href="https://get.copper.com/rs/763-DVL-293/images/infographic_ROI_survey.pdf">Read More</a>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="c-card__entry extended-card">
          <a class="c-card__clickthrough" href="https://www.copper.com/blog/crm-benchmark-report"></a>
          <picture>
          <source type="image/webp" srcset="imgs/general/segmentation/benchmark_blog_800x400@2x.webp"  class="c-card__default__image"   alt="Benchmark blog image">
          <source type="image/png" srcset="imgs/general/segmentation/benchmark_blog_800x400@2x.jpg"  class="c-card__default__image"   alt="Benchmark blog image">
          <img   class="c-card__default__image"   src="imgs/general/segmentation/benchmark_blog_800x400@2x.jpg"   alt="Benchmark blog image" >
</picture>

          <div class="c-card__entry__content">
            <div class="entry_categories">
              <span class="t-eyebrow">Resources</span>
            </div>
            <h4 class="c-card__entry-title">
              <a class="underline_from_lefsettt" href="https://www.copper.com/blog/crm-benchmark-report">The CRM Benchmark Report</a>
            </h4>
          </div>
          <div class="c-card__meta">
            <a class="t-link" href="https://www.copper.com/blog/crm-benchmark-report">Read More</a>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="c-card__entry extended-card">
          <a class="c-card__clickthrough" href="https://www.copper.com/blog/the-new-requirements-of-crm"></a>
          <picture>
          <source type="image/webp" srcset="imgs/general/segmentation/blog_header_C_volt.webp"  class="c-card__default__image"   alt="Blog header c volt image">
          <source type="image/png" srcset="imgs/general/segmentation/blog_header_C_volt.png"  class="c-card__default__image"   alt="Blog header c volt image">
          <img   class="c-card__default__image"   src="imgs/general/segmentation/blog_header_C_volt.png"   alt="Blog header c volt image" >
</picture>

          <div class="c-card__entry__content">
            <div class="entry_categories">
              <span class="t-eyebrow">CRM & TECH</span>
            </div>
            <h4 class="c-card__entry-title">
              <a class="underline_from_lefsettt" href="https://www.copper.com/blog/the-new-requirements-of-crm">The New Requirements of CRM </a>
            </h4>
          </div>
          <div class="c-card__meta">
            <a class="t-link" href="https://www.copper.com/blog/the-new-requirements-of-crm">Read More</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>



<!-- Hero -->
<section class="c-hero--split background--putty background--final-plea fifty-fifty">
    <div class="c-image">
      <picture>
          <source type="image/webp" srcset="/imgs/segmentation/segmentation-mm-final-plea.webp"    alt="Final segmentation mm image">
          <source type="image/png" srcset="/imgs/segmentation/segmentation-mm-final-plea.jpg"    alt="Final segmentation mm image">
          <img     src="/imgs/segmentation/segmentation-mm-final-plea.jpg"   alt="Final segmentation mm image" >
</picture>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-6 c-valign--middle">
          <pre class="c-eyebrow" style="top:0; margin-left:0;">goodbye data entry</pre>
          <h2 class="t-white">Start scaling faster today.</h2>
          <div class="c-hero__buttons">
              <a class="c-button"  href="/demos">Request Demo</a>
              <a class="c-button c-button--outline sendUTMsToAmplitude" href="{{ craft.app.config.general.signUpUrl }}">Try Free</a>
          </div>
        </div>
      </div>
    </div>
  </section>
