<!-- Hero -->
<div class="free-trial-lps">
  <section class="c-hero--split background--purple">
    <div class="container">
      <div class="row">
        <div class="col-md-6 c-valign--middle">
          <h1 class="t-white">Hate to tear you away from your playlist but....</h1>
          <p>From organizing your emails to reminding you to follow up on deals + opportunities, Copper helps you…</p>
          <p>💰 Focus on closing more business <br>
          ❤️ Give each relationship the attention it deserves <br>
          📊 Get an accurate look at business performance</p>
          <div class="c-hero__buttons">
              <a class="c-button c-button--large sendUTMsToAmplitude" href="{{ craft.app.config.general.signUpUrl }}">Try Free</a>
          </div>
        </div>
        <div class="col-md-6 c-valign--middle hide-sm-down">
          <picture>
          <source type="image/webp" srcset="/imgs/newLps/Free_Trial_HERO.webp"  class="img-fluid"   alt="Free trial image">
          <source type="image/png" srcset="/imgs/newLps/Free_Trial_HERO.png"  class="img-fluid"   alt="Free trial image">
          <img   class="img-fluid"   src="/imgs/newLps/Free_Trial_HERO.png"   alt="Free trial image" >
</picture>
        </div>
      </div>
    </div>
  </section> 
  
  <!-- Deal Close Callout -->
  <section class="c-single-column smb-logos">
    <div class="container">
      <div class="row">
        <div class="col-md-8 offset-md-2 cta one-last-thing">
          <h2>Just a few ways this CRM saves you ⏰ + 💰.</h2>
          <p>On average, businesses that use Copper...</p>
        </div>
        <div class="col-md-4">
          <span>⏰</span>
          <h3>Save more time</h3>
          <p>13 fewer hours spent on data entry—per user per week</p>
        </div>
        <div class="col-md-4">
          <span>⚡</span>
          <h3>Get data quicker</h3>
          <p>12 fewer hours searching for contact data—per user per week</p>
        </div>
        <div class="col-md-4">
          <span>📊</span>
          <h3>Crunch better numbers </h3>
          <p>50% increase in reporting accuracy</p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <picture>
          <source type="image/webp" srcset="/imgs/newLps/Free_Trial_IMG_01.webp"  style="margin-top:95px; max-width:720px"   alt="Free trial image">
          <source type="image/png" srcset="/imgs/newLps/Free_Trial_IMG_01.png"  style="margin-top:95px; max-width:720px"   alt="Free trial image">
          <img   style="margin-top:95px; max-width:720px"   src="/imgs/newLps/Free_Trial_IMG_01.png"   alt="Free trial image" >
</picture>
        </div>
        <div class="col-md-8 offset-md-2 cta one-last-thing">
          <h2>Know how to use Gmail?</h2>
          <p>You probably already know how to use Copper. Copper integrates with G Suite apps you know and love, like Drive and Calendar. It lives in your Gmail inbox, meaning you can do everything from looking up prospects to firing off emails to checking where a deal’s at—all in the same window.</p>
          <div class="c-hero__buttons">
            <a class="c-button sendUTMsToAmplitude" href="{{ craft.app.config.general.signUpUrl }}">Try Free</a>
            <a class="c-button c-button--outline"  href="/demos">Request Demo</a>
          </div>
        </div>
      </div>
    </div>
  </section>
    <!-- Case Study -->
    <section class="c-case-study c-case-study--align-left home-quote mobile-margin-adder">
      <div class="container colorblock--soft-eggplant">
    
        <div class="c-case-study__container col-md-11 no-padding">
    
          <div class="c-case-study__content c-valign--middle">
    
            <div class="row row-eq-height">
    
              <div class="col-md-6">
                <pre class="c-eyebrow c-eyebrow--light">Customers love us</pre>
                <div class="c-panel__blockquote c-valign--middle">
                  <h2>Get more done in less time.</h2>
                  <p class="">˝We finally have a one stop shop for managing all of our relationships that integrates seamlessly with G Suite.˝</p>
                  <cite>Gabe Estrada<span class="c-panel__blockquote--position">CEO, itBrand</span></cite>
                  <div class="c-panel__blockquote--logo">
                    <picture>
          <source type="image/webp" srcset="/imgs/logo-itbrand@2x.webp"    alt="It brand image">
          <source type="image/png" srcset="/imgs/logo-itbrand@2x.png"    alt="It brand image">
          <img     src="/imgs/logo-itbrand@2x.png"   alt="It brand image" >
</picture>
                  </div>
                </div>
    
              </div>
    
              <div class="col-md-6 c-align--center relativise">
                <div class="c-image c-image--shadow move-middle-bottom">
                  <picture>
          <source type="image/webp" srcset="/imgs/newLps/Jason_headshot.webp"    alt="Jason image">
          <source type="image/png" srcset="/imgs/newLps/Jason_headshot.png"    alt="Jason image">
          <img     src="/imgs/newLps/Jason_headshot.png"   alt="Jason image" >
</picture>
                </div>
              </div>
            </div>
    
          </div>
        </div>
    
      </div>
    </section>
  <section class="c-single-column less-padding last-module">
    <div class="container">
      <div class="col-md-10 offset-md-1 c-single-column__container">
        <h2>Ready to get organized and close more deals?</h2>
        <p>Prices start at just $19/month. Try it free for 14 days.</p>
        <div class="c-hero__buttons">
          <a class="c-button sendUTMsToAmplitude" href="{{ craft.app.config.general.signUpUrl }}">Try Free</a>
          <a class="c-button c-button--outline"  href="/demos">Request Demo</a>
        </div>
      </div>
    </div>
  </section>

</div>