<!-- Hero -->
<section class="c-hero--split background--agency">
  <div class="container">
    <div class="row">
      <div class="col-md-5 c-valign--middle">
	      <pre class="c-eyebrow">COPPER FOR CREATIVE AGENCIES</pre>
        <h1 class="t-white">crm minus the creative blocks.</h1>
        <p>Digital and creative agencies get more done and make their clients happier with Copper.</p>
        <div class="c-hero__buttons">
          <a class="c-button sendUTMsToAmplitude" href="{{ craft.app.config.general.signUpUrl }}">Try Free</a>
          <a class="c-button c-button--outline" href="/demos">Request Demo</a>
        </div>
      </div>
    </div>
  </div>
</section>

	<!-- Customers block -->
	<section class="c-cols no-bottom-padding">
			<div class="container">
				<div class="row">
					<div class="col-md order-2">
						<div class="c-image c-image--center no-embelleshment">
							<picture>
          <source type="image/webp" srcset="/imgs/industry/industry-agency-logo-cloud@2x.webp"    alt="Agacy industry logo">
          <source type="image/png" srcset="/imgs/industry/industry-agency-logo-cloud@2x.png"    alt="Agacy industry logo">
          <img     src="/imgs/industry/industry-agency-logo-cloud@2x.png"   alt="Agacy industry logo" >
</picture>
						</div>
					</div>
					<div class="col-md order-1">
						<h2>900+ digital and creative agencies, big and small, love Copper.</h2>
            <a class="t-link" href="/customers" target="_blank">See customer stories</a>
					</div>
				</div>
			</div>
		</section>

<!-- Content Jumble -->
<section class="c-jumble c-jumble-background--hot-pink top-margin-mobile">
	<div class="container">

		<div class="c-jumble__container col-md-10 no-padding">
			<div class="c-jumble__content c-valign--middle extra-padding">
					 
					<div class="row">
						<div class="col-md-6 order-md-2">
							<div class="c-image">
                <picture>
          <source type="image/webp" srcset="/imgs/industry/industry-agency-IMG-01@2x.webp"  alt="Industry agency 1"  >
          <source type="image/png" srcset="/imgs/industry/industry-agency-IMG-01@2x.png"  alt="Industry agency 1"  >
          <img   alt="Industry agency 1"   src="/imgs/industry/industry-agency-IMG-01@2x.png"   >
</picture>
							</div>
						</div>
						<div class="col-md-6 order-md-1">	
							<pre class="c-eyebrow c-eyebrow--light">agency crm</pre>
							<h2>Strengthen your relationships & do your best work.</h2>
              <p>Copper is a different kind of CRM. It’s elegantly designed for G Suite, so fast-moving digital agencies can build the strong relationships that lead to repeat business.</p>
              <a class="t-link h-white" href="/g-suite-crm">Learn More</a>
						</div>
					</div>
									
			</div>
		</div>

	</div>
</section>

<section class="c-cols c-cols-alternate no-bottom-padding">
  <div class="container">
    <div class="row column-reverse">
      <div class="col-md-6">
        <div class="c-image c-image--left no-embelleshment">
          <picture>
          <source type="image/webp" srcset="/imgs/industry/industry-agency-IMG-02@2x.webp"  style="max-width: 538px;"   alt="Stop the forecasting guessing games">
          <source type="image/png" srcset="/imgs/industry/industry-agency-IMG-02@2x.png"  style="max-width: 538px;"   alt="Stop the forecasting guessing games">
          <img   style="max-width: 538px;"   src="/imgs/industry/industry-agency-IMG-02@2x.png"   alt="Stop the forecasting guessing games" >
</picture>
        </div>
      </div>
      <div class="col-md-5 offset-md-1 c-valign--middle">
        <div class="c-cols__copy">
	        <pre class="c-eyebrow c-eyebrow--dark">CENTRALIZE RELATIONSHIPS</pre>
          <h2>Every little detail, 100% organized.</h2>
          <p>Creative projects are complex—lots of people, lots of files, lots of opinions. Copper automatically captures and connects everything so nothing falls through the cracks and you can concentrate on creative work, not busy work.</p>
          <a href="/blog/advoc8-agency-case-study" class="t-link">See how Advoc8 does it.</a>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="c-cols c-cols-alternate">
    <div class="container">
      <div class="row">
        <div class="col-md-5 offset-md-1 order-2">
          <div class="c-image c-image--left no-embelleshment">
            <picture>
          <source type="image/webp" srcset="/imgs/industry/industry-agency-insights.webp"  style="max-width: 429px;"   alt="Stop the forecasting guessing games">
          <source type="image/png" srcset="/imgs/industry/industry-agency-insights.png"  style="max-width: 429px;"   alt="Stop the forecasting guessing games">
          <img   style="max-width: 429px;"   src="/imgs/industry/industry-agency-insights.png"   alt="Stop the forecasting guessing games" >
</picture>
          </div>
        </div>
        <div class="col-md-6 c-valign--middle">
          <div class="c-cols__copy">
            <pre class="c-eyebrow c-eyebrow--dark">REAL-TIME COLLABORATION</pre>
            <h2>Up-to-the-minute insights on everybody you interact with.</h2>
            <p>Copper’s activity feed gives everyone on your team visibility into real-time customer and seller moments. Trust us, your account managers and deal makers will love it.</p>
            <a class="t-link" href="/collaboration">Learn More</a>
          </div>
        </div>
      </div>
    </div>
  </section>
  

<style>
  .c-quote-carousel__blockquote.col-md-10.c-valign--middle.rectangle--hot-pink.rectangle--top--right:before{
        content: '';
    position: absolute;
    top: -45%;
    right: -180px;
    z-index: -1;
    display: block;
    transform: rotate(45deg) scale(0.8);

  }

</style>

<!-- Quote Carousel -->
<section class="c-quote-carousel js-quote-carousel">
	<div class="container-fluid">

		<div class="c-quote-carousel__container col-md-11 col-lg-10 colorblock--putty colorblock--bottom--right">
			<div class="c-quote-carousel__content row background--graphite">
					
					<div class="container">
						<div class="row">
              
              <div class="c-testimonial__image offset-md-1 col-md-4">
                  <pre class="c-eyebrow c-eyebrow--light" style="top:0; margin-left:0;">Success Stories</pre>
                  <div class="colorblock--bottom--right colorblock--volt">
                    <picture>
          <source type="image/webp" srcset="/imgs/industry/industry-agency-customer.webp"  class=""   alt="Customers Testimonial">
          <source type="image/png" srcset="/imgs/industry/industry-agency-customer.jpg"  class=""   alt="Customers Testimonial">
          <img   class=""   src="/imgs/industry/industry-agency-customer.jpg"   alt="Customers Testimonial" >
</picture>
                  </div>
              </div>              
              <div class="c-testimonial__quote col-md-5 offset-md-1">
									<div class="c-quote-carousel__blockquote--item active">
										<blockquote>Copper has created transparency that has resonated throughout our entire company.</blockquote>
										<cite>Nicholas Markovitz</br><span class="c-quote-carousel__blockquote--position">Managing Director, Creative Brands</span></cite>
									</div>
                  <br>
                  <div>
                    <a class="t-link h-white" target="_blank" href="/blog/creative-brands-case-study">See how creative brands did it</a>
                  </div>
								</div>	
						</div>
						
						</div>
						
					</div>
									
			</div>
		</div>

	</div>
</section>

<!-- Deal Close Callout -->
<section class="c-single-column">
    <div class="container">
  
      <div class="col-md-10 offset-md-1 c-single-column__container h-hairline">
        <h2>Create something awesome, together.</h2>
        <div class="c-single-column__buttons">
          <a class="c-button sendUTMsToAmplitude" href="{{ craft.app.config.general.signUpUrl }}">Try Free</a>
          <a class="c-button c-button--outline" href="/demos">Request Demo</a>
        </div>
      </div>
  
      </div>
  </section>


  <!-- Numbers Full Width-->

<div class="c-numbers--full">
  <picture>
          <source type="image/webp" srcset="/imgs/industry/industry-agency-IMG-04@2x.webp"    alt="Industry agency image 2" class="c-numbers__background-image">
          <source type="image/png" srcset="/imgs/industry/industry-agency-IMG-04@2x.jpg"    alt="Industry agency image 2" class="c-numbers__background-image">
          <img     src="/imgs/industry/industry-agency-IMG-04@2x.jpg"   alt="Industry agency image 2" class="c-numbers__background-image" >
</picture>
  <div class="c-numbers__container">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <pre class="c-eyebrow" style="top:0; margin-left:0;">By The Numbers</pre>
          <h2>Copper + Digital Agencies</h2>
        </div>
        <div class="col-md-8">
          <div class="row">
            <div class="c-number col-md-5">
              <span class="t-numbers">13</span>
              <p>hours per user per week saved on manual data entry</p>
            </div>
            <div class="c-number col-md-5 offset-md-1">
              <span class="t-numbers">50%</span>
              <p>more accurate reporting</p>
            </div>
          </div>
          <div class="row">
            <div class="c-number col-md-5">
              <span class="t-numbers">43%</span>
              <p>increase in team collaboration when closing deals</p>
            </div>
            <div class="c-number col-md-5 offset-md-1">
              <span class="t-numbers">36%</span>
              <p>faster response time to prospects and clients</p>
            </div>
          </div>
        </div>
      </div>

    </div>

  </div>
</div>


<!-- Related Posts -->
<section class="c-blog__entries sl_hide">
  <div class="container">
    <pre class="c-eyebrow" style="top:0; margin-left:0;">Resources</pre>
    <div class="row">
      <div class="col-md-4">
        <div class="c-card__entry extended-card">
          <a class="c-card__clickthrough" href="/blog/jump-450-agency-crm-case-study"></a>
          <picture>
          <source type="image/webp" srcset="/imgs/industry/jump-blog-01.webp"  class="c-card__default__image" alt="Jump blog image"  >
          <source type="image/png" srcset="/imgs/industry/jump-blog-01.png"  class="c-card__default__image" alt="Jump blog image"  >
          <img   class="c-card__default__image" alt="Jump blog image"   src="/imgs/industry/jump-blog-01.png"   >
</picture>

          <div class="c-card__entry__content">
            <div class="entry_categories">
              <span class="t-eyebrow">Case Study</span>
            </div>
            <h4 class="c-card__entry-title">
              <a class="underline_from_lefsettt" href="/blog/amigo-case-study">How an NYC Agency Beats the Competition with Automation</a>
            </h4>

          </div>
          <div class="c-card__meta">
            <a class="t-link" href="/blog/amigo-case-study">Read More</a>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="c-card__entry extended-card">
          <a class="c-card__clickthrough" href="/blog/agency-client-relationships"></a>
          <picture>
          <source type="image/webp" srcset="/imgs/industry/industry-agency-blog-02@2x.webp"  class="c-card__default__image" alt="Industry agency image 3"  >
          <source type="image/png" srcset="/imgs/industry/industry-agency-blog-02@2x.jpg"  class="c-card__default__image" alt="Industry agency image 3"  >
          <img   class="c-card__default__image" alt="Industry agency image 3"   src="/imgs/industry/industry-agency-blog-02@2x.jpg"   >
</picture>
          <div class="c-card__entry__content">
            <div class="entry_categories">
              <span class="t-eyebrow">Copper Blog</span>
            </div>
            <h4 class="c-card__entry-title">
              <a class="underline_from_lefsettt" href="/blog/agency-client-relationships">How to Build Long-lasting Client/Agency Relationships</a>
            </h4>
          </div>
          <div class="c-card__meta">
            <a class="t-link" href="/blog/agency-client-relationships">Read More</a>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="c-card__entry extended-card">
          <a class="c-card__clickthrough" href="/blog/crm-agencies"></a>
          <picture>
          <source type="image/webp" srcset="/imgs/industry/industry-agency-blog-03@2x.webp"  class="c-card__default__image" alt="Industry agency blog image 4"  >
          <source type="image/png" srcset="/imgs/industry/industry-agency-blog-03@2x.jpg"  class="c-card__default__image" alt="Industry agency blog image 4"  >
          <img   class="c-card__default__image" alt="Industry agency blog image 4"   src="/imgs/industry/industry-agency-blog-03@2x.jpg"   >
</picture>
          <div class="c-card__entry__content">
            <div class="entry_categories">
              <span class="t-eyebrow">BEST PRACTICES</span>
            </div>
            <h4 class="c-card__entry-title">
              <a class="underline_from_lefsettt" href="/blog/crm-agencies">Top 6 Things to Look for in a CRM for Agencies</a>
            </h4>
          </div>
          <div class="c-card__meta">
            <a class="t-link" href="/blog/crm-agencies">Read More</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


<!-- Hero -->
<section class="c-hero--split background--putty background--final-plea fifty-fifty">
    <div class="c-image">
      <picture>
          <source type="image/webp" srcset="/imgs/industry/industry-agency-final-plea.webp"    alt="Industry finak plea image">
          <source type="image/png" srcset="/imgs/industry/industry-agency-final-plea.jpg"    alt="Industry finak plea image">
          <img     src="/imgs/industry/industry-agency-final-plea.jpg"   alt="Industry finak plea image" >
</picture>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-6 c-valign--middle">
          <h2 class="t-white">Retain more</br>clients today</h2>
          <p style="max-width: 420px;">No credit card required. Start your 14-day free trial today.</p>
          <div class="c-hero__buttons">
              <a class="c-button"  href="/demos">Request Demo</a>
              <a class="c-button c-button--outline sendUTMsToAmplitude" href="{{ craft.app.config.general.signUpUrl }}">Try Free</a>
          </div>
        </div>
      </div>
    </div>
  </section>
