<!-- Hero -->
<section class="c-hero--split background--corp-dev">
  <div class="container">
    <div class="row">
      <div class="col-md-6 c-valign--middle">
	      <pre class="c-eyebrow">Copper for Corporate Development</pre>
        <h1 class="t-white t-long-title h2">A crm that makes deal management easy.</h1>
        <p>Manage your pipeline and nurture founder relationships right from your inbox.</p>
        <div class="c-hero__buttons">
          <a class="c-button sendUTMsToAmplitude" href="{{ craft.app.config.general.signUpUrl }}">Try Free</a>
          <a class="c-button c-button--outline" href="/demos">Request Demo</a>
        </div>
      </div>
    </div>
  </div>
</section>

	<!-- Customers block -->
	<section class="c-cols no-bottom-padding">
			<div class="container">
				<div class="row">
					<div class="col-md order-2">
						<div class="c-image c-image--center no-embelleshment">
							<picture>
          <source type="image/webp" srcset="/imgs/industry/industry-corp-dev-logo-cloud.webp"    alt="Industry corp cloud logo">
          <source type="image/png" srcset="/imgs/industry/industry-corp-dev-logo-cloud.png"    alt="Industry corp cloud logo">
          <img     src="/imgs/industry/industry-corp-dev-logo-cloud.png"   alt="Industry corp cloud logo" >
</picture>
						</div>
					</div>
					<div class="col-md order-1">
            <h2>Recommended for G Suite by Google Cloud.</h2>
            <p>Copper is the leading crm software for corporate development teams (and it shows).</p>
					</div>
				</div>
			</div>
		</section>

<!-- Content Jumble -->
<section class="c-jumble c-jumble-background--eggplant top-margin-mobile">
	<div class="container">

		<div class="c-jumble__container col-md-10 no-padding">
			<div class="c-jumble__content c-valign--middle extra-padding">
					
					<div class="row">
						<div class="col-md-6 order-md-2">
							<div class="c-image">
                <picture>
          <source type="image/webp" srcset="/imgs/industry/industry-corp-dev-IMG-01.webp"  alt="Industry corp dev image 1"  >
          <source type="image/png" srcset="/imgs/industry/industry-corp-dev-IMG-01.png"  alt="Industry corp dev image 1"  >
          <img   alt="Industry corp dev image 1"   src="/imgs/industry/industry-corp-dev-IMG-01.png"   >
</picture>
							</div>
						</div>
						<div class="col-md-6 order-md-1">	
							<pre class="c-eyebrow c-eyebrow--light">ONE CENTRAL SYSTEM</pre>
							<h2>No more scattered data.</h2>
              <p>Copper tracks every founder, CEO, and company touch point so you never lose important tribal knowledge. All your emails, company data points, term sheets, models, and diligence notes are automatically attached to the relevant contact record. Finally, all your deal data in one central place, so the next time your CFO asks for an update—you'll have it.</p>
              {# <a class="t-link h-white" href="/g-suite-crm">Learn More</a> #}
						</div>
					</div>
									
			</div>
		</div>

	</div>
</section>

<section class="c-cols c-cols-alternate no-bottom-padding">
  <div class="container">
    <div class="row column-reverse">
      <div class="col-md-6">
        <div class="c-image c-image--left no-embelleshment">
          <picture>
          <source type="image/webp" srcset="/imgs/industry/CorpDev-Ui.webp"  style="max-width: 100%;"   alt="Stop the forecasting guessing games">
          <source type="image/png" srcset="/imgs/industry/CorpDev-Ui.png"  style="max-width: 100%;"   alt="Stop the forecasting guessing games">
          <img   style="max-width: 100%;"   src="/imgs/industry/CorpDev-Ui.png"   alt="Stop the forecasting guessing games" >
</picture>
        </div>
      </div>
      <div class="col-md-5 offset-md-1 c-valign--middle">
        <div class="c-cols__copy">
	        <pre class="c-eyebrow c-eyebrow--dark">ZERO DATA ENTRY</pre>
          <h2>Spend time on new acquisitions, not data entry.</h2>
          <p>Copper automatically pulls in contact details and important company data from your email and the web—without you having to update it manually. Instead of spending hours maintaining a database, your team can focus on due diligence and outreach to get more exciting deals in the pipeline.</p>
          <a href="/blog/storm-ventures-case-study" class="t-link">How Storm Ventures focused on acquisitions.</a>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="c-cols c-cols-alternate no-bottom-padding">
    <div class="container">
      <div class="row">
        <div class="col-md-6 order-2">
          <div class="c-image c-image--drop-right no-embelleshment">
            <picture>
          <source type="image/webp" srcset="/imgs/industry/industry-corp-dev-IMG-03.webp"  class="drop-right__img h-remove-shadow"   alt="Stop the forecasting guessing games">
          <source type="image/png" srcset="/imgs/industry/industry-corp-dev-IMG-03.png"  class="drop-right__img h-remove-shadow"   alt="Stop the forecasting guessing games">
          <img   class="drop-right__img h-remove-shadow"   src="/imgs/industry/industry-corp-dev-IMG-03.png"   alt="Stop the forecasting guessing games" >
</picture>
          </div>
        </div>
        <div class="col-md-6 c-valign--middle">
          <div class="c-cols__copy">
            <pre class="c-eyebrow c-eyebrow--dark">DEAL TRACKING</pre>
            <h2>Manage multiple deal pipelines.</h2>
            <p>Copper’s customizable drag-and-drop pipelines make it easy to get a visual representation of current deals and investments in real time. Instantly see where each deal is in the process and how many deals are in each stage. Always know how your team is contributing to the top business growth priorities.</p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="c-cols c-cols-alternate">
    <div class="container">
      <div class="row column-reverse">
        <div class="col-md-6">
          <div class="c-image c-image--left no-embelleshment">
            <picture>
          <source type="image/webp" srcset="/imgs/industry/industry-corp-dev-IMG-04.webp"  style="max-width: 575px;"   alt="Stop the forecasting guessing games">
          <source type="image/png" srcset="/imgs/industry/industry-corp-dev-IMG-04.png"  style="max-width: 575px;"   alt="Stop the forecasting guessing games">
          <img   style="max-width: 575px;"   src="/imgs/industry/industry-corp-dev-IMG-04.png"   alt="Stop the forecasting guessing games" >
</picture>
          </div>
        </div>
        <div class="col-md-5 offset-md-1 c-valign--middle">
          <div class="c-cols__copy">
            <pre class="c-eyebrow c-eyebrow--dark">NATIVE G SUITE INTEGRATION </pre>
            <h2>Manage relationships right from Gmail.</h2>
            <p>Copper automatically pulls in contact details and important company data from your email and the web—without you having to update it manually. Instead of spending hours maintaining a database, your team can focus on due diligence and outreach to get more exciting deals in the pipeline.</p>
          </div>
        </div>
      </div>
    </div>
  </section>

 <!-- Content Jumble -->
<section class="c-jumble c-jumble-background--graphite c-jumble--align-left no-top-margin extra-bottom-margin">
	<div class="container">

		<div class="c-jumble__container col-md-10 no-padding">
			<div class="c-jumble__content c-valign--middle">
					
					<div class="row">
						<div class="col-md-6 order-md-2">
							<div class="c-panel__image c-panel__image--sm-padding c-panel--top--mint c-valign--middle rectangle--mint rectangle--bottom--left">
								<picture>
          <source type="image/webp" srcset="/imgs/industry/industry-corp-dev-logo-security.webp"    alt="Need a custom integration?">
          <source type="image/png" srcset="/imgs/industry/industry-corp-dev-logo-security.png"    alt="Need a custom integration?">
          <img     src="/imgs/industry/industry-corp-dev-logo-security.png"   alt="Need a custom integration?" >
</picture>
							</div>
						</div>
						<div class="col-md-6 order-md-1">	
							<h2>Secure, even by Google Cloud's standards.</h2>

						</div>
					</div>
									
			</div>
		</div>

	</div>
</section> 

<!-- Deal Close Callout -->
<section class="c-single-column">
    <div class="container">
  
      <div class="col-md-10 offset-md-1 c-single-column__container h-hairline">
        <h2>Because you have deals to close.</h2>
        <div class="c-single-column__buttons">
          <a class="c-button sendUTMsToAmplitude" href="{{ craft.app.config.general.signUpUrl }}">Try Free</a>
          <a class="c-button c-button--outline" href="/demos">Request Demo</a>
        </div>
      </div>
  
      </div>
  </section>


  <!-- Numbers Full Width-->

<div class="c-numbers--full">
  <picture>
          <source type="image/webp" srcset="/imgs/industry/industry-corp-dev-IMG-04 new.webp"    alt="Industry cop dev image 2" class="c-numbers__background-image">
          <source type="image/png" srcset="/imgs/industry/industry-corp-dev-IMG-04 new.jpg"    alt="Industry cop dev image 2" class="c-numbers__background-image">
          <img     src="/imgs/industry/industry-corp-dev-IMG-04 new.jpg"   alt="Industry cop dev image 2" class="c-numbers__background-image" >
</picture>
  <div class="c-numbers__container">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <pre class="c-eyebrow" style="top:0; margin-left:0;">By The Numbers</pre>
          <h2>Copper + Corp Dev</h2>
        </div>
        <div class="col-md-8">
          <div class="row">
            <div class="c-number col-md-5">
              <span class="t-numbers">5</span>
              <p>hours per week saved on manual data entry</p>
            </div>
            <div class="c-number col-md-5 offset-md-1">
              <span class="t-numbers">30</span>
              <p>days to deploy (on average)</p>
            </div>
          </div>
          <div class="row">
            <div class="c-number col-md-5">
              <span class="t-numbers">48%</span>
              <p>more accurate reporting</p>
            </div>
            <div class="c-number col-md-5 offset-md-1">
              <span class="t-numbers">39%</span>
              <p>increase in team collaboration when closing deals</p>
            </div>
          </div>
        </div>
      </div>

    </div>

  </div>
</div>


<!-- Related Posts -->
<section class="c-blog__entries sl_hide">
  <div class="container">
    <pre class="c-eyebrow" style="top:0; margin-left:0;">Resources</pre>
    <div class="row">
      <div class="col-md-4">
        <div class="c-card__entry extended-card">
          <a class="c-card__clickthrough" href="/blog/why-augmented-productivity-is-the-future-of-work"></a>
          <picture>
          <source type="image/webp" srcset="/imgs/industry/industry-corp-dev-blog-01@2x.webp"  class="c-card__default__image" alt="Industry cop dev image 3"  >
          <source type="image/png" srcset="/imgs/industry/industry-corp-dev-blog-01@2x.jpg"  class="c-card__default__image" alt="Industry cop dev image 3"  >
          <img   class="c-card__default__image" alt="Industry cop dev image 3"   src="/imgs/industry/industry-corp-dev-blog-01@2x.jpg"   >
</picture>

          <div class="c-card__entry__content">
            <div class="entry_categories">
              <span class="t-eyebrow"></span>
            </div>
            <h4 class="c-card__entry-title">
              <a class="underline_from_lefsettt" href="/blog/why-augmented-productivity-is-the-future-of-work">Why Augmented Productivity Is the Future of Work</a>
            </h4>

          </div>
          <div class="c-card__meta">
            <a class="t-link" href="/blog/why-augmented-productivity-is-the-future-of-work">Read More</a>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="c-card__entry extended-card">
          <a class="c-card__clickthrough" href="https://www.youtube.com/watch?v=UtVPnqr6evQ"></a>
          <picture>
          <source type="image/webp" srcset="/imgs/industry/industry-corp-dev-blog-02@2x.webp"  class="c-card__default__image" alt="Industry cop dev image 4"  >
          <source type="image/png" srcset="/imgs/industry/industry-corp-dev-blog-02@2x.jpg"  class="c-card__default__image" alt="Industry cop dev image 4"  >
          <img   class="c-card__default__image" alt="Industry cop dev image 4"   src="/imgs/industry/industry-corp-dev-blog-02@2x.jpg"   >
</picture>
          <div class="c-card__entry__content">
            <div class="entry_categories">
              <span class="t-eyebrow">Video</span>
            </div>
            <h4 class="c-card__entry-title">
              <a class="underline_from_lefsettt" href="https://www.youtube.com/watch?v=UtVPnqr6evQ">Copper CRM for Corporate Development</a>
            </h4>
          </div>
          <div class="c-card__meta">
            <a class="t-link" href="https://www.youtube.com/watch?v=UtVPnqr6evQ">Watch Video</a>
          </div>
        </div>
      </div>      
      <div class="col-md-4">
        <div class="c-card__entry extended-card">
          <a class="c-card__clickthrough" href="/blog/webinar-how-copper-crm-is-keeping-your-data-safe"></a>
          <picture>
          <source type="image/webp" srcset="/imgs/industry/industry-corp-dev-blog-03@2x.webp"  class="c-card__default__image" alt="Industry cop dev image 5"  >
          <source type="image/png" srcset="/imgs/industry/industry-corp-dev-blog-03@2x.jpg"  class="c-card__default__image" alt="Industry cop dev image 5"  >
          <img   class="c-card__default__image" alt="Industry cop dev image 5"   src="/imgs/industry/industry-corp-dev-blog-03@2x.jpg"   >
</picture>
          <div class="c-card__entry__content">
            <div class="entry_categories">
              <span class="t-eyebrow">Webinar</span>
            </div>
            <h4 class="c-card__entry-title">
              <a class="underline_from_lefsettt" href="/blog/webinar-how-copper-crm-is-keeping-your-data-safe">How Copper CRM is Keeping Your Data Safe</a>
            </h4>
          </div>
          <div class="c-card__meta">
            <a class="t-link" href="/blog/webinar-how-copper-crm-is-keeping-your-data-safe">Read More</a>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>


<!-- Hero -->
<section class="c-hero--split background--putty background--final-plea fifty-fifty">
    <div class="c-image">
      <picture>
          <source type="image/webp" srcset="/imgs/industry/industry-corp-dev-final-plea.webp"    alt="Industry corp dev logo">
          <source type="image/png" srcset="/imgs/industry/industry-corp-dev-final-plea.jpg"    alt="Industry corp dev logo">
          <img     src="/imgs/industry/industry-corp-dev-final-plea.jpg"   alt="Industry corp dev logo" >
</picture>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-6 c-valign--middle">
          <h2 class="t-white">Start managing deals with Copper today.</h2>
          <p style="max-width: 420px;">No credit card required. Start your 14-day free trial today.</p>
          <div class="c-hero__buttons">
              <a class="c-button"  href="/demos">Request Demo</a>
              <a class="c-button c-button--outline sendUTMsToAmplitude" href="{{ craft.app.config.general.signUpUrl }}">Try Free</a>
          </div>
        </div>
      </div>
    </div>
  </section>
