<!-- Hero -->
<section class="c-hero--split background--real-estate">
  <div class="container">
    <div class="row">
      <div class="col-md-6 c-valign--middle">
	      <pre class="c-eyebrow">COPPER FOR REAL ESTATE</pre>
        <h1 class="t-white">A real estate crm that’s move-in ready.</h1>
        <p>Copper is the leading crm for real estate agents and brokers.</p>
        <div class="c-hero__buttons">
          <a class="c-button sendUTMsToAmplitude" href="{{ craft.app.config.general.signUpUrl }}">Try Free</a>
          <a class="c-button c-button--outline" href="/demos">Request Demo</a>
        </div>
      </div>
    </div>
  </div>
</section>

	<!-- Customers block -->
	<section class="c-cols no-bottom-padding">
			<div class="container">
				<div class="row">
					<div class="col-md order-2">
						<div class="c-image c-image--center no-embelleshment">
							<picture>
          <source type="image/webp" srcset="/imgs/industry/industry-real-estate-logo.webp"    alt="Industry real estate logo">
          <source type="image/png" srcset="/imgs/industry/industry-real-estate-logo.png"    alt="Industry real estate logo">
          <img     src="/imgs/industry/industry-real-estate-logo.png"   alt="Industry real estate logo" >
</picture>
						</div>
					</div>
					<div class="col-md order-1">
            <h2>Real estate brokers and agents sell more with Copper.</h2>
            <p>All types of real estate professionals love Copper.</p>
					</div>
				</div>
			</div>
		</section>

<!-- Content Jumble -->
<section class="c-jumble c-jumble-background--eggplant top-margin-mobile">
	<div class="container">

		<div class="c-jumble__container col-md-10 no-padding">
			<div class="c-jumble__content c-valign--middle extra-padding">
					
					<div class="row">
						<div class="col-md-6 order-md-2">
							<div class="c-image">
                <picture>
          <source type="image/webp" srcset="/imgs/industry/industry-real-estate-IMG-01@2x.webp"  alt="Industry real state image 1"  >
          <source type="image/png" srcset="/imgs/industry/industry-real-estate-IMG-01@2x.png"  alt="Industry real state image 1"  >
          <img   alt="Industry real state image 1"   src="/imgs/industry/industry-real-estate-IMG-01@2x.png"   >
</picture>
							</div>
						</div>
						<div class="col-md-6 order-md-1">	
							<pre class="c-eyebrow c-eyebrow--light">BUILT FOR G SUITE</pre>
							<h2>Copper plus G Suite.</h2>
              <p>Copper is specifically built for G Suite, so you can manage and market new listings, drive traffic to open houses, and nurture repeat clients right from your inbox.</p>
              <a href="/g-suite-crm" class="t-link h-white">Learn More</a>
						</div>
					</div>
									
			</div>
		</div>

	</div>
</section>

<section class="c-cols c-cols-alternate no-bottom-padding">
  <div class="container">
    <div class="row column-reverse">
      <div class="col-md-6">
        <div class="c-image c-image--left no-embelleshment">
          <picture>
          <source type="image/webp" srcset="/imgs/industry/Real-Estate-Ui.webp"  style="max-width: 538px;"   alt="Stop the forecasting guessing games">
          <source type="image/png" srcset="/imgs/industry/Real-Estate-Ui.png"  style="max-width: 538px;"   alt="Stop the forecasting guessing games">
          <img   style="max-width: 538px;"   src="/imgs/industry/Real-Estate-Ui.png"   alt="Stop the forecasting guessing games" >
</picture>
        </div>
      </div>
      <div class="col-md-5 offset-md-1 c-valign--middle">
        <div class="c-cols__copy">
	        <pre class="c-eyebrow c-eyebrow--dark">goodbye data entry</pre>
          <h2>Move right in—there’s zero data entry with Copper.</h2>
          <p>It’s the only real estate crm software that automatically tracks and inputs every communication—leads, contacts, account details, emails, and more.</p>
          <a href="/blog/houwzer-case-study" class="t-link">See how Howzer grew their real estate agent team</a>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="c-cols c-cols-alternate no-bottom-padding">
    <div class="container">
      <div class="row">
        <div class="col-md-7 order-2">
          <div class="c-image c-image--drop-right no-embelleshment">
            <picture>
          <source type="image/webp" srcset="/imgs/industry/industry-real-estate-IMG-03@2x.webp"  class="drop-right__img h-remove-shadow"   alt="Stop the forecasting guessing games">
          <source type="image/png" srcset="/imgs/industry/industry-real-estate-IMG-03@2x.png"  class="drop-right__img h-remove-shadow"   alt="Stop the forecasting guessing games">
          <img   class="drop-right__img h-remove-shadow"   src="/imgs/industry/industry-real-estate-IMG-03@2x.png"   alt="Stop the forecasting guessing games" >
</picture>
          </div>
        </div>
        <div class="col-md-5 c-valign--middle">
          <div class="c-cols__copy">
            <pre class="c-eyebrow c-eyebrow--dark">REAL ESTATE PROCESSES</pre>
            <h2>Build lasting relationships. Sell more properties.</h2>
            <p>Copper lets you build multiple customized processes to track everything you need — MLS postings, presale construction upgrades, staging hires, and open house schedules.</p>
            <a href="/blog/reali-case-study" class="t-link">Watch how Reali strengthens relationships.</a>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="c-cols c-cols-alternate no-bottom-padding">
      <div class="container">
        <div class="row column-reverse">
          <div class="col-md-6">
            <div class="c-image c-image--left no-embelleshment">
              <picture>
          <source type="image/webp" srcset="/imgs/industry/industry-real-estate-IMG-04@2x.webp"  style="max-width: 538px;"   alt="Stop the forecasting guessing games">
          <source type="image/png" srcset="/imgs/industry/industry-real-estate-IMG-04@2x.png"  style="max-width: 538px;"   alt="Stop the forecasting guessing games">
          <img   style="max-width: 538px;"   src="/imgs/industry/industry-real-estate-IMG-04@2x.png"   alt="Stop the forecasting guessing games" >
</picture>
            </div>
          </div>
          <div class="col-md-5 offset-md-1 c-valign--middle">
            <div class="c-cols__copy">
              <pre class="c-eyebrow c-eyebrow--dark">mobile crm</pre>
              <h2>Manage your listings from anywhere.</h2>
              <p>Copper’s Android and iOS apps give you the power of a desktop right in your hand: keep in touch with clients, add notes, manage your calendar. It’s all there.</p>
              <a href="/blog/remax-realtor-copper-piesync" class="t-link">How this Remax realtor utilizes Copper on the road</a>
            </div>
          </div>
        </div>
      </div>
    </section>
  

<style>
  .c-quote-carousel__blockquote.col-md-10.c-valign--middle.rectangle--hot-pink.rectangle--top--right:before{
        content: '';
    position: absolute;
    top: -45%;
    right: -180px;
    z-index: -1;
    display: block;
    transform: rotate(45deg) scale(0.8);

  }

</style>

<!-- Deal Close Callout -->
<section class="c-single-column">
    <div class="container">
  
      <div class="col-md-10 offset-md-1 c-single-column__container h-hairline">
        <h2>Manage more listings with Copper.</h2>
        <div class="c-single-column__buttons">
          <a class="c-button sendUTMsToAmplitude" href="{{ craft.app.config.general.signUpUrl }}">Try Free</a>
          <a class="c-button c-button--outline" href="/demos">Request Demo</a>
        </div>
      </div>
  
      </div>
  </section>


  <!-- Numbers Full Width-->

<div class="c-numbers--full">
  <picture>
          <source type="image/webp" srcset="/imgs/industry/industry-real-estate-IMG-05@2x.webp"    alt="Industry real state image 2" class="c-numbers__background-image">
          <source type="image/png" srcset="/imgs/industry/industry-real-estate-IMG-05@2x.jpg"    alt="Industry real state image 2" class="c-numbers__background-image">
          <img     src="/imgs/industry/industry-real-estate-IMG-05@2x.jpg"   alt="Industry real state image 2" class="c-numbers__background-image" >
</picture>
  <div class="c-numbers__container">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <pre class="c-eyebrow" style="top:0; margin-left:0;">By The Numbers</pre>
          <h2>Copper +</br>Real Estate Agents</h2>
        </div>
        <div class="col-md-8">
          <div class="row">
            <div class="c-number col-md-5">
              <span class="t-numbers">13</span>
              <p>hours per user per week saved on manual data entry</p>
            </div>
            <div class="c-number col-md-5 offset-md-1">
              <span class="t-numbers">2</span>
              <p>additional listings sold per agent per month</p>
            </div>
          </div>
          <div class="row">
            <div class="c-number col-md-5">
              <span class="t-numbers">40%</span>
              <p>faster response time to clients</p>
            </div>
            <div class="c-number col-md-5 offset-md-1">
              <span class="t-numbers">4</span>
              <p>additional clients per agent per month</p>
            </div>
          </div>
        </div>
      </div>

    </div>

  </div>
</div>


<!-- Related Posts -->
<section class="c-blog__entries sl_hide">
  <div class="container">
    <pre class="c-eyebrow" style="top:0; margin-left:0;">Resources</pre>
    <div class="row">
      <div class="col-md-4">
        <div class="c-card__entry extended-card">
          <a class="c-card__clickthrough" href="/blog/relationship-era-rise"></a>
          <picture>
          <source type="image/webp" srcset="/imgs/industry/industry-real-estate-blog-01@2x.webp"  class="c-card__default__image" alt="Industry real state image 3"  >
          <source type="image/png" srcset="/imgs/industry/industry-real-estate-blog-01@2x.png"  class="c-card__default__image" alt="Industry real state image 3"  >
          <img   class="c-card__default__image" alt="Industry real state image 3"   src="/imgs/industry/industry-real-estate-blog-01@2x.png"   >
</picture>

          <div class="c-card__entry__content">
            <div class="entry_categories">
              <span class="t-eyebrow">Relationship Era</span>
            </div>
            <h4 class="c-card__entry-title">
              <a class="underline_from_lefsettt" href="/blog/relationship-era-rise">The Rise of the Relationship Era</a>
            </h4>

          </div>
          <div class="c-card__meta">
            <a class="t-link" href="/blog/relationship-era-rise">Read More</a>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="c-card__entry extended-card">
          <a class="c-card__clickthrough" href="/blog/houwzer-case-study"></a>
          <picture>
          <source type="image/webp" srcset="/imgs/industry/industry-real-estate-blog-02@2x.webp"  class="c-card__default__image" alt="Industry real state image 4"  >
          <source type="image/png" srcset="/imgs/industry/industry-real-estate-blog-02@2x.png"  class="c-card__default__image" alt="Industry real state image 4"  >
          <img   class="c-card__default__image" alt="Industry real state image 4"   src="/imgs/industry/industry-real-estate-blog-02@2x.png"   >
</picture>
    
          <div class="c-card__entry__content">
            <div class="entry_categories">
              <span class="t-eyebrow">Case Study</span>
            </div>
            <h4 class="c-card__entry-title">
              <a class="underline_from_lefsettt" href="/blog/houwzer-case-study">Houwzer Grows Team of Real Estate Agents While Using Copper</a>
            </h4>
          </div>
          <div class="c-card__meta">
            <a class="t-link" href="/blog/houwzer-case-study">Read More</a>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="c-card__entry extended-card">
          <a class="c-card__clickthrough" href="/blog/reali-case-study"></a>
          <picture>
          <source type="image/webp" srcset="/imgs/industry/industry-real-estate-blog-03@2x.webp"  class="c-card__default__image" alt="Industry real state image 5"  >
          <source type="image/png" srcset="/imgs/industry/industry-real-estate-blog-03@2x.png"  class="c-card__default__image" alt="Industry real state image 5"  >
          <img   class="c-card__default__image" alt="Industry real state image 5"   src="/imgs/industry/industry-real-estate-blog-03@2x.png"   >
</picture>
          <div class="c-card__entry__content">
            <div class="entry_categories">
              <span class="t-eyebrow">Case Study</span>
            </div>
            <h4 class="c-card__entry-title">
              <a class="underline_from_lefsettt" href="/blog/reali-case-study">Reali Strengthens Real Estate Relationship Management with Copper</a>
            </h4>
          </div>
          <div class="c-card__meta">
            <a class="t-link" href="/blog/reali-case-study">Read More</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


<!-- Hero -->
<section class="c-hero--split background--putty background--final-plea fifty-fifty">
    <div class="c-image">
      <picture>
          <source type="image/webp" srcset="/imgs/industry/industry-real-estate-final-plea@2x.webp"    alt="Industry real estate image">
          <source type="image/png" srcset="/imgs/industry/industry-real-estate-final-plea@2x.jpg"    alt="Industry real estate image">
          <img     src="/imgs/industry/industry-real-estate-final-plea@2x.jpg"   alt="Industry real estate image" >
</picture>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-6 c-valign--middle">
          <h2 class="t-white">Sell more</br>with Copper</h2>
          <p style="max-width: 420px;">No credit card required. Start your 14-day free trial today.</p>
          <div class="c-hero__buttons">
              <a class="c-button"  href="/demos">Request Demo</a>
              <a class="c-button c-button--outline sendUTMsToAmplitude" href="{{ craft.app.config.general.signUpUrl }}">Try Free</a>
          </div>
        </div>
      </div>
    </div>
  </section>
