<!-- Hero -->
<section class="c-hero--split background--tech">
  <div class="container">
    <div class="row">
      <div class="col-md-5 c-valign--middle">
	      <pre class="c-eyebrow">COPPER FOR TECHNOLOGY COMPANIES</pre>
        <h1 class="t-white t-long-title">crm minus the sales busy work.</h1>
        <p>Big and small software companies grow and scale faster with Copper.</p>
        <div class="c-hero__buttons">
          <a class="c-button sendUTMsToAmplitude" href="{{ craft.app.config.general.signUpUrl }}">Try Free</a>
          <a class="c-button c-button--outline" href="/demos">Request Demo</a>
        </div>
      </div>
    </div>
  </div>
</section>

	<!-- Customers block -->
	<section class="c-cols no-bottom-padding">
			<div class="container">
				<div class="row">
					<div class="col-md order-2">
						<div class="c-image c-image--center no-embelleshment">
							<picture>
          <source type="image/webp" srcset="/imgs/industry/Logo-cloud.webp"    alt="Cloud logo">
          <source type="image/png" srcset="/imgs/industry/Logo-cloud.png"    alt="Cloud logo">
          <img     src="/imgs/industry/Logo-cloud.png"   alt="Cloud logo" >
</picture>
						</div>
					</div>
					<div class="col-md order-1">
            <h2>A different kind of crm for innovators and fast-movers.</h2>
            <p>Software and technology companies at every stage of growth love Copper.</p>
					</div>
				</div>
			</div>
		</section>

<!-- Content Jumble -->
<section class="c-jumble c-jumble-background--graphite top-margin-mobile">
	<div class="container">

		<div class="c-jumble__container col-md-10 no-padding">
			<div class="c-jumble__content c-valign--middle extra-padding">
					
					<div class="row">
						<div class="col-md-6 order-md-2">
							<div class="c-image">
                <picture>
          <source type="image/webp" srcset="/imgs/industry/industry-tech-IMG-01-update@2x.webp"  alt="Industry real state image 1"  >
          <source type="image/png" srcset="/imgs/industry/industry-tech-IMG-01-update@2x.png"  alt="Industry real state image 1"  >
          <img   alt="Industry real state image 1"   src="/imgs/industry/industry-tech-IMG-01-update@2x.png"   >
</picture>
							</div>
						</div>
						<div class="col-md-6 order-md-1">	
							<pre class="c-eyebrow c-eyebrow--light">BUILT FOR G SUITE</pre>
							<h2>The crm for G Suite.</h2>
              <p>Copper is designed and built for G Suite so your team can do everything—from adding leads to closing deals right from your inbox.</p>
              <a class="t-link h-white" href="/g-suite-crm">Learn More</a>
						</div>
					</div>
									
			</div>
		</div>

	</div>
</section>

<section class="c-cols c-cols-alternate no-bottom-padding">
  <div class="container">
    <div class="row column-reverse">
      <div class="col-md-6">
        <div class="c-image c-image--left no-embelleshment">
          <picture>
          <source type="image/webp" srcset="/imgs/industry/tech_ui-01.webp"  style="max-width: 575px;"   alt="Stop the forecasting guessing games">
          <source type="image/png" srcset="/imgs/industry/tech_ui-01.png"  style="max-width: 575px;"   alt="Stop the forecasting guessing games">
          <img   style="max-width: 575px;"   src="/imgs/industry/tech_ui-01.png"   alt="Stop the forecasting guessing games" >
</picture>
        </div>
      </div>
      <div class="col-md-5 offset-md-1 c-valign--middle">
        <div class="c-cols__copy">
	        <pre class="c-eyebrow c-eyebrow--dark">ZERO DATA ENTRY</pre>
          <h2>Focus on deals, not on data entry.</h2>
          <p>Copper automatically inputs leads, contacts, account details, email history and more, so you can spend your time closing deals, not copying and pasting.</p>
          <a href="/blog/lumapps-case-study" class="t-link">LumApps manages 2,000% lead growth with Copper</a>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="c-cols c-cols-alternate no-bottom-padding">
    <div class="container">
      <div class="row">
        <div class="col-md-6 order-2">
          <div class="c-image c-image--drop-right no-embelleshment">
            <picture>
          <source type="image/webp" srcset="/imgs/industry/Tech_UI02.webp"  class="drop-right__img h-remove-shadow"   alt="Stop the forecasting guessing games">
          <source type="image/png" srcset="/imgs/industry/Tech_UI02.png"  class="drop-right__img h-remove-shadow"   alt="Stop the forecasting guessing games">
          <img   class="drop-right__img h-remove-shadow"   src="/imgs/industry/Tech_UI02.png"   alt="Stop the forecasting guessing games" >
</picture>
          </div>
        </div>
        <div class="col-md-6 c-valign--middle">
          <div class="c-cols__copy">
            <pre class="c-eyebrow c-eyebrow--dark">DATA ACCURACY</pre>
            <h2>Data you need to make the sale.</h2>
            <p>Copper creates clear and elegant reports that make it easy for everyone on your team to get the insights they need to close a deal: a bird’s eye view, a deep dive or anything in between.</p>
            <a href="/blog/onesupport-growth-case-study" class="t-link">How OneSupport grew subscribers by 173%</a>
          </div>
        </div>
      </div>
    </div>
  </section>
  

<!-- Deal Close Callout -->
<section class="c-single-column">
    <div class="container">
  
      <div class="col-md-10 offset-md-1 c-single-column__container h-hairline">
        <h2>Because you have work to do.</h2>
        <div class="c-single-column__buttons">
          <a class="c-button sendUTMsToAmplitude" href="{{ craft.app.config.general.signUpUrl }}">Try Free</a>
          <a class="c-button c-button--outline" href="/demos">Request Demo</a>
        </div>
      </div>
  
      </div>
  </section>


  <!-- Numbers Full Width-->

<div class="c-numbers--full">
  <picture>
          <source type="image/webp" srcset="/imgs/industry/industry-tech-IMG-04@2x.webp"    alt="Industry tech image" class="c-numbers__background-image">
          <source type="image/png" srcset="/imgs/industry/industry-tech-IMG-04@2x.jpg"    alt="Industry tech image" class="c-numbers__background-image">
          <img     src="/imgs/industry/industry-tech-IMG-04@2x.jpg"   alt="Industry tech image" class="c-numbers__background-image" >
</picture>
  <div class="c-numbers__container">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <pre class="c-eyebrow" style="top:0; margin-left:0;">By The Numbers</pre>
          <h2>Copper + Tech Companies</h2>
        </div>
        <div class="col-md-8">
          <div class="row">
            <div class="c-number col-md-5">
              <span class="t-numbers">13</span>
              <p>hours per user per week saved on manual data entry</p>
            </div>
            <div class="c-number col-md-5 offset-md-1">
              <span class="t-numbers">50%</span>
              <p>more accurate reporting</p>
            </div>
          </div>
          <div class="row">
            <div class="c-number col-md-5">
              <span class="t-numbers">43%</span>
              <p>increase in team collaboration when closing deals</p>
            </div>
            <div class="c-number col-md-5 offset-md-1">
              <span class="t-numbers">36%</span>
              <p>faster response time to prospects and clients</p>
            </div>
          </div>
        </div>
      </div>

    </div>

  </div>
</div>


<!-- Related Posts -->
<section class="c-blog__entries sl_hide">
  <div class="container">
    <pre class="c-eyebrow" style="top:0; margin-left:0;">Resources</pre>
    <div class="row">
      <div class="col-md-4">
        <div class="c-card__entry extended-card">
          <a class="c-card__clickthrough" href="/blog/customer-management-relationship-era-research-report"></a>
          <picture>
          <source type="image/webp" srcset="/imgs/industry/industry-tech-blog-01@2x.webp"  class="c-card__default__image" alt="Industry tech blog image"  >
          <source type="image/png" srcset="/imgs/industry/industry-tech-blog-01@2x.png"  class="c-card__default__image" alt="Industry tech blog image"  >
          <img   class="c-card__default__image" alt="Industry tech blog image"   src="/imgs/industry/industry-tech-blog-01@2x.png"   >
</picture>

          <div class="c-card__entry__content">
            <div class="entry_categories">
              <span class="t-eyebrow">RELATIONSHIP ERA</span>
            </div>
            <h4 class="c-card__entry-title">
              <a class="underline_from_lefsettt" href="/blog/customer-management-relationship-era-research-report">New Research: The State of Customer Management in the Relationship Era</a>
            </h4>

          </div>
          <div class="c-card__meta">
            <a class="t-link" href="/blog/customer-management-relationship-era-research-report">Read More</a>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="c-card__entry extended-card">
          <a class="c-card__clickthrough" href="/blog/lumapps-case-study"></a>
          <picture>
          <source type="image/webp" srcset="/imgs/industry/industry-tech-blog-02@2x.webp"  class="c-card__default__image" alt="Industry tech blog image 2"  >
          <source type="image/png" srcset="/imgs/industry/industry-tech-blog-02@2x.png"  class="c-card__default__image" alt="Industry tech blog image 2"  >
          <img   class="c-card__default__image" alt="Industry tech blog image 2"   src="/imgs/industry/industry-tech-blog-02@2x.png"   >
</picture>
          <div class="c-card__entry__content">
            <div class="entry_categories">
              <span class="t-eyebrow">CASE STUDY</span>
            </div>
            <h4 class="c-card__entry-title">
              <a class="underline_from_lefsettt" href="/blog/lumapps-case-study">LumApps Selects Copper CRM to Manage 2000% Lead Growth</a>
            </h4>
          </div>
          <div class="c-card__meta">
            <a class="t-link" href="/blog/lumapps-case-study">Read More</a>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="c-card__entry extended-card">
          <a class="c-card__clickthrough" href="/blog/sales-content-machine"></a>
          <picture>
          <source type="image/webp" srcset="/imgs/industry/industry-tech-blog-03@2x.webp"  class="c-card__default__image" alt="Industry tech blog image 3"  >
          <source type="image/png" srcset="/imgs/industry/industry-tech-blog-03@2x.png"  class="c-card__default__image" alt="Industry tech blog image 3"  >
          <img   class="c-card__default__image" alt="Industry tech blog image 3"   src="/imgs/industry/industry-tech-blog-03@2x.png"   >
</picture>
          <div class="c-card__entry__content">
            <div class="entry_categories">
              <span class="t-eyebrow">SALES PRODUCTIVITY</span>
            </div>
            <h4 class="c-card__entry-title">
              <a class="underline_from_lefsettt" href="/blog/sales-content-machine">How to Turn Your Sales Process into a Money-Making Machine</a>
            </h4>
          </div>
          <div class="c-card__meta">
            <a class="t-link" href="/blog/sales-content-machine">Read More</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


<!-- Hero -->
<section class="c-hero--split background--putty background--final-plea fifty-fifty">
    <div class="c-image">
      <picture>
          <source type="image/webp" srcset="/imgs/industry/industry-tech-final-plea@2x.webp"    alt="Industry tech image">
          <source type="image/png" srcset="/imgs/industry/industry-tech-final-plea@2x.jpg"    alt="Industry tech image">
          <img     src="/imgs/industry/industry-tech-final-plea@2x.jpg"   alt="Industry tech image" >
</picture>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-6 c-valign--middle">
          <h2 class="t-white">Goodbye data entry</br>Hello, Copper.</h2>
          <p style="max-width: 420px;">No credit card required. Start your 14-day free trial today.</p>
          <div class="c-hero__buttons">
              <a class="c-button"  href="/demos">Request Demo</a>
              <a class="c-button c-button--outline sendUTMsToAmplitude" href="{{ craft.app.config.general.signUpUrl }}">Try Free</a>
          </div>
        </div>
      </div>
    </div>
  </section>
