<!-- Hero -->
<section class="c-hero--split background--burgundy product-page">
	<div class="c-image">
	  <picture>
          <source type="image/webp" srcset="/imgs/product/191223_Automate_Hero.webp"    alt="Automation hero image">
          <source type="image/png" srcset="/imgs/product/191223_Automate_Hero.png"    alt="Automation hero image">
          <img     src="/imgs/product/191223_Automate_Hero.png"   alt="Automation hero image" >
</picture>
	</div>
  <div class="container">
    <div class="row">
      <div class="col-md-6 c-valign--middle">
	      <pre class="c-eyebrow c-eyebrow--light">automate your process</pre>
        <h1 class="t-white">Take the busywork out<br>of your day.</h1>
        <p>Stop doing repetitive admin work. Copper’s automations take care of tasks like logging calls, meetings, tasks, and activities.</p>
        <div class="c-hero__buttons">
            <a class="c-button sendUTMsToAmplitude" href="{{ craft.app.config.general.signUpUrl }}">Try Free</a>
            <a class="c-button c-button--outline"  href="/demos">Request Demo</a>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Sub hero w/image -->
<section class="c-single-column product-page product-page-section">
  <div class="container">
    <div class="row">
      <div class="col-md-8 c-single-column__container pull-to-center">
          <h2>Get more done—by doing less.</h3>
          <p class="">Spend your time on the tasks in your selling<br>process that are actually valuable. </p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-10 offset-md-1 c-single-column__container">
          <div class="c-product-focus__media">
              <picture>
          <source type="image/webp" srcset="/imgs/product/200309_Automate_UI01.webp"    alt="Automate image">
          <source type="image/png" srcset="/imgs/product/200309_Automate_UI01.png"    alt="Automate image">
          <img     src="/imgs/product/200309_Automate_UI01.png"   alt="Automate image" >
</picture>
          </div>
      </div>
    </div>
  </div>
</section>
<!-- Alternating 2 ups-->
<section class="c-cols c-cols-alternate product-page">
  <div class="container">
    <div class="row extra-padding--bottom">
      <div class="col-md-7 order-2">
        <div class="c-image c-image--drop-right">
          <picture>
          <source type="image/webp" srcset="/imgs/product/200309_Automate_UI02.webp"  class="drop-right__img img-no-shadow"   alt="Automation image">
          <source type="image/png" srcset="/imgs/product/200309_Automate_UI02.png"  class="drop-right__img img-no-shadow"   alt="Automation image">
          <img   class="drop-right__img img-no-shadow"   src="/imgs/product/200309_Automate_UI02.png"   alt="Automation image" >
</picture>
        </div>
      </div>
      <div class="col-md-5 c-valign--middle order-1">
        <pre class="c-eyebrow c-eyebrow--dark">WORKFLOW AUTOMATION</pre>
        <h2>You set the rules, we’ll do the rest.</h2>
        <p>Smart workflows allow you to set the rules that tell Copper to do tasks for you. From automatically creating tasks, to updating contact profiles or changing deal statuses, all you have to do is choose a trigger, and Copper will do the rest.</p>
      </div>
    </div>
    <div class="row column-reverse">
      <div class="col-md-6">
        <div class="c-image c-image--left">
          <picture>
          <source type="image/webp" srcset="/imgs/product/200309_Automate_UI03.webp"  class="drop-right__img img-no-shadow"   alt="Automation image">
          <source type="image/png" srcset="/imgs/product/200309_Automate_UI03.png"  class="drop-right__img img-no-shadow"   alt="Automation image">
          <img   class="drop-right__img img-no-shadow"   src="/imgs/product/200309_Automate_UI03.png"   alt="Automation image" >
</picture>
        </div>
      </div>
      <div class="col-md-5 offset-md-1 c-valign--middle">
        <div class="c-cols__copy">
          <pre class="c-eyebrow c-eyebrow--dark">EMAIL AUTOMATION</pre>
          <h2>More personalized emails, less effort.</h2>
          <p>Email more people, faster, with ready-to-use email templates to answer frequent questions, greet new customers, or promote your service.</p>
          <ul class="bullets--hot-pink">
            <li>Access email templates right from Gmail </li>
            <li>Shared email templates across the team for consistent messaging </li>
            <li>Merge fields let you send emails with a personalized message to multiple recipients</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Case Study -->
<section class="c-case-study c-case-study--align-left">
  <div class="container colorblock--light-pink">
    <div class="c-case-study__container col-md-11 no-padding">
      <div class="c-case-study__content c-valign--middle">
          
          <div class="row row-eq-height align-items-center">
            <div class="col-md-6 c-align--center">
              
              <div class="c-image c-image--shadow">
                <pre class="c-eyebrow c-eyebrow--light">Success Story</pre>
                <picture>
          <source type="image/webp" srcset="/imgs/product/191223_Automate_QuotePhoto.webp"    alt="Quote photo">
          <source type="image/png" srcset="/imgs/product/191223_Automate_QuotePhoto.png"    alt="Quote photo">
          <img     src="/imgs/product/191223_Automate_QuotePhoto.png"   alt="Quote photo" >
</picture>
              </div>
            </div>
            <div class="col-md-6">
              <div class="c-panel__blockquote c-valign--middle">
                <blockquote>Thanks to Copper, I have<br>a lot more time to focus on high-value work</blockquote>
                <cite>Olga Avramescu<span class="c-panel__blockquote--position" style="text-transform: uppercase;">Storm Ventures</span></cite>
              </div>
            </div>
          </div>
                  
      </div>
    </div>

  </div>
</section>
<!-- single two up -->
<section class="c-cols c-cols-alternate product-page">
  <div class="container">
    <div class="row extra-padding--bottom">
      <div class="col-md-6 order-2">
        <div class="c-image c-image--drop-right">
          <picture>
          <source type="image/webp" srcset="/imgs/product/200309_Automate_UI04.webp"  class="drop-right__img img-no-shadow"   alt="Automation image">
          <source type="image/png" srcset="/imgs/product/200309_Automate_UI04.png"  class="drop-right__img img-no-shadow"   alt="Automation image">
          <img   class="drop-right__img img-no-shadow"   src="/imgs/product/200309_Automate_UI04.png"   alt="Automation image" >
</picture>
        </div>
      </div>
      <div class="col-md-5 c-valign--middle order-1">
        <pre class="c-eyebrow c-eyebrow--dark">GOOGLE CALENDAR INTEGRATION</pre>
        <h2>Copper even books meetings for you.</h2>
        <p>Stop emailing back and forth when setting up a meeting. Just send a link to your calendar with your availability and let your contact choose a time.</p>
      </div>
    </div>
  </div>
</section>
<!-- List -->
<section class="c-list">
  <div class="container">
    <div class="c-list__header c-align--center">
      <h2 class="t-center col-md-8">Let Copper do the busywork.</h2>
    </div>
    <div class="row">
      <div class="col-md-4">
        <h4>Workflow Automation</h4>
        <p class="p-sm">Copper automatically assigns time-based tasks to you when leads are entered or updated.</p>
      </div>
      <div class="col-md-4">
        <h4>Recurring Tasks</h4>
        <p class="p-sm">Create one recurring task, tell it how often to reoccur, and set a reminder relative to the task if you want a heads up when it approaches.</p>
      </div>
      <div class="col-md-4">
        <h4>Alerts + Notifications</h4>
        <p class="p-sm">Copper sends you real-time notifications that indicate when leads or contacts need your attention.</p>
      </div>

      <div class="col-md-4">
        <h4>Email Templates</h4>
        <p class="p-sm">Stop writing emails from scratch. Use prebuilt emails to answer frequent questions, greet new customers, or promote your service.</p>
      </div>
      <div class="col-md-4">
        <h4>Suggested Contacts</h4>
        <p class="p-sm">Copper scrapes your email history to suggest new leads and contacts to add to the system.</p>
      </div>
      <div class="col-md-4">
        <h4>Task Automation</h4>
        <p class="p-sm">When you update an opportunity from one stage to the next you can automatically trigger the next set of actions in Copper.</p>
      </div>

        <div class="col-md-4">
            <h4>Auto-enrich records</h4>
            <p class="p-sm">Copper scrapes the internet for contact information, social profiles, personal interests and automatically adds it to the record.</p>
          </div>
          <div class="col-md-4">
            <h4>Email Capture</h4>
            <p class="p-sm">Automatically sync emails and contacts in Gmail to companies in Copper—so you have the whole history in one place without having to lift a finger.</p>
          </div>
          <div class="col-md-4">
            <h4>Meeting scheduler </h4>
            <p class="p-sm">Send a meeting request and provide your availability right from Copper.</p>
          </div>
      </div>

    </div>
    <div class="row c-align--center extra-top-margin--small">
      <a class="t-link" href="/features">See all features</a>
    </div>
  </div>
</section>

<!-- final CTA --> 

<section class="final-plea product-page">
  <div class="container">
    <div class="row"> {# background--burgundy #}
      <div class="col-md-5">
        <h2>Now you can do the work that matters.</h2>
        <p>Start your 14-day free trial today.</p>
        <div class="c-hero__buttons">
            <a class="c-button sendUTMsToAmplitude" href="{{ craft.app.config.general.signUpUrl }}">Try Free</a>
            <a class="c-button c-button--outline"  href="/demos">Request Demo</a>
        </div>

      </div>
      <div class="col-md-5 offset-md-2">
        <div class="">
          <picture>
          <source type="image/webp" srcset="/imgs/product/191223_Automate_finalplea.webp"  class=""   alt="Automation final image">
          <source type="image/png" srcset="/imgs/product/191223_Automate_finalplea.png"  class=""   alt="Automation final image">
          <img   class=""   src="/imgs/product/191223_Automate_finalplea.png"   alt="Automation final image" >
</picture>
        </div>        
      </div>
    </div>
  </div>
</section>