<!-- Hero Form --> 
<section class="c-hero--signup-form split-background--purple">
  <div class="container">
    <div class="row">
      {# <div class="col-md c-valign--middle"> #}
      <div class="col-md-6 c-valign--middle">
        <h1 class="more-space">Finally... a CRM for G&nbsp;Suite.</h1>
        <p class="form-subtitle">Manage all your contacts, deals, emails, files, and more in one place.</p>
        <div class="form_container">
          <form class="signup_form" id="signup_form" action="https://app.prosperworks.com/users" accept-charset="UTF-8" method="post">
            <input name="utf8" type="hidden" value="✓">
            <input type="hidden" name="authenticity_token" value="lAAB/AYz9RxQR4RN74ZQgCErmru66/VW8Kzw3EeKrJrJC4AjlOsOIwvmktA9F0k1HVJQkSEber78cUBqUaYwhw==">
            <a class="google_light_btn" href="https://app.prosperworks.com/auth/auto_login?continue_with_google=true&amp;failure_url=https%3A%2F%2Fapp.prosperworks.com%2Fusers%2Fsign_up%3Fauth_error%3DAuthentication%2Bfailed.%2BPlease%2Benter%2Byour%2Bemail%2Bbelow%2Bto%2Bcontinue.&amp;prompt=consent&amp;provider=google_oauth2_extended">
                <img class="google_icon" src="imgs/google-g-0cf576a5dab9315daac7ffe29d29ed585e0ff9850e59408d0f25f38dc1da037b.svg" alt="Google g">
                <span class="google_light_btn_label">
                    Continue with Google
                </span>
            </a>
            <div class="signup_form_subtext">
                or use your email to sign up:
            </div>
            <div class="field">
                <div class="form_text_field_container">
                    <label for="user[full_name]">Full Name</label>
                    <input class="text_field" size="30" placeholder="Jane Doe" type="text" name="user[full_name]" id="user_full_name">
                </div>
            </div>
            <div class="field">
                <div class="form_text_field_container">
                    <label for="user[email]">Work Email</label>
                    <input size="30" class="text_field" placeholder="janedoe@example.com" type="email" name="user[email]" id="user_email">
                </div>
            </div>
            <input type="hidden" name="ampDeviceID" value="" >
            <div class="submit-button-row">
              <input type="submit" name="commit" value="Try Free" class="submit_button is-pink with-no-border">
            </div>
          </form>
          <p class="disclaimer">By signing up, I agree to Copper’s <a href="/privacy">privacy policy</a> & <a href="/terms">terms of service.</a></p>
        </div>
      </div>
      <div class="col-md c-valign--middle">
        <div class="c-image">
          <picture>
          <source type="image/webp" srcset="/imgs/gsuite/200209_GSuiteAddOn_LP_Hero.webp"  class="home-floating-image large-image"   alt="G suite add on image">
          <source type="image/png" srcset="/imgs/gsuite/200209_GSuiteAddOn_LP_Hero.png"  class="home-floating-image large-image"   alt="G suite add on image">
          <img   class="home-floating-image large-image"   src="/imgs/gsuite/200209_GSuiteAddOn_LP_Hero.png"   alt="G suite add on image" >
</picture>
        </div>            
      </div>
    </div>
  </div>
</section>

<!-- Product Focus -->
<section class="c-product-focus c-single-column">
  <div class="container">
    <div class="row">
      <div class="col-md-12 c-align--center">
        <h2 class="col-md-10">Use G&nbsp;Suite? Then you <br>should use Copper.</h2> 
        <!--Video section-->
        <div class="c-resource-media no-top-padding">
          <figure>
            <video style="width: 100%;" playsinline autoplay muted loop >
              <source src="/videos/gsuite/GSuite-video.mp4" type="video/mp4">
            </video>
          </figure>
        </div>
        <p class="col-md-8">Copper fits right into your Gmail, Calendar, and Drive, so once you download the <span class="t-hot-pink"><a target="_blank" href="https://chrome.google.com/webstore/detail/copper-crm-for-gmail/hpfmedbkgaakgagknibnonpkimkibkla?hl=en">Chrome Extension</a></span> or the <span class="t-hot-pink"><a target="_blank" href="https://gsuite.google.com/marketplace/app/copper_for_g_suite/307884588814">G Suite Add-on</a></span>, you never have to switch tabs to add leads, track email conversations, and manage tasks.</p>
        <div class="c-single-column__buttons">
          <a class="c-button sendUTMsToAmplitude" href="{{ craft.app.config.general.signUpUrl }}">Try Free</a>
          <a class="c-button c-button--outline" href="/demos">Request Demo</a>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="c-cols c-cols-alternate no-top-padding">
  <div class="container">
    <div class="row extra-padding--bottom">
      <div class="col-md-6 offset-md-1 order-1">
        <div class="c-image google-drive-integration c-image--drop-left">
          <picture>
          <source type="image/webp" srcset="/imgs/gsuite/200209_GSuiteAddOn_LP_Module5.webp"  class="drop-left__img h-remove-shadow"    alt="Google Drive Integration">
          <source type="image/png" srcset="/imgs/gsuite/200209_GSuiteAddOn_LP_Module5.png"  class="drop-left__img h-remove-shadow"    alt="Google Drive Integration">
          <img   class="drop-left__img h-remove-shadow"    src="/imgs/gsuite/200209_GSuiteAddOn_LP_Module5.png"   alt="Google Drive Integration" >
</picture>
        </div>
      </div>
      <div class="col-md-5 c-valign--middle order-2">
        <h2>Stay on top of your schedule and to-do list.</h2>
        <p>Copper syncs with your Google Calendar so meetings and tasks are auto-populated without you doing a thing. You’ll never miss a beat with a client, lead, or task. Bonus: you can have your contacts book you directly.</p>
        <!-- <a href="https://www.youtube.com/watch?v=z8LkXkB1izU" target="_blank" class="t-link g-suite-link">Learn More</a> -->
      </div>
    </div>
  </div>
</section>

<!-- Deal Close Callout -->
<!-- Join smb module -->	
<section  class="c-single-column join-smb bottom-padding-mobile background--hot-pink">
			
  <div class="container">	
      <picture>
          <source type="image/webp" srcset="/imgs/IMG_02_join-smb-teams@2x.webp"  class="as-background"   alt="Join smb team image"/>
          <source type="image/png" srcset="/imgs/IMG_02_join-smb-teams@2x.png"  class="as-background"   alt="Join smb team image"/>
          <img   class="as-background"   src="/imgs/IMG_02_join-smb-teams@2x.png"   alt="Join smb team image"/ >
</picture>
      <div class="col-md-8 offset-md-2 c-single-column__container c-align--center">
        <h2 class="col-md-12">It’s actually easy to use.</h2>
        <p class="col-md-12">Copper was built to look and feel exactly like G Suite apps. The simple, clean, and beautiful interface makes navigating Copper easy and familiar. No implementation or training required, we promise!</p>
        <div class="c-single-column__buttons">
          <a class="c-button c-button--white sendUTMsToAmplitude" href="{{ craft.app.config.general.signUpUrl }}">Try Free</a>
          <a class="c-button c-button--white-outline" href="/demos">Request Demo</a>
        </div>
      </div>
  </div>
</section>
<section class="c-cols c-cols-alternate no-bottom-padding">
  <div class="container">
    <div class="row column-reverse">
      <div class="col-md-5 c-valign--middle order-1">
        <div>
          <h2>Build any custom report you want.</h2>
          <p>We make it easy to turn data into insights with our Custom Report Builder that connects directly to Google Sheets. Export any dataset from Copper directly to Google Sheets and create advanced dashboards, reports, charts, and graphs collaboratively with your team.</p>
        </div>
      </div>
      <div class="col-md-6 offset-md-1 order-2">
        <div class="c-image c-image--left c-image--shadow animation-element slide-bottom">
          <picture>
          <source type="image/webp" srcset="/imgs/gsuite/200209_GSuiteAddOn_LP_Module4.webp"  class="c-image-expand"   alt="Value opportunity">
          <source type="image/png" srcset="/imgs/gsuite/200209_GSuiteAddOn_LP_Module4.png"  class="c-image-expand"   alt="Value opportunity">
          <img   class="c-image-expand"   src="/imgs/gsuite/200209_GSuiteAddOn_LP_Module4.png"   alt="Value opportunity" >
</picture>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- List -->
<section class="c-list">
  <div class="container">
    <div class="c-list__header c-align--center">
      <h2 class="t-center col-md-10">Copper integrates with <br>every G Suite app.</h2>
    </div>
    <div class="row">

      <div class="col-md-4">
        <div class="row d-flex">
          <div class="col-2 col-sm-1 col-md-2 icon">
            <picture>
          <source type="image/webp" srcset="/imgs/gsuite/gsuite-contacts.webp"    alt="Gmail Contact">
          <source type="image/png" srcset="/imgs/gsuite/gsuite-contacts.png"    alt="Gmail Contact">
          <img     src="/imgs/gsuite/gsuite-contacts.png"   alt="Gmail Contact" >
</picture>
          </div>
          <div class="col-10">
            <h4>Gmail Contacts</h4>
            <p class="p-sm">Copper suggests new leads and updates old ones based on your email conversations. We’ll also send
              notifications right to your inbox so nothing falls through the cracks.</p>
          </div>
        </div>
      </div>

      <div class="col-md-4">
	      <div class="row d-flex">
		      <div class="col-2 col-sm-1 col-md-2 icon">
			      <picture>
          <source type="image/webp" srcset="/imgs/gsuite/gsuite-calendar.webp"    alt="Google Calendar">
          <source type="image/png" srcset="/imgs/gsuite/gsuite-calendar.png"    alt="Google Calendar">
          <img     src="/imgs/gsuite/gsuite-calendar.png"   alt="Google Calendar" >
</picture>
		      </div>
		      <div class="col-10">
	        	<h4>Google Calendar</h4>
						<p class="p-sm">Never miss another meeting. Any meetings with your contacts are automatically recorded and synced. Bonus points: contacts can book you directly from your calendar.</p>
		      </div>
	      </div>
      </div>

      <div class="col-md-4">
        <div class="row d-flex">
          <div class="col-2 col-sm-1 col-md-2 icon">
            <picture>
          <source type="image/webp" srcset="/imgs/gsuite/logo_drive.webp"    alt="Google Calendar">
          <source type="image/png" srcset="/imgs/gsuite/logo_drive.png"    alt="Google Calendar">
          <img     src="/imgs/gsuite/logo_drive.png"   alt="Google Calendar" >
</picture>
          </div>
          <div class="col-10">
            <h4>Google Drive</h4>
            <p class="p-sm">Copper makes it easy to tie all related files together in one place. Easily attach and access any Google Drive file related to your accounts and deals.</p>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="row d-flex">
          <div class="col-2 col-sm-1 col-md-2 icon">
            <picture>
          <source type="image/webp" srcset="/imgs/gsuite/gsuite-docs.webp"    alt="Google Docs">
          <source type="image/png" srcset="/imgs/gsuite/gsuite-docs.png"    alt="Google Docs">
          <img     src="/imgs/gsuite/gsuite-docs.png"   alt="Google Docs" >
</picture>
          </div>
          <div class="col-10">
            <h4>Google Docs</h4>
            <p class="p-sm">Working together has never been easier. Just attach a Google Doc to any lead, account, or
              opportunity in Copper.</p>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="row d-flex">
          <div class="col-2 col-sm-1 col-md-2 icon">
            <picture>
          <source type="image/webp" srcset="/imgs/gsuite/gsuite-sheets.webp"    alt="Google Sheets">
          <source type="image/png" srcset="/imgs/gsuite/gsuite-sheets.png"    alt="Google Sheets">
          <img     src="/imgs/gsuite/gsuite-sheets.png"   alt="Google Sheets" >
</picture>
          </div>
          <div class="col-10">
            <h4>Google Sheets</h4>
            <p class="p-sm">Copper’s Custom Report Builder allows you to export any data from Copper directly to Google Sheets
              to create advanced dashboards, reports, and charts that your team will actually use.</p>
          </div>
        </div>
      </div>

      <div class="col-md-4">
	      <div class="row d-flex">
		      <div class="col-2 col-sm-1 col-md-2 icon">
			      <picture>
          <source type="image/webp" srcset="/imgs/gsuite/gsuite-slides.webp"    alt="Google Slides">
          <source type="image/png" srcset="/imgs/gsuite/gsuite-slides.png"    alt="Google Slides">
          <img     src="/imgs/gsuite/gsuite-slides.png"   alt="Google Slides" >
</picture>
		      </div>
		      <div class="col-10">
						<h4>Google Slides</h4>
						<p class="p-sm">Customize your slide decks in seconds with Copper’s Slide integration. In just a few clicks, populate with your decks with key data.</p>
		      </div>
	      </div>
      </div>

      <div class="col-md-4">
	      <div class="row d-flex">
		      <div class="col-2 col-sm-1 col-md-2 icon">
			      <picture>
          <source type="image/webp" srcset="/imgs/gsuite/gsuite-hangouts.webp"    alt="Hangouts Chat">
          <source type="image/png" srcset="/imgs/gsuite/gsuite-hangouts.png"    alt="Hangouts Chat">
          <img     src="/imgs/gsuite/gsuite-hangouts.png"   alt="Hangouts Chat" >
</picture>
		      </div>
		      <div class="col-10">
						<h4>Hangouts Chat</h4>
						<p class="p-sm"> Copper Hangouts Chat integration  notifies you of important changes and updates from leads to opportunities.</p>
		      </div>
	      </div>
      </div>

      

      <div class="col-md-4">
	      <div class="row d-flex">
		      <div class="col-2 col-sm-1 col-md-2 icon">
			      <picture>
          <source type="image/webp" srcset="/imgs/gsuite/gsuite-datastudio.webp"    alt="Data Studio">
          <source type="image/png" srcset="/imgs/gsuite/gsuite-datastudio.png"    alt="Data Studio">
          <img     src="/imgs/gsuite/gsuite-datastudio.png"   alt="Data Studio" >
</picture>
		      </div>
		      <div class="col-10">
						<h4>Data Studio</h4>
						<p class="p-sm">Connect Copper and Google’s Data Studio to analyze, visualize, and drag-n-drop data from multiple sources so the whole team can make data driven decisions.</p>
		      </div>
	      </div>
      </div>

      <div class="col-md-4">
	      <div class="row d-flex">
		      <div class="col-2 col-sm-1 col-md-2 icon">
			      <picture>
          <source type="image/webp" srcset="/imgs/gsuite/gsuite-dataenrichment.webp"    alt="Data Enrichment">
          <source type="image/png" srcset="/imgs/gsuite/gsuite-dataenrichment.png"    alt="Data Enrichment">
          <img     src="/imgs/gsuite/gsuite-dataenrichment.png"   alt="Data Enrichment" >
</picture>
		      </div>
		      <div class="col-10">
						<h4>Data Enrichment</h4>
						<p class="p-sm">Copper automatically finds and updates contact details including: phone numbers, social media handles, company descriptions and more.</p>
		      </div>
	      </div>
      </div>

      </div>

		</div>
	</div>
</section>

<!-- Hero -->
<section class="c-hero--split background--leavebehind">
    <div class="c-image">
      <picture>
          <source type="image/webp" srcset="/imgs/UI_ipad_final-plea-update-new.webp"    alt="Ipad UI image">
          <source type="image/png" srcset="/imgs/UI_ipad_final-plea-update-new.jpg"    alt="Ipad UI image">
          <img     src="/imgs/UI_ipad_final-plea-update-new.jpg"   alt="Ipad UI image" >
</picture>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-6 c-valign--middle">
          <pre class="c-eyebrow c-eyebrow--light">Goodbye Data Entry</pre>
          <h2 class="t-white">Hello Copper.</br>Try it free!</h2>
          <p style="max-width: 420px;">No credit card required. Start your 14-day free trial today.</p>
          <div class="c-hero__buttons">
              <a class="c-button sendUTMsToAmplitude" href="{{ craft.app.config.general.signUpUrl }}">Try Free</a>
              <a class="c-button c-button--outline"  href="/demos">Request Demo</a>
          </div>
        </div>
      </div>
    </div>
  </section>
