<!-- Hero -->
<section class="c-hero--split background--hot-pink">
	<div class="c-image">
	  <picture>
          <source type="image/webp" srcset="/imgs/implementation/implementation-hero.webp"    alt="Implementation hero image">
          <source type="image/png" srcset="/imgs/implementation/implementation-hero.jpg"    alt="Implementation hero image">
          <img     src="/imgs/implementation/implementation-hero.jpg"   alt="Implementation hero image" >
</picture>
	</div>
  <div class="container">
    <div class="row">
      <div class="col-md-6 c-valign--middle">
      <pre class="c-eyebrow c-eyebrow--light">Implementation</pre>
        <h1 class="t-white">The only crm that works instantly.</h1>
        <p>With Copper, you’ll be up and running in minutes, not months.</p>
        <div class="c-hero__buttons">
						<a class="c-button c-button--white" href="https://app.prosperworks.com/users/sign_up">Free Trial</a>
						<a class="c-button c-button--white-outline" href="/demos">Request Demo</a>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Product Focus -->
<section class="c-product-focus">
  <div class="container">
    <div class="row c-align--center">
      <div class="col-md">
        {# <pre class="c-eyebrow ">FASTEST SETUP IN TOWN</pre> #}
        <h2 class="col-md-10">Set up over a cup of coffee.</h2>
        <p class="col-md-8">Yes, you read that right. With Copper you’re up and running in minutes. All data is automatically populated from Gmail, and it’s easy to configure from there.</p>
        <a class="t-link" href="https://www.youtube.com/watch?v=Lp5HrKsnf9o" target="_blank">How easy is it?</a>
        <br>
        <div class="c-product-focus__media rectangle--hot-pink rectangle--top--left">
          <picture>
          <source type="image/webp" srcset="/imgs/Implementation_UI00.webp"    alt="Implementation image 1">
          <source type="image/png" srcset="/imgs/Implementation_UI00.png"    alt="Implementation image 1">
          <img     src="/imgs/Implementation_UI00.png"   alt="Implementation image 1" >
</picture>
        </div>
        <div class="c-image c-image--bottom--right c-image--shadow">
					<picture>
          <source type="image/webp" srcset="/imgs/implementation/products-implementations-UI-01.webp"    alt="Implementation image 2">
          <source type="image/png" srcset="/imgs/implementation/products-implementations-UI-01.jpg"    alt="Implementation image 2">
          <img     src="/imgs/implementation/products-implementations-UI-01.jpg"   alt="Implementation image 2" >
</picture>
				</div>
      </div>
    </div>
  </div>
</section>

<!-- Content Jumble -->
<section class="c-jumble c-jumble-background--hot-pink c-jumble--align-left">
	<div class="container">

		<div class="c-jumble__container col-md-10 no-padding">
			<div class="c-jumble__content c-valign--middle">
					
					<div class="row">
						<div class="col-md-6 order-md-2">
							<div class="c-panel__blockquote c-panel--top--mint c-valign--middle rectangle--hot-pink rectangle--bottom--left">
								<blockquote>With Copper, there has been <strong>absolutely</strong> no learning curve.</blockquote>
								<cite>John Logan <span class="c-panel__blockquote--position">TAS Tradesoft</span></cite>
								<div class="c-panel__blockquote--logo">
									<picture>
          <source type="image/webp" srcset="/imgs/implementation/tas-tradesoft-logo.webp"    alt="Tas tradesoft logo">
          <source type="image/png" srcset="/imgs/implementation/tas-tradesoft-logo.png"    alt="Tas tradesoft logo">
          <img     src="/imgs/implementation/tas-tradesoft-logo.png"   alt="Tas tradesoft logo" >
</picture>
								</div>
							</div>
						</div>
						<div class="col-md-6 order-md-1 c-valign--middle">	
							<pre class="c-eyebrow c-eyebrow--light">Full Team Adoption</pre>
							<h2>So intuitive, there’s no learning curve.</h2>
							<p>Copper looks and feels <em>exactly</em> like G Suite apps so there’s no coaching or training needed. Every team member is up and running in minutes from anywhere.</p>
              <div>
                <a class="c-button c-button--white" target="" href="/blog/tas-tradesoft-case-study">Check out their story</a>
              </div>
						</div>
					</div>
									
			</div>
		</div>

	</div>
</section>

<section class="c-cols c-cols-alternate">
  <div class="container">
    <div class="row extra-padding--bottom">
      <div class="col-md-7 order-2">
        <div class="c-image c-image--drop-right colorblock--bottom--right colorblock--light-mint c-image--shadow rectangle--bottom--left rectangle--mint">
          <picture>
          <source type="image/webp" srcset="/imgs/implementation/implementation_ui01.webp"  class="drop-right__img"   alt="Admin, reps, consultants will thank you">
          <source type="image/png" srcset="/imgs/implementation/implementation_ui01.png"  class="drop-right__img"   alt="Admin, reps, consultants will thank you">
          <img   class="drop-right__img"   src="/imgs/implementation/implementation_ui01.png"   alt="Admin, reps, consultants will thank you" >
</picture>
        </div>
      </div>
      <div class="col-md-4 c-valign--middle order-1">
        <pre class="c-eyebrow c-eyebrow--dark">No Heavy Lifting</pre>
        <h2>Admin, reps, & consultants will thank you.</h2>
        <p>Copper adapts to ongoing needs for every relationship team. It works from the get-go so you don’t have to waste budget on the endless customizations traditional crms demand.</p>
        <div>
          <a class="t-link" href="https://www.youtube.com/watch?v=0fZdsmBlaUs" target="_blank">Watch the video</a>
        </div>
      </div>
    </div>
  </div>
</section>


<!-- Pricing Hero-->
<section class="c-pricing-hero--cornflower no-top-padding">
  <div class="container c-align--center">
    <h2 class="col-md-10">Pick a plan</h2>
  </div>

  <div class="container">
    <div class="c-pricing-hero__plans-container square--top--left square--hot-pink circle--bottom--right circle--volt">
      <div class="c-pricing-hero__plans ">
        <div class="c-pricing-hero__plans__title ">
          <h3>Basic</h3>
        </div>
        <div class="c-pricing-hero__plans__content">
          <div class="c-pricing-hero__billing">
            <div class="c-pricing-hero__annual desc js-pricingannual">$19</div>
            <div class="c-pricing-hero__monthly desc js-pricingmonthly" style="display: none;">$24</div>
            <span class="c-pricing-hero__sub">Per User, Per Month</span>
          </div>
          <p class="p-sm">Never used crm before? Let us help you avoid the time-wasting traps of other CRMs.</p>
          <div class="c-pricing-plans__footer">
              <div class="c-pricing-plans__ctas">
                <a class="c-button c-button--white sendUTMsToAmplitude" target="" href="{{ craft.app.config.general.signUpUrl }}">Try Free</a>
              </div>
          </div>
        </div>
      </div>
      <div class="c-pricing-hero__plans featured">
        <div class="c-pricing-hero__plans__title featured">
          <p class="p-sm">MOST POPULAR</p>
          <h3>Professional</h3>
        </div>
        <div class="c-pricing-hero__plans__content">
          <div class="c-pricing-hero__billing">
            <div class="c-pricing-hero__annual desc js-pricingannual">$49</div>
            <div class="c-pricing-hero__monthly desc js-pricingmonthly" style="display: none;">$69</div>
            <span class="c-pricing-hero__sub">Per User, Per Month</span>
          </div>
          <p class="p-sm">Ready to see real growth? Try free for 14 days—no credit card required, cancel anytime!</p>
          <div class="c-pricing-plans__footer">
            <div class="c-pricing-plans__ctas">
              <a class="c-button c-button--hot-pink sendUTMsToAmplitude" target="" href="{{ craft.app.config.general.signUpUrl }}">Try Free</a>
            </div>
          </div>
        </div>
      </div>
      <div class="c-pricing-hero__plans ">
        <div class="c-pricing-hero__plans__title ">
          <h3>Business</h3>
        </div>
        <div class="c-pricing-hero__plans__content">
          <div class="c-pricing-hero__billing">
            <div class="c-pricing-hero__annual desc js-pricingannual">$119</div>
            <div class="c-pricing-hero__monthly desc js-pricingmonthly" style="display: none;"></div>
            <span class="c-pricing-hero__sub">Per User, Per Month</span>
          </div>
          <p class="p-sm">Already scaling? Our solutions support the needs of established sales teams.</p>
          <div class="c-pricing-plans__footer">
              <div class="c-pricing-plans__ctas">
                <a class="c-button c-button--white sendUTMsToAmplitude" target="" href="{{ craft.app.config.general.signUpUrl }}">Try Free</a>
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</section>

<!-- Hero -->
<section class="c-hero--split background--leavebehind">
    <div class="c-image">
      <picture>
          <source type="image/webp" srcset="/imgs/UI_ipad_final-plea-update-new.webp"    alt="Ipad UI image">
          <source type="image/png" srcset="/imgs/UI_ipad_final-plea-update-new.jpg"    alt="Ipad UI image">
          <img     src="/imgs/UI_ipad_final-plea-update-new.jpg"   alt="Ipad UI image" >
</picture>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-6 c-valign--middle">
          <pre class="c-eyebrow c-eyebrow--light">Goodbye Data Entry</pre>
          <h2 class="t-white">Hello Copper.</br>Try it free!</h2>
          <p style="max-width: 420px;">No credit card required. Start your 14-day free trial today.</p>
          <div class="c-hero__buttons">
              <a class="c-button"  href="/demos">Request Demo</a>
              <a class="c-button c-button--outline sendUTMsToAmplitude" href="{{ craft.app.config.general.signUpUrl }}">Try Free</a>
          </div>
        </div>
      </div>
    </div>
  </section>