<!-- Hero -->
<section class="c-hero--split background--graphite">
	<div class="c-image">
    <picture>
          <source type="image/webp" srcset="/imgs/insights/insights--hero.webp"    alt="Insights hero image">
          <source type="image/png" srcset="/imgs/insights/insights--hero.jpg"    alt="Insights hero image">
          <img     src="/imgs/insights/insights--hero.jpg"   alt="Insights hero image" >
</picture>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-6 c-valign--middle">
	      <pre class="c-eyebrow c-eyebrow--light">Insights</pre>
        <h1 class="t-white">Accurate data from lead to close.</h1>
        <p>Copper gives you real-time insights to help you close more deals.</p>
        <div class="c-hero__buttons">
          <a class="c-button sendUTMsToAmplitude" href="{{ craft.app.config.general.signUpUrl }}">Try Free</a>
          <a class="c-button c-button--outline" href="/demos">Request Demo</a>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Product Focus -->
<section class="c-product-focus">
  <div class="container">
    <div class="row">
      <div class="col-md c-align--center">
        <h2 class="col-md-10">Reports you’ll actually use.</h2>
        <p class="col-md-8">Copper’s native G Suite integration automatically captures all of your data so you get reports you can act on, not just send to your boss.</p>
        <a class="t-link" href="/features/pipeline-management" target="_blank">Pipeline management</a>
        <br>
        <div class="c-product-focus__media rectangle--mint rectangle--top--left">
          <picture>
          <source type="image/webp" srcset="/imgs/insights/Insights_UI01.webp"    alt="Insights image 1">
          <source type="image/png" srcset="/imgs/insights/Insights_UI01.png"    alt="Insights image 1">
          <img     src="/imgs/insights/Insights_UI01.png"   alt="Insights image 1" >
</picture>
        </div>
        <!--
        <div class="c-image c-image--bottom--right">
					<picture>
          <source type="image/webp" srcset="/imgs/implementations-coffee.webp"    alt="Insights image 1">
          <source type="image/png" srcset="/imgs/implementations-coffee.png"    alt="Insights image 1">
          <img     src="/imgs/implementations-coffee.png"   alt="Insights image 1" >
</picture>
				</div>
				-->
      </div>
    </div>
  </div>
</section>

<!-- Content Jumble -->
<section class="c-jumble c-jumble-background--hot-pink top-margin-mobile">
	<div class="container">

		<div class="c-jumble__container col-md-10 no-padding">
			<div class="c-jumble__content c-valign--middle">
					
					<div class="row">
						<div class="col-md-6 order-md-2">
							<div class="c-image">
								<picture>
          <source type="image/webp" srcset="/imgs/insights/insights-jumble-2.webp"  alt="Insights jumble"  >
          <source type="image/png" srcset="/imgs/insights/insights-jumble-2.png"  alt="Insights jumble"  >
          <img   alt="Insights jumble"   src="/imgs/insights/insights-jumble-2.png"   >
</picture>
							</div>
						</div>
						<div class="col-md-6 order-md-1">	
							<pre class="c-eyebrow c-eyebrow--light">Deal Management</pre>
							<h2>Never drop the ball.</h2>
							<p>Copper’s multiple and customizable pipelines allow everyone in your company to track deals in real-time.</p>
              <a class="c-button c-button--white" href="https://www.youtube.com/watch?v=3PiUhz692B8" target="_blank" >More on pipelines</a>
						</div>
					</div>
									
			</div>
		</div>

	</div>
</section>

<section class="c-cols c-cols-alternate no-bottom-padding">
  <div class="container">
    <div class="row column-reverse">
      <div class="col-md-5">
        <div class="c-image c-image--left c-image--shadow colorblock--top--left colorblock--eggplant diamond--bottom--left diamond--volt">
          <picture>
          <source type="image/webp" srcset="/imgs/insights/insights-forecast.webp"    alt="Stop the forecasting guessing games">
          <source type="image/png" srcset="/imgs/insights/insights-forecast.jpg"    alt="Stop the forecasting guessing games">
          <img     src="/imgs/insights/insights-forecast.jpg"   alt="Stop the forecasting guessing games" >
</picture>
        </div>
      </div>
      <div class="col-md-5 offset-md-2 c-valign--middle">
        <div class="c-cols__copy">
	        <pre class="c-eyebrow c-eyebrow--dark">Forecast management</pre>
          <h2>Stop the forecasting guessing games.</h2>
          <p>Built-in sales forecast reports display potential revenue by expected close date so you can keep a pulse on your pipeline, plan ahead and course correct.</p>
          <a class="t-link" href="/features/sales-forecasting" target="_blank">Learn more</a>
        <br>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Deal Close Callout -->
<section class="c-single-column">
  <div class="container">

    <div class="col-md-10 offset-md-1 c-single-column__container h-hairline">
      <h2>Make everyone a decision-maker</h2>
      <div class="c-single-column__buttons">
        <a class="c-button" href="{{ craft.app.config.general.signUpUrl }}">Empower Your Team</a>
      </div>
    </div>

    </div>
</section>

<section class="c-cols c-cols-alternate">
  <div class="container">
    <div class="row extra-padding--bottom">
      <div class="col-md-7 order-2">
        <div class="c-image c-image--drop-right colorblock--bottom--right colorblock--putty c-image--shadow rectangle--bottom--left rectangle--mint">
          <picture>
          <source type="image/webp" srcset="/imgs/insights/pipeline-report.webp"  class="drop-right__img"   alt="Slice numbers your way">
          <source type="image/png" srcset="/imgs/insights/pipeline-report.jpg"  class="drop-right__img"   alt="Slice numbers your way">
          <img   class="drop-right__img"   src="/imgs/insights/pipeline-report.jpg"   alt="Slice numbers your way" >
</picture>
        </div>
      </div>
      <div class="col-md-4 c-valign--middle order-1">
        <pre class="c-eyebrow c-eyebrow--dark">Advanced Reporting</pre>
        <h2>Slice numbers your way.</h2>
        <p>Custom fields and pipeline filters let you instantly customize your data so you can see and use it how you want to (not how we think you should).</p>
      </div>
    </div>
    <div class="row column-reverse">
      <div class="col-md-5">
        <div class="c-image c-image--left c-image--shadow colorblock--bottom--left colorblock--midnight circle--bottom--left circle--mint">
          <picture>
          <source type="image/webp" srcset="/imgs/insights/insights_ui05.webp"    alt="Put sales data to work">
          <source type="image/png" srcset="/imgs/insights/insights_ui05.png"    alt="Put sales data to work">
          <img     src="/imgs/insights/insights_ui05.png"   alt="Put sales data to work" >
</picture>
        </div>
      </div>
      <div class="col-md-4 offset-md-2 c-valign--middle">
        <div class="c-cols__copy">
	        <pre class="c-eyebrow c-eyebrow--dark">Data Studio</pre>
          <h2>Put sales data to work.</h2>
          <p>Join data from multiple sources with our Google Sheets add-on and Data Studio integration.</p>
          <a class="t-link" href="/blog/turn-copper-data-into-visual-analytics-via-google-data-studio" target="_blank">Data Studio Integration</a>
        </div>
      </div>
    </div>
  </div>
</section>

<style>
  .c-quote-carousel__blockquote.col-md-10.c-valign--middle.rectangle--hot-pink.rectangle--top--right:before{
        content: '';
    position: absolute;
    top: -45%;
    right: -180px;
    z-index: -1;
    display: block;
    transform: rotate(45deg) scale(0.8);

  }

</style>

<!-- Quote Carousel -->
<section class="c-quote-carousel js-quote-carousel">
	<div class="container-fluid">

		<div class="c-quote-carousel__container col-md-11 col-lg-10 colorblock--mint colorblock--bottom--right">
			<div class="c-quote-carousel__content row">
					
					<div class="container">
						<div class="col-md-10 offset-md-1">
							<pre class="c-eyebrow c-eyebrow--light" style="top:0; margin-left:0;">Success Stories</pre>
              <div class="c-quote-carousel__blockquote col-md-10 c-valign--middle rectangle--hot-pink rectangle--top--right">
									<div class="c-quote-carousel__blockquote--item active">
										<blockquote>Now that we can quickly identify blocked opportunities with a real value attached, we can better identify where to dedicate our time and resources.</blockquote>
										<cite>Nick Ryan<span class="c-quote-carousel__blockquote--position">Business Development Manager, Voxel group</span></cite>
										<div class="c-quote-carousel__blockquote--logo">
											<picture>
          <source type="image/webp" srcset="/imgs/logo-voxel.webp"    alt="Voxel logo">
          <source type="image/png" srcset="/imgs/logo-voxel.png"    alt="Voxel logo">
          <img     src="/imgs/logo-voxel.png"   alt="Voxel logo" >
</picture>
										</div>
									</div>
								</div>	
						</div>
						

							{# <div class="row c-quote-carousel__group--item">
								<div class="c-quote-carousel__group--item-image col-md-5 c-align--center c-valign--middle">
									<picture>
          <source type="image/webp" srcset="/imgs/sarah-gilbert.webp"    alt="Sarah image">
          <source type="image/png" srcset="/imgs/sarah-gilbert.jpg"    alt="Sarah image">
          <img     src="/imgs/sarah-gilbert.jpg"   alt="Sarah image" >
</picture>
								</div>					
								<div class="c-quote-carousel__blockquote col-md-6 c-valign--middle">	
									<div class="c-quote-carousel__blockquote--item">
										<blockquote>Copper centralized communication and turned selling into a team sport for us.</blockquote>
										<cite>Sarah Gilbert <span class="c-quote-carousel__blockquote--position">Director of IT &amp; Operations, RHR International</span></cite>
										<div class="c-quote-carousel__blockquote--logo">
											<picture>
          <source type="image/webp" srcset="/imgs/rhr-logo.webp"    alt="Rhr logo">
          <source type="image/png" srcset="/imgs/rhr-logo.png"    alt="Rhr logo">
          <img     src="/imgs/rhr-logo.png"   alt="Rhr logo" >
</picture>
										</div>
									</div>
								</div>	
							</div> #}
							
							{# <div class="row c-quote-carousel__group--item">
								<div class="c-quote-carousel__group--item-image col-md-5 c-align--center c-valign--middle order-sm-1">
									<picture>
          <source type="image/webp" srcset="/imgs/vishal-makhijani.webp"    alt="Logo">
          <source type="image/png" srcset="/imgs/vishal-makhijani.jpg"    alt="Logo">
          <img     src="/imgs/vishal-makhijani.jpg"   alt="Logo" >
</picture>
								</div>					
								<div class="c-quote-carousel__blockquote col-md-6 c-valign--middle order-sm-2">
									<div class="c-quote-carousel__blockquote--item">
										<blockquote>Copper makes it easy for me to wake up every day and know exactly what to do to grow the business.</blockquote>
										<cite>Vishal Makhijani <span class="c-quote-carousel__blockquote--position">CEO, Udacity</span></cite>
										<div class="c-quote-carousel__blockquote--logo">
											<picture>
          <source type="image/webp" srcset="/imgs/udacity-logo.webp"    alt="Logo">
          <source type="image/png" srcset="/imgs/udacity-logo.png"    alt="Logo">
          <img     src="/imgs/udacity-logo.png"   alt="Logo" >
</picture>
										</div>
									</div>
								</div>	
							</div> #}
						</div>
						
					</div>
									
			</div>
		</div>

	</div>
</section>

<!-- List -->
<section class="c-list">
  <div class="container">
    <div class="c-list__header t-center">
      <h2>Coach with confidence</h2>
    </div>
    <div class="row">
      <div class="col-md-4">
	      <h4>Leaderboards</h4>
	      <p class="p-sm">Show top performers by revenue, pipeline, meetings set, calls made, and emails sent.</p>
      </div>
      <div class="col-md-4">
	      <h4>Goal Setting</h4>
	      <p class="p-sm">Set and track individual and team goals to monitor progress and course-correct quickly.</p>
      </div>
      <div class="col-md-4">
	      <h4>Real-time Alerts</h4>
	      <p class="p-sm">Task reminders delivered right to your inbox so you’ll never miss a step with a lead or deal. </p>
      </div>
      <div class="col-md-4">
	      <h4>Google Sheets</h4>
	      <p class="p-sm">Take action with insights using our Custom Report Builder that connects directly to Google Sheets.</p>
      </div>
      <div class="col-md-4">
	      <h4>Performance Dashboards </h4>
	      <p class="p-sm">Give every team member quick insight into sales performance, lead source and pipeline created.</p>
      </div>
      <div class="col-md-4">
	      <h4>Activity Reports</h4>
	      <p class="p-sm">Gain insight into team productivity and learn what actions led to closed business.</p>
      </div>
		</div>
    <div class="col-md-12 c-align--center c-case-study__link">
      <a class="t-link" href="/features" target="_blank">See All Reporting Features</a>
    </div>
	</div>
</section>

<!-- Numbers -->
<section class="c-numbers insights off-white rectangle--mint rectangle--top--left">
  <div class="container">
	  <div class="row">
		  <div class="col-md-12 c-numbers__title c-align--center">
			  <h2 class="t-center col-md-10">Win more, together</h2>
		  </div>
	  </div>
    <div class="row">
      <div class="col-md-4">
        <div class="c-number__entry hot-pink">
          <span class="t-eyebrow">Sales Forecasts</span>
          <span class="t-numbers">40%</span>
          <p>More accurate</p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="c-number__entry hot-pink">
          <span class="t-eyebrow">Response Time</span>
          <span class="t-numbers">36%</span>
          <p>Faster response time</p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="c-number__entry hot-pink">
          <span class="t-eyebrow">Reduce Time</span>
          <span class="t-numbers">13</span>
          <div class="c-number__description">
            <p>Hours saved on manual data entry</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Hero -->
<section class="c-hero--split background--leavebehind">
    <div class="c-image">
      <picture>
          <source type="image/webp" srcset="/imgs/UI_ipad_final-plea-update-new.webp"    alt="Ipad UI image">
          <source type="image/png" srcset="/imgs/UI_ipad_final-plea-update-new.jpg"    alt="Ipad UI image">
          <img     src="/imgs/UI_ipad_final-plea-update-new.jpg"   alt="Ipad UI image" >
</picture>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-6 c-valign--middle">
          <pre class="c-eyebrow c-eyebrow--light">Goodbye Data Entry</pre>
          <h2 class="t-white">Hello Copper.</br>Try it free!</h2>
          <p style="max-width: 420px;">No credit card required. Start your 14-day free trial today.</p>
          <div class="c-hero__buttons">
              <a class="c-button"  href="/demos">Request Demo</a>
              <a class="c-button c-button--outline sendUTMsToAmplitude" href="{{ craft.app.config.general.signUpUrl }}">Try Free</a>
          </div>
        </div>
      </div>
    </div>
  </section>
