<!-- Hero -->
<section class="c-hero--split background--eggplant">
	<div class="c-image">
    <picture>
          <source type="image/webp" srcset="/imgs/integrations/integrations-hero.webp"    alt="Integration hero image">
          <source type="image/png" srcset="/imgs/integrations/integrations-hero.jpg"    alt="Integration hero image">
          <img     src="/imgs/integrations/integrations-hero.jpg"   alt="Integration hero image" >
</picture>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-6 c-valign--middle">
	      <pre class="c-eyebrow c-eyebrow--light">Integrations</pre>
        <h1 class="t-white">Copper plays well with others.</h1>
        <p>Copper integrates seamlessly with your favorite apps so you get more done.</p>
        <div class="c-hero__buttons">
          <a class="c-button sendUTMsToAmplitude" href="{{ craft.app.config.general.signUpUrl }}">Try Free</a>
          <a class="c-button c-button--outline" href="/demos">Request Demo</a>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Simplify your workday-->
<section class="c-list-card">
  <div class="container">
    <div class="c-list-card__header c-align--center">
      <h2 class="col-sm-10 t-center">Featured integrations</h2>
      <p class="col-sm-8 t-center">Copper integrates seamlessly with your favorite apps to automatically capture every detail and help you close deals faster.</p>
    </div>
    <div class="row">
	
			<!-- Cards -->

			<a href="https://www.copper.com/integrations/docusign-crm" target="_blank" class="col-md-4 extra-top-margin--x-small">
			  <div class="c-list-card__card c-list-card__card--centered no-margin">
			    <div class="c-list-card__image c-list-card__image--text c-valign--middle">
						<picture>
          <source type="image/webp" srcset="/imgs/integrations/docusign-logo.webp"    alt="Docusign" style="max-width: 200px;">
          <source type="image/png" srcset="/imgs/integrations/docusign-logo.png"    alt="Docusign" style="max-width: 200px;">
          <img     src="/imgs/integrations/docusign-logo.png"   alt="Docusign" style="max-width: 200px;" >
</picture>
					</div>
					<p class="p-sm">Auto-fill templates to send and sign e-documents.</p>
					{# <p class="p-sm">Generate proposals and agreements in just a few clicks</p> #}
			  </div>
			</a>
			
			<a href="https://www.ringcentral.com/apps/copper-ringcentral" target="_blank" class="col-md-4 extra-top-margin--x-small">
			  <div class="c-list-card__card c-list-card__card--centered no-margin">
			    <div class="c-list-card__image c-list-card__image--text c-valign--middle">
						<picture>
          <source type="image/webp" srcset="/imgs/integrations/integrations_logos_ringcentral.webp"    alt="RingCentral">
          <source type="image/png" srcset="/imgs/integrations/integrations_logos_ringcentral.png"    alt="RingCentral">
          <img     src="/imgs/integrations/integrations_logos_ringcentral.png"   alt="RingCentral" >
</picture>
						
					</div>
					<p class="p-sm">Make, receive, and quick-log phone calls within Copper</p>
			  </div>
			</a>
			
			<a href="/integrations/slack-crm" target="_blank" class="col-md-4 extra-top-margin--x-small">
			  <div class="c-list-card__card c-list-card__card--centered no-margin">
			    <div class="c-list-card__image c-list-card__image--text c-valign--middle">
						<picture>
          <source type="image/webp" srcset="/imgs/integrations/integrations_logos_slack.webp"    alt="Slack">
          <source type="image/png" srcset="/imgs/integrations/integrations_logos_slack.png"    alt="Slack">
          <img     src="/imgs/integrations/integrations_logos_slack.png"   alt="Slack" >
</picture>
						
					</div>
					<p class="p-sm">Receive important Copper notifications in any Slack channel</p>
			  </div>
			</a>
			
			<a href="/integrations/zendesk-crm" class="col-md-4 extra-top-margin--x-small">
			  <div class="c-list-card__card c-list-card__card--centered no-margin">
					
						<div class="c-list-card__image c-list-card__image--text c-valign--middle">
							<picture>
          <source type="image/webp" srcset="/imgs/integrations/integrations_logos_zendesk.webp"    alt="Zendesk">
          <source type="image/png" srcset="/imgs/integrations/integrations_logos_zendesk.png"    alt="Zendesk">
          <img     src="/imgs/integrations/integrations_logos_zendesk.png"   alt="Zendesk" >
</picture>
						</div>
						<p class="p-sm">View support tickets on related records</p>
					
			  </div>
			</a>
			
			<a href="/integrations/hubspot-crm" class="col-md-4 extra-top-margin--x-small">
			  <div class="c-list-card__card c-list-card__card--centered no-margin">
			    <div class="c-list-card__image c-list-card__image--text c-valign--middle">
						<picture>
          <source type="image/webp" srcset="/imgs/integrations/integrations_logos_hubspot.webp"    alt="HubSpot">
          <source type="image/png" srcset="/imgs/integrations/integrations_logos_hubspot.png"    alt="HubSpot">
          <img     src="/imgs/integrations/integrations_logos_hubspot.png"   alt="HubSpot" >
</picture>
					</div>
					<p class="p-sm">View subscriber lists and campaigns</p>
			  </div>
			</a>
			
			<a href="/integrations/quickbooks-crm" class="col-md-4 extra-top-margin--x-small">
			  <div class="c-list-card__card c-list-card__card--centered no-margin">
			    <div class="c-list-card__image c-list-card__image--text c-valign--middle">
						<picture>
          <source type="image/webp" srcset="/imgs/integrations/integrations_logos_intuit.webp"    alt="Quickbooks">
          <source type="image/png" srcset="/imgs/integrations/integrations_logos_intuit.png"    alt="Quickbooks">
          <img     src="/imgs/integrations/integrations_logos_intuit.png"   alt="Quickbooks" >
</picture>
						
					</div>
					<p class="p-sm">See any QuickBooks invoice status and amount on any record</p>
			  </div>
			</a>

			<a href="https://www.persistiq.com/copper" target="_blank" class="col-md-4 extra-top-margin--x-small">
			  <div class="c-list-card__card c-list-card__card--centered no-margin">
			    <div class="c-list-card__image c-list-card__image--text c-valign--middle">
						<picture>
          <source type="image/webp" srcset="/imgs/integrations/integrations_logos_persist.webp"    alt="PersistIQ">
          <source type="image/png" srcset="/imgs/integrations/integrations_logos_persist.png"    alt="PersistIQ">
          <img     src="/imgs/integrations/integrations_logos_persist.png"   alt="PersistIQ" >
</picture>
						
					</div>
					<p class="p-sm">Reach and engage more prospects from within Copper</p>
			  </div>
			</a>

			<a href="/integrations/xero-crm" class="col-md-4 extra-top-margin--x-small">
			  <div class="c-list-card__card c-list-card__card--centered no-margin">
			    <div class="c-list-card__image c-list-card__image--text c-valign--middle">
						<picture>
          <source type="image/webp" srcset="/imgs/integrations/integrations_logos_xero.webp"    alt="Xero">
          <source type="image/png" srcset="/imgs/integrations/integrations_logos_xero.png"    alt="Xero">
          <img     src="/imgs/integrations/integrations_logos_xero.png"   alt="Xero" >
</picture>
					</div>
					<p class="p-sm">View any Xero invoice status and amount on any record</p>
			  </div>
			</a>
			
			<a href="https://mailchimp.com/integrations/prosperworks/" target="_blank" class="col-md-4 extra-top-margin--x-small">
			  <div class="c-list-card__card c-list-card__card--centered no-margin">
			    <div class="c-list-card__image c-list-card__image--text c-valign--middle">
						<picture>
          <source type="image/webp" srcset="/imgs/integrations/integrations_logos_mailchimp.webp"    alt="MailChimp">
          <source type="image/png" srcset="/imgs/integrations/integrations_logos_mailchimp.png"    alt="MailChimp">
          <img     src="/imgs/integrations/integrations_logos_mailchimp.png"   alt="MailChimp" >
</picture>
					</div>
					<p class="p-sm">Export contacts from Copper to MailChimp email campaigns</p>
			  </div>
			</a>

		</div>
	</div>
</section>

<!-- Product Focus -->
<section class="c-product-focus">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2>The crm that integrates with the tools you love</h2>
        <div class="col-md-12 c-product-focus__buttons">
		      <a class="c-button"  href="/g-suite-crm" target="_blank" >G Suite Integration</a>
	      </div>
        <div class="c-product-focus__media">
          <picture>
          <source type="image/webp" srcset="/imgs/integrations/integrations-gsuite.webp"    alt="Integration g suite image">
          <source type="image/png" srcset="/imgs/integrations/integrations-gsuite.png"    alt="Integration g suite image">
          <img     src="/imgs/integrations/integrations-gsuite.png"   alt="Integration g suite image" >
</picture>
        </div>
        <div class="c-image c-image--center--center">
					<picture>
          <source type="image/webp" srcset="/imgs/integrations/gsuite-cloud.webp"    alt="G suite cloud image">
          <source type="image/png" srcset="/imgs/integrations/gsuite-cloud.png"    alt="G suite cloud image">
          <img     src="/imgs/integrations/gsuite-cloud.png"   alt="G suite cloud image" >
</picture>
				</div>
      </div>
    </div>
  </div>
</section>

<!-- Case Study -->
<section class="c-case-study c-case-study--align-left bottom-margin-mobile">
	<div class="container colorblock--eggplant">

		<div class="c-case-study__container col-md-11 no-padding">
			
			<div class="c-case-study__content c-valign--middle">
					
					<div class="row row-eq-height align-items-center">
						<div class="col-md-6 c-align--center">
							
							<div class="c-image c-image--shadow">
								<pre class="c-eyebrow c-eyebrow--light">Success Story</pre>
								<picture>
          <source type="image/webp" srcset="/imgs/vishal-makhijani.webp"    alt="Vishal photo">
          <source type="image/png" srcset="/imgs/vishal-makhijani.jpg"    alt="Vishal photo">
          <img     src="/imgs/vishal-makhijani.jpg"   alt="Vishal photo" >
</picture>
							</div>
						</div>
						<div class="col-md-6">
							<div class="c-panel__blockquote c-valign--middle">
								<blockquote>Copper makes it easy for me to wake up every day and know exactly what to do to grow the business.</blockquote>
								<cite>Vishal Makhijani <span class="c-panel__blockquote--position">CEO, Udacity</span></cite>
								<div class="c-panel__blockquote--logo">
									<picture>
          <source type="image/webp" srcset="/imgs/Udacity-gray.webp"    alt="Udacity gray image">
          <source type="image/png" srcset="/imgs/Udacity-gray.png"    alt="Udacity gray image">
          <img     src="/imgs/Udacity-gray.png"   alt="Udacity gray image" >
</picture>
								</div>
							</div>
							<div class="col-md-12 c-align--right c-case-study__link">
								<a class="t-link" href="/blog/udacity-case-study" target="_blank">Read Udacity's story</a>
							</div>
						</div>
					</div>
									
			</div>
		</div>

	</div>
</section>

<section data-tooltip-animate-function="foldin" class="c-list-card no-top-padding">
  <div class="container">
    <div class="c-list-card__header c-align--center">
      <h2 class="col-sm-10 t-center">And hundreds more...</h2>
    </div>
    <div class="row row-eq-height">
	
			<!-- Cards -->
			<div class="col-md-4">
			  <div class="c-list-card__line">
			    <h5>Chat</h5>
			    <ul class="c-list-card__list">
				    <li class="c-tooltip">
							<span>Create new contacts from Intercom
								<i></i>
							</span>
							<div class="flex-container">
								<div>
									<div>Intercom</div>
									<div class="strike-through-title"></div>
								</div>
							</div>
						</li>
						
				    <li class="c-tooltip">
							<span>Start a video meeting from a contact record
								<i></i>
							</span>
							<div class="flex-container">
								<div>
									<div>Google Hangouts</div>
									<div class="strike-through-title"></div>
								</div>
							</div>
						</li>

						<li class="c-tooltip">
							<span>Create contacts and log activity
								<i></i>
							</span>
							<div class="flex-container">
								<div>
									<div>Drift</div>
									<div class="strike-through-title"></div>
								</div>
							</div>
						</li>
			    </ul>
			  </div>
			</div>
			
			<div class="col-md-4">
			  <div class="c-list-card__line">
			    <h5>Project Management</h5>
			    <ul class="c-list-card__list">
						<li class="c-tooltip">
							<span>Add new task and projects
								<i></i>
							</span>
							<div class="flex-container">
								<div>
									<div>​Asana</div>
									<div class="strike-through-title"></div>
								</div>
							</div>
						</li>
						<li class="c-tooltip">
							<span>Update cards and sync changes
								<i></i>
							</span>
							<div class="flex-container">
								<div>
									<div>Trello</div>
									<div class="strike-through-title"></div>
								</div>
							</div>
						</li>
						<li class="c-tooltip">
							<span>Update rows and sync changes
								<i></i>
							</span>
							<div class="flex-container">
								<div>
									<div>Smartsheet</div>
									<div class="strike-through-title"></div>
								</div>
							</div>
						</li>
			    </ul>
			  </div>
			</div>
			
			<div class="col-md-4">
			  <div class="c-list-card__line">
			    <h5>Insights</h5>
			    <ul class="c-list-card__list">
						<li class="c-tooltip">
							<span>Sales and marketing analytics
								<i></i>
							</span>
							<div class="flex-container">
								<div>
									<div>Grow.com</div>
									<div class="strike-through-title"></div>
								</div>
							</div>
						</li>
						<li class="c-tooltip">
							<span>Export data for business intelligence
								<i></i>
							</span>
							<div class="flex-container">
								<div>
									<div>Data Studio</div>
									<div class="strike-through-title"></div>
								</div>
							</div>
						</li>
			    </ul>
			  </div>
			</div>
			
			<div class="col-md-4">
			  <div class="c-list-card__line">
			    <h5>Sales Engagement</h5>
			    <ul class="c-list-card__list">
						<li class="c-tooltip">
							<span>Automated reach out to new leads
								<i></i>
							</span>
							<div class="flex-container">
								<div>
									<div>​Outreach</div>
									<div class="strike-through-title"></div>
								</div>
							</div>
						</li>
						<li class="c-tooltip">
							<span>Automated reach out to new leads
								<i></i>
							</span>
							<div class="flex-container">
								<div>
									<div>Reply.io</div>
									<div class="strike-through-title"></div>
								</div>
							</div>
						</li>
			    </ul>
			  </div>
			</div>
			
			<div class="col-md-4">
			  <div class="c-list-card__line">
			    <h5>Proposals</h5>
			    <ul class="c-list-card__list">
						<li class="c-tooltip">
							<span>Send and receive proposals
								<i></i>
							</span>
							<div class="flex-container">
								<div>
									<div>​Pandadoc</div>
									<div class="strike-through-title"></div>
								</div>
							</div>
						</li>
						<li class="c-tooltip">
							<span>Send and receive documents
								<i></i>
							</span>
							<div class="flex-container">
								<div>
									<div>Docusign</div>
									<div class="strike-through-title"></div>
								</div>
							</div>
						</li>
						<li class="c-tooltip">
							<span>Update deals when documents are signed
								<i></i>
							</span>
							<div class="flex-container">
								<div>
									<div>HelloSign</div>
									<div class="strike-through-title"></div>
								</div>
							</div>
						</li>
			    </ul>
			  </div>
			</div>
			
			<div class="col-md-4">
			  <div class="c-list-card__line">
			    <h5>Web Forms</h5>
			    <ul class="c-list-card__list">
						<li class="c-tooltip">
							<span>Create leads from new entries
								<i></i>
							</span>
							<div class="flex-container">
								<div>
									<div>Google Form</div>
									<div class="strike-through-title"></div>
								</div>
							</div>
						</li>
						<li class="c-tooltip">
							<span>Create leads from new entries
								<i></i>
							</span>
							<div class="flex-container">
								<div>
									<div>Typeform</div>
									<div class="strike-through-title"></div>
								</div>
							</div>
						</li>
						<li class="c-tooltip">
							<span>Create leads from new entries
								<i></i>
							</span>
							<div class="flex-container">
								<div>
									<div>Wufoo</div>
									<div class="strike-through-title"></div>
								</div>
							</div>
						</li>
			    </ul>
			  </div>
			</div>
			
			<div class="col-md-4">
			  <div class="c-list-card__line">
			    <h5>Social</h5>
			    <ul class="c-list-card__list">
						<li class="c-tooltip">
							<span>Add contacts from new Facebook Lead Ads
								<i></i>
							</span>
							<div class="flex-container">
								<div>
									<div>Facebook lead ads</div>
									<div class="strike-through-title"></div>
								</div>
							</div>
						</li>
						<!-- <li class="c-tooltip">
							<span>Add contacts to Copper for new Linkedin leads
								<i></i>
							</span>
							<div class="flex-container">
								<div>
									<div>LinkedIn</div>
									<div class="strike-through-title"></div>
								</div>
							</div>
						</li> -->
			    </ul>
			  </div>
			</div>
			
			<div class="col-md-4">
			  <div class="c-list-card__line">
			    <h5>Ecommerce</h5>
			    <ul class="c-list-card__list">
						<li class="c-tooltip">
							<span>Add a new customer when they get added to Shopify account
								<i></i>
							</span>
							<div class="flex-container">
								<div>
									<div>Shopify</div>
									<div class="strike-through-title"></div>
								</div>
							</div>
						</li>
						<li class="c-tooltip">
							<span>Updates for sales order shipments
								<i></i>
							</span>
							<div class="flex-container">
								<div>
									<div>Magento</div>
									<div class="strike-through-title"></div>
								</div>
							</div>
						</li>
			    </ul>
			  </div>
			</div>
			
			<div class="col-md-4">
			  <div class="c-list-card__line">
			    <h5>Website</h5>
			    <ul class="c-list-card__list">
						<li class="c-tooltip">
							<span>Integrate your website with Copper
								<i></i>
							</span>
							<div class="flex-container">
								<div>
									<div>Squarespace</div>
									<div class="strike-through-title"></div>
								</div>
							</div>
						</li>
						<li class="c-tooltip">
							<span>Integrate your website with Copper
								<i></i>
							</span>
							<div class="flex-container">
								<div>
									<div>Wordpress</div>
									<div class="strike-through-title"></div>
								</div>
							</div>
						</li>
			    </ul>
			  </div>
			</div>

			<div class="col-md-4">
				<div class="c-list-card__line">
					<h5>Email Marketing</h5>
					<ul class="c-list-card__list">
						<li class="c-tooltip">
							<span>Add, update and create email subscribers
								<i></i>
							</span>
							<div class="flex-container">
								<div>
									<div>Constant Contact</div>
									<div class="strike-through-title"></div>
								</div>
							</div>
						</li>
						<li class="c-tooltip">
							<span>Add, update and create email subscribers
								<i></i>
							</span>
							<div class="flex-container">
								<div>
									<div>Campaign Monitor</div>
									<div class="strike-through-title"></div>
								</div>
							</div>
						</li>
					</ul>
				</div>
			</div>			

			<div class="col-md-4">
				<div class="c-list-card__line">
					<h5>Text Messaging</h5>
					<ul class="c-list-card__list">
						<li class="c-tooltip">
							<span>Send a text message to a single mobile number
								<i></i>
							</span>
							<div class="flex-container">
								<div>
									<div>Twilio</div>
									<div class="strike-through-title"></div>
								</div>
							</div>
						</li>
						<li class="c-tooltip">
							<span>Send a text message to a single mobile number
								<i></i>
							</span>
							<div class="flex-container">
								<div>
									<div>Burst SMS</div>
									<div class="strike-through-title"></div>
								</div>
							</div>
						</li>
					</ul>
				</div>
			</div>	
			<div class="col-md-4">
				<div class="c-list-card__line">
					<h5>Phone Calling</h5>
					<ul class="c-list-card__list">
						<li class="c-tooltip">
							<span>Make & log phone calls via VoIP
								<i></i>
							</span>
							<div class="flex-container">
								<div>
									<div>JustCall</div>
									<div class="strike-through-title"></div>
								</div>
							</div>
						</li>
						<li class="c-tooltip">
							<span>Make & log phone calls via VoIP
								<i></i>
							</span>
							<div class="flex-container">
								<div>
									<div>Aircall</div>
									<div class="strike-through-title"></div>
								</div>
							</div>
						</li>
					</ul>
				</div>
			</div>								
		</div>
	</div>
</section>

<!-- Content Jumble -->
<section class="c-jumble c-jumble-background--hot-pink c-jumble--align-left no-top-margin extra-bottom-margin">
	<div class="container">

		<div class="c-jumble__container col-md-10 no-padding">
			<div class="c-jumble__content c-valign--middle">
					
					<div class="row">
						<div class="col-md-6 order-md-2">
							<div class="c-panel__image c-panel--top--mint c-valign--middle rectangle--mint rectangle--bottom--left">
								<picture>
          <source type="image/webp" srcset="/imgs/integrations/custom-integration.webp"    class="c-panel__image--no-padding" alt="Need a custom integration?">
          <source type="image/png" srcset="/imgs/integrations/custom-integration.png"    class="c-panel__image--no-padding" alt="Need a custom integration?">
          <img     src="/imgs/integrations/custom-integration.png"   class="c-panel__image--no-padding" alt="Need a custom integration?" >
</picture>
							</div>
						</div>
						<div class="col-md-6 order-md-1">	
							<h2>Need a custom integration?</h2>
							<p>With Copper, you’ve got the power to build your own app connections.</p>
							<div class="c-jumble__content__buttons">
					      <a class="c-button c-button--white"  href="https://support.copper.com/hc/en-us/articles/360001039987">Build your own</a>
				      </div>
						</div>
					</div>
									
			</div>
		</div>

	</div>
</section>

<!-- Hero -->
<section class="c-hero--split background--leavebehind">
    <div class="c-image">
      <picture>
          <source type="image/webp" srcset="/imgs/UI_ipad_final-plea-update-new.webp"    alt="Ipad UI image">
          <source type="image/png" srcset="/imgs/UI_ipad_final-plea-update-new.jpg"    alt="Ipad UI image">
          <img     src="/imgs/UI_ipad_final-plea-update-new.jpg"   alt="Ipad UI image" >
</picture>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-6 c-valign--middle">
          <pre class="c-eyebrow c-eyebrow--light">Goodbye Data Entry</pre>
          <h2 class="t-white">Hello Copper.</br>Try it free!</h2>
          <p style="max-width: 420px;">No credit card required. Start your 14-day free trial today.</p>
          <div class="c-hero__buttons">
              <a class="c-button"  href="/demos">Request Demo</a>
              <a class="c-button c-button--outline sendUTMsToAmplitude" href="{{ craft.app.config.general.signUpUrl }}">Try Free</a>
          </div>
        </div>
      </div>
    </div>
  </section>