<!-- Hero -->
<section class="c-hero--split background--midnight">
	<div class="c-image">
	  <picture>
          <source type="image/webp" srcset="/imgs/product/191223_Integrations_hero.webp"    alt="Integration hero image">
          <source type="image/png" srcset="/imgs/product/191223_Integrations_hero.png"    alt="Integration hero image">
          <img     src="/imgs/product/191223_Integrations_hero.png"   alt="Integration hero image" >
</picture>
	</div>
  <div class="container">
    <div class="row">
      <div class="col-md-6 c-valign--middle">
	      <pre class="c-eyebrow c-eyebrow--light">Integrations & mobile</pre>
        <h1 class="t-white">What if all your apps and tools worked together seamlessly?</h1>
        <p>Copper integrates seamlessly with your favorite tools so you don’t have to hire a developer—or pick up coding at night.</p>
        <div class="c-hero__buttons">
          <a class="c-button" href="{{ craft.app.config.general.signUpUrl }}">Learn More</a>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Featured Integrations -->
<section class="c-list-card">
  <div class="container">
    <div class="c-list-card__header c-align--center">
      <h2 class="col-sm-10 t-center">Featured Integrations</h2>
      <p class="col-sm-8 t-center">Connect these popular tools to Copper with just a click—they’re already built for you.</p>
    </div>
    <div class="row">
      <!-- Cards -->
      <a href="https://www.copper.com/integrations/quickbooks-crm" target="_blank" class="col-md-4 extra-top-margin--x-small">
        <div class="c-list-card__card c-list-card__card--centered no-margin">
          <div class="c-list-card__image c-list-card__image--text c-list-card__card--no-outline c-valign--middle">
            <picture>
          <source type="image/webp" srcset="/imgs/product/QuickBooks_logo.webp"    alt="Quickbooks" style="max-width: 200px;">
          <source type="image/png" srcset="/imgs/product/QuickBooks_logo.png"    alt="Quickbooks" style="max-width: 200px;">
          <img     src="/imgs/product/QuickBooks_logo.png"   alt="Quickbooks" style="max-width: 200px;" >
</picture>
          </div>
          <p class="p-sm">See any Quickbooks invoice status and amount on any record</p>
        </div>
      </a>
      
      <a href="https://www.copper.com/integrations/hubspot-crm" target="_blank" class="col-md-4 extra-top-margin--x-small">
        <div class="c-list-card__card c-list-card__card--centered no-margin">
          <div class="c-list-card__image c-list-card__image--text c-list-card__card--no-outline c-valign--middle">
            <picture>
          <source type="image/webp" srcset="/imgs/product/hubspot_logo.webp"    alt="HubSpot">
          <source type="image/png" srcset="/imgs/product/hubspot_logo.png"    alt="HubSpot">
          <img     src="/imgs/product/hubspot_logo.png"   alt="HubSpot" >
</picture>
            
          </div>
          <p class="p-sm">View subscriber lists and campaigns</p>
        </div>
      </a>
      
      <a href="/integrations/slack-crm" target="_blank" class="col-md-4 extra-top-margin--x-small">
        <div class="c-list-card__card c-list-card__card--centered no-margin">
          <div class="c-list-card__image c-list-card__image--text c-list-card__card--no-outline c-valign--middle">
            <picture>
          <source type="image/webp" srcset="/imgs/product/slack_logo.webp"    alt="Slack">
          <source type="image/png" srcset="/imgs/product/slack_logo.png"    alt="Slack">
          <img     src="/imgs/product/slack_logo.png"   alt="Slack" >
</picture>
            
          </div>
          <p class="p-sm">Receive important Copper notifications in any Slack channel</p>
        </div>
      </a>
      <a href="/integrations/xero-crm" target="_blank" class="col-md-4 extra-top-margin--x-small">
        <div class="c-list-card__card c-list-card__card--centered no-margin">
          <div class="c-list-card__image c-list-card__image--text c-list-card__card--no-outline c-valign--middle">
            <picture>
          <source type="image/webp" srcset="/imgs/product/xero_logo.webp"    alt="Xero">
          <source type="image/png" srcset="/imgs/product/xero_logo.png"    alt="Xero">
          <img     src="/imgs/product/xero_logo.png"   alt="Xero" >
</picture>
          </div>
          <p class="p-sm">View any Xero invoice status and amount on any record</p>
        </div>
      </a>
       <a href="https://www.ringcentral.com/apps/copper-ringcentral" target="_blank" class="col-md-4 extra-top-margin--x-small">
        <div class="c-list-card__card c-list-card__card--centered no-margin">
          <div class="c-list-card__image c-list-card__image--text c-list-card__card--no-outline c-valign--middle">
            <picture>
          <source type="image/webp" srcset="/imgs/product/ringcentral_logo.webp"    alt="Ring Central">
          <source type="image/png" srcset="/imgs/product/ringcentral_logo.png"    alt="Ring Central">
          <img     src="/imgs/product/ringcentral_logo.png"   alt="Ring Central" >
</picture>
            
          </div>
          <p class="p-sm">Make, receive, and quick-log phone calls within Copper</p>
        </div>
      </a>      
      <a href="/integrations/docusign-crm" target="_blank" class="col-md-4 extra-top-margin--x-small">
        <div class="c-list-card__card c-list-card__card--centered no-margin">
          <div class="c-list-card__image c-list-card__image--text c-list-card__card--no-outline c-valign--middle">
            <picture>
          <source type="image/webp" srcset="/imgs/product/Docusign_logo.webp"    alt="DocuSign">
          <source type="image/png" srcset="/imgs/product/Docusign_logo.png"    alt="DocuSign">
          <img     src="/imgs/product/Docusign_logo.png"   alt="DocuSign" >
</picture>
          </div>
          <p class="p-sm">Auto-fill templates that make it easy to send and sign e-documents</p>
        </div>
      </a>
      <a href="/integrations/zendesk-crm" target="_blank" class="col-md-4 extra-top-margin--x-small">
        <div class="c-list-card__card c-list-card__card--centered no-margin">
          
            <div class="c-list-card__image c-list-card__image--text c-list-card__card--no-outline c-valign--middle">
              <picture>
          <source type="image/webp" srcset="/imgs/product/zendesk_logo.webp"    alt="Zendesk">
          <source type="image/png" srcset="/imgs/product/zendesk_logo.png"    alt="Zendesk">
          <img     src="/imgs/product/zendesk_logo.png"   alt="Zendesk" >
</picture>
            </div>
            <p class="p-sm">View support tickets on related records</p>
        </div>
      </a>
      <a href="https://mailchimp.com/integrations/prosperworks/" target="_blank" class="col-md-4 extra-top-margin--x-small">
        <div class="c-list-card__card c-list-card__card--centered no-margin">
          <div class="c-list-card__image c-list-card__image--text c-list-card__card--no-outline c-valign--middle">
            <picture>
          <source type="image/webp" srcset="/imgs/product/mailchimp_logo.webp"    alt="MailChimp">
          <source type="image/png" srcset="/imgs/product/mailchimp_logo.png"    alt="MailChimp">
          <img     src="/imgs/product/mailchimp_logo.png"   alt="MailChimp" >
</picture>
          </div>
          <p class="p-sm">Export contacts from Copper to MailChimp email campaigns</p>
        </div>
      </a>
      <a href="https://www.persistiq.com/copper" target="_blank" class="col-md-4 extra-top-margin--x-small">
        <div class="c-list-card__card c-list-card__card--centered no-margin">
          <div class="c-list-card__image c-list-card__image--text c-list-card__card--no-outline c-valign--middle">
            <picture>
          <source type="image/webp" srcset="/imgs/product/persistiq_logo.webp"    alt="PersistIQ">
          <source type="image/png" srcset="/imgs/product/persistiq_logo.png"    alt="PersistIQ">
          <img     src="/imgs/product/persistiq_logo.png"   alt="PersistIQ" >
</picture>
            
          </div>
          <p class="p-sm">Reach and engage more prospects from within Copper</p>
        </div>
      </a>    
      <a href="https://outfunnel.com/copper-outfunnel-integration/" target="_blank" class="col-md-4 extra-top-margin--x-small">
        <div class="c-list-card__card c-list-card__card--centered no-margin">
          <div class="c-list-card__image c-list-card__image--text c-list-card__card--no-outline c-valign--middle">
            <picture>
          <source type="image/webp" srcset="https://copper.objects.frb.io/imgs/product/outfunnel-logo-v2.webp"    alt="Outfunnel">
          <source type="image/png" srcset="https://copper.objects.frb.io/imgs/product/outfunnel-logo-v2.png"    alt="Outfunnel">
          <img     src="https://copper.objects.frb.io/imgs/product/outfunnel-logo-v2.png"   alt="Outfunnel" >
</picture>
            
          </div>
          <p class="p-sm">Use data from Copper to launch email campaigns and record engagement</p>
        </div>
      </a>
      <a href="https://reply.io/integrations/copper-crm" target="_blank" class="col-md-4 extra-top-margin--x-small">
        <div class="c-list-card__card c-list-card__card--centered no-margin">
          <div class="c-list-card__image c-list-card__image--text c-list-card__card--no-outline c-valign--middle">
            <picture>
          <source type="image/webp" srcset="/imgs/product/reply-logo.webp"    alt="Reply.io">
          <source type="image/png" srcset="/imgs/product/reply-logo.png"    alt="Reply.io">
          <img     src="/imgs/product/reply-logo.png"   alt="Reply.io" >
</picture>
            
          </div>
          <p class="p-sm">Add leads and contacts from Copper in Reply.io and automate your sales process</p>
        </div>
      </a>  
      <a href="https://aircall.io/call-center-software-integrations/copper/" target="_blank" class="col-md-4 extra-top-margin--x-small">
        <div class="c-list-card__card c-list-card__card--centered no-margin">
          <div class="c-list-card__image c-list-card__image--text c-list-card__card--no-outline c-valign--middle">
            <picture>
          <source type="image/webp" srcset="/imgs/product/aircall-logo.webp"    alt="AirCall">
          <source type="image/png" srcset="/imgs/product/aircall-logo.png"    alt="AirCall">
          <img     src="/imgs/product/aircall-logo.png"   alt="AirCall" >
</picture>
            
          </div>
          <p class="p-sm">Automatically log calls and sync with records in Copper</p>
        </div>
      </a>       
    </div>
  </div>
</section>


<!-- Alternating 2 ups-->
<section class="c-cols c-cols-alternate product-page">
  <div class="container">
    <div class="row extra-padding--bottom">
      <div class="col-md-7 order-2">
        <div class="c-image c-image--drop-right" style="margin-top: 0px;">
          <picture>
          <source type="image/webp" srcset="/imgs/product/191223_Integrations_UI01.webp"  class="drop-right__img img-no-shadow"   alt="Integration image 1">
          <source type="image/png" srcset="/imgs/product/191223_Integrations_UI01.png"  class="drop-right__img img-no-shadow"   alt="Integration image 1">
          <img   class="drop-right__img img-no-shadow"   src="/imgs/product/191223_Integrations_UI01.png"   alt="Integration image 1" >
</picture>
        </div>
      </div>
      <div class="col-md-5 c-valign--middle order-1">
        <pre class="c-eyebrow c-eyebrow--dark">CUSTOM INTEGRATIONS</pre>
        <h2>Don’t see what you need?<br>No problem.</h2>
        <p>With Copper, if you really need to, you have the power to build your own app connections to work the way you want.</p>

        <ul>
          <li>
            Open API     
          </li>
          <li>
            Zapier
          </li>
        </ul>

        {#For when designed is approved
          
          <div class="sidenav">
          <button class="dropdown-item">Open API</button>
          <div class="dropdown-container">
            <p>Description of this a little more detail, etc. etc lorem ipsum.</p>
            <a href="#">learn more</a>
          </div>
          <button class="dropdown-item active-dropdown-item">Zapier</button>
          <div class="dropdown-container active-content">
            <p>Description of this a little more detail, etc. etc lorem ipsum.</p>
            <a href="#">learn more</a>
          </div>
          <button class="dropdown-item active">Tray.io</button>
          <div class="dropdown-container no-outline">
            <p>Description of this a little more detail, etc. etc lorem ipsum.</p>
            <a href="#">learn more</a>
          </div>
        </div>

        <script>
           LazyLoad.js([
        'https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js'],function(){
          /* Loop through all dropdown buttons to toggle between hiding and showing its dropdown content - This allows the user to have multiple dropdowns without any conflict */
          var dropdown = document.getElementsByClassName("dropdown-item");
          var i;
          
          for (i = 0; i < dropdown.length; i++) {
            dropdown[i].addEventListener("click", function() {
            this.classList.toggle("active-dropdown-item");
            var dropdownContent = this.nextElementSibling;
            dropdownContent.classList.toggle("active-content");
            });
          }
        })
        </script>
      #}
      </div>
    </div>
  </div>
</section>


<!-- Case Study -->
<section class="c-case-study c-case-study--align-left">
  <div class="container colorblock--indigo">
    <div class="c-case-study__container col-md-11 no-padding">
      <div class="c-case-study__content c-valign--middle">
    
          <div class="row row-eq-height align-items-center">
            <div class="col-md-6 c-align--center">
              
              <div class="c-image c-image--shadow">
                <pre class="c-eyebrow c-eyebrow--light">Success Story</pre>
                <picture>
          <source type="image/webp" srcset="/imgs/product/191223_Integrations_QuotePhoto.webp"  alt="Integrations quote photo"  >
          <source type="image/png" srcset="/imgs/product/191223_Integrations_QuotePhoto.png"  alt="Integrations quote photo"  >
          <img   alt="Integrations quote photo"   src="/imgs/product/191223_Integrations_QuotePhoto.png"   >
</picture>
              </div>
            </div>
            <div class="col-md-6">
              <div class="c-panel__blockquote c-valign--middle">
                <blockquote>I love how Copper is able to grab information from LinkedIn and other tools. It provides us context around who we’re talking to, so that we’re more likely able to turn contacts into opportunities.</blockquote>
                <cite>John Logan<span class="c-panel__blockquote--position"style="text-transform: uppercase;" >TAS TradeSoft</span></cite>
              </div>
            </div>
          </div>
                  
      </div>
    </div>

  </div>
</section>
<!-- single two up -->
<section class="c-cols c-cols-alternate product-page product-page-section">
  <div class="container">
    <div class="row extra-padding--bottom">
      <div class="col-md-6 order-2">
        <div class="c-image c-image--drop-right">
          <picture>
          <source type="image/webp" srcset="/imgs/product/200309_Integrations_UI02.webp"  class="drop-right__img img-no-shadow"   alt="Integration image 2">
          <source type="image/png" srcset="/imgs/product/200309_Integrations_UI02.png"  class="drop-right__img img-no-shadow"   alt="Integration image 2">
          <img   class="drop-right__img img-no-shadow"   src="/imgs/product/200309_Integrations_UI02.png"   alt="Integration image 2" >
</picture>
        </div>
      </div>
      <div class="col-md-5 c-valign--middle order-1">
        <pre class="c-eyebrow c-eyebrow--dark">MOBILE APPS</pre>
        <h2>Take Copper<br>on-the-go.</h2>
        <p>Copper’s iOS and Android mobile apps make it easy to manage relationships and close deals right from your phone — wherever you are.</p>
        <div class="row">
          <div class="col-6 c-valign--middle"><a href="https://apps.apple.com/us/app/copper/id941438829" target="_blank" ><img class="img-fluid" src="/imgs/product/Download_on_the_App_Store_Badge.svg" alt="Download on the app store image"></a></div>
          <div class="col-6 c-valign--middle"><a href="https://chrome.google.com/webstore/detail/copper-crm-for-gmail/hpfmedbkgaakgagknibnonpkimkibkla?hl=en" target="_blank" ><img class="img-fluid" src="/imgs/product/google-play-badge-01.svg" alt="Google play badge image"></a></div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- final CTA --> 

<section class="final-plea product-page">
  <div class="container">
    <div class="row"> {# background--midnight #}
      <div class="col-md-5">
        <h2>Add Copper to the tools you’re already using.</h2>
        <p>Start your 14-day free trial today.</p>
        <div class="c-hero__buttons">
            <a class="c-button sendUTMsToAmplitude" href="{{ craft.app.config.general.signUpUrl }}">Try Free</a>
            <a class="c-button c-button--outline"  href="/demos">Request Demo</a>
        </div>

      </div>
      <div class="col-md-5 offset-md-2">
        <div class="">
          <picture>
          <source type="image/webp" srcset="/imgs/product/191223_Integrations_finalplea.webp"  class=""   alt="Integrations final image">
          <source type="image/png" srcset="/imgs/product/191223_Integrations_finalplea.png"  class=""   alt="Integrations final image">
          <img   class=""   src="/imgs/product/191223_Integrations_finalplea.png"   alt="Integrations final image" >
</picture>
        </div>        
      </div>
    </div>
  </div>
</section>