<!-- Hero -->
<section class="c-hero--split background--purple product-page">
	<div class="c-image">
	  <picture>
          <source type="image/webp" srcset="/imgs/product/191223_Organize_Hero.webp"    alt="Organize hero image">
          <source type="image/png" srcset="/imgs/product/191223_Organize_Hero.png"    alt="Organize hero image">
          <img     src="/imgs/product/191223_Organize_Hero.png"   alt="Organize hero image" >
</picture>
	</div>
  <div class="container">
    <div class="row">
      <div class="col-md-6 c-valign--middle">
	      <pre class="c-eyebrow c-eyebrow--light">ORGANIZE AND MANAGE CONTACTS</pre>
        <h1 class="t-white">Your scattered contact info— finally organized.</h1>
        <p>Copper organizes all your emails, calls, files, and notes for every contact—so you have a full view of that relationship history.</p>
        <div class="c-hero__buttons">
            <a class="c-button sendUTMsToAmplitude" href="{{ craft.app.config.general.signUpUrl }}">Try Free</a>
            <a class="c-button c-button--outline"  href="/demos">Request Demo</a>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Sub hero w/image -->
<section class="c-single-column product-page">
  <div class="container">
    <div class="row">
      <div class="col-md-10 offset-md-1 c-single-column__container">
          <div class="c-product-focus__media">
              <picture>
          <source type="image/webp" srcset="/imgs/product/200309_Organize_UI01.webp"    alt="Organize image 1">
          <source type="image/png" srcset="/imgs/product/200309_Organize_UI01.png"    alt="Organize image 1">
          <img     src="/imgs/product/200309_Organize_UI01.png"   alt="Organize image 1" >
</picture>
          </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-7 c-single-column__container pull-to-center">
          <h2>Goodbye spreadsheets.</h3>
          <p>Tired of looking for client info in multiple spreadsheets, digging through emails or wrangling teams for updates? Look no further, Copper organizes all your emails, calls, files, and notes in one place.</p>
          <div class="c-single-column__buttons">
              <a class="c-button sendUTMsToAmplitude" href="{{ craft.app.config.general.signUpUrl }}">Try Free</a>
              <a class="c-button c-button--outline" href="/demos">Request Demo</a>
          </div>
        
      </div>
    </div>
  </div>
</section>
<!-- Alternating 2 ups-->
<section class="c-cols c-cols-alternate product-page">
  <div class="container">
    <div class="row extra-padding--bottom">
      <div class="col-md-7 order-2">
        <div class="c-image c-image--drop-right">
          <picture>
          <source type="image/webp" srcset="/imgs/product/200309_Organize_UI02.webp"  class="drop-right__img img-no-shadow"   alt="Organize image 2">
          <source type="image/png" srcset="/imgs/product/200309_Organize_UI02.png"  class="drop-right__img img-no-shadow"   alt="Organize image 2">
          <img   class="drop-right__img img-no-shadow"   src="/imgs/product/200309_Organize_UI02.png"   alt="Organize image 2" >
</picture>
        </div>
      </div>
      <div class="col-md-5 c-valign--middle order-1">
        <pre class="c-eyebrow c-eyebrow--dark">SKIP MANUAL DATA ENTRY</pre>
        <h2>No more wasted time on data entry.</h2>
        <p>Copper suggests recent contacts you’ve been emailing to be added to your list so that you don’t lose track of anyone.</p> 
        <p>It even automatically pulls in contact details like phone numbers, email addresses, and social media so you can say goodbye to entering that all by hand!</p>
      </div>
    </div>
    <div class="row column-reverse">
      <div class="col-md-6">
        <div class="c-image c-image--left">
          <picture>
          <source type="image/webp" srcset="/imgs/product/200309_Organize_UI03.webp"  class="drop-right__img img-no-shadow"   alt="Organize image 3">
          <source type="image/png" srcset="/imgs/product/200309_Organize_UI03.png"  class="drop-right__img img-no-shadow"   alt="Organize image 3">
          <img   class="drop-right__img img-no-shadow"   src="/imgs/product/200309_Organize_UI03.png"   alt="Organize image 3" >
</picture>
        </div>
      </div>
      <div class="col-md-5 offset-md-1 c-valign--middle">
        <div class="c-cols__copy">
          <pre class="c-eyebrow c-eyebrow--dark">UNDERSTAND YOUR CONTACTS BETTER</pre>
          <h2>Find key information, faster.</h2>
          <p>Tag, filter and sort your leads and customers by any criteria to better understand where your business is coming from. (It helps you target more specific customers and analyze team activity too.)</p>
          <ul class="bullets--barney-purple">
            <li>Save lists of contacts by type, like: current customers, partners, VIP clients, etc.</li>
            <li>Send targeted communications by industry, geography, company size, and more</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Case Study -->
<section class="c-case-study c-case-study--align-left">
  <div class="container colorblock--purple-rain">
    <div class="c-case-study__container col-md-11 no-padding">
      <div class="c-case-study__content c-valign--middle">
          
          <div class="row row-eq-height align-items-center">
            <div class="col-md-6 c-align--center">
              
              <div class="c-image c-image--shadow">
                <pre class="c-eyebrow c-eyebrow--light">Success Story</pre>
                <picture>
          <source type="image/webp" srcset="/imgs/product/sarah-gilbert.webp"    alt="Sarah photo">
          <source type="image/png" srcset="/imgs/product/sarah-gilbert.png"    alt="Sarah photo">
          <img     src="/imgs/product/sarah-gilbert.png"   alt="Sarah photo" >
</picture>
              </div>
            </div>
            <div class="col-md-6">
              <div class="c-panel__blockquote c-valign--middle">
                <blockquote>Copper not only made it easy to centralize all communication but also gave us more transparency and visibility into our business.</blockquote>
                <cite>Sarah Gilbert<span class="c-panel__blockquote--position" style="text-transform: uppercase;">RHR International</span></cite>
              </div>
            </div>
          </div>
                  
      </div>
    </div>

  </div>
</section>
<!-- single two up -->
<section class="c-cols c-cols-alternate product-page">
  <div class="container">
    <div class="row extra-padding--bottom">
      <div class="col-md-6 order-2">
        <div class="c-image c-image--drop-right">
          <picture>
          <source type="image/webp" srcset="/imgs/product/200309_Organize_UI04.webp"  class="drop-right__img img-no-shadow"   alt="Organize image 4">
          <source type="image/png" srcset="/imgs/product/200309_Organize_UI04.png"  class="drop-right__img img-no-shadow"   alt="Organize image 4">
          <img   class="drop-right__img img-no-shadow"   src="/imgs/product/200309_Organize_UI04.png"   alt="Organize image 4" >
</picture>
        </div>
      </div>
      <div class="col-md-5 c-valign--middle order-1">
        <pre class="c-eyebrow c-eyebrow--dark">VISIBILITY INTO TOUCHPOINTS</pre>
        <h2>See the whole history of your relationship.</h2>
        <p>Get the big picture (and little details) without having to comb through multiple places. Copper tracks and displays a live activity feed of every interaction on your contacts’ profiles.</p>
      </div>
    </div>
  </div>
</section>
<!-- List -->
<section class="c-list">
  <div class="container">
    <div class="c-list__header c-align--center">
      <h2 class="t-center col-md-8">Build lasting relationships with Copper.</h2>
    </div>
    <div class="row">
      <div class="col-md-4">
        <h4>Lead Management</h4>
        <p class="p-sm">Turn more leads into customers. Copper makes it easy to build a repeatable lead qualification process to get more deals in the pipe.</p>
      </div>
      <div class="col-md-4">
        <h4>Contact Management</h4>
        <p class="p-sm">Know what you need to for every contact—Copper lets you categorize contacts by type (like current customers, partners, and vendors.)</p>
      </div>
      <div class="col-md-4">
        <h4>Alerts and Notifications</h4>
        <p class="p-sm">Copper sends you real-time notifications that indicate when leads or contacts need your attention.</p>
      </div>

      <div class="col-md-4">
        <h4>Favorites</h4>
        <p class="p-sm">Have super-important accounts? Star them to make sure you get notified about updates.</p>
      </div>
      <div class="col-md-4">
        <h4>Tagging</h4>
        <p class="p-sm">Use tags to group your contacts into different categories (like VIPs, or high-potential leads) so you can find them faster later on.</p>
      </div>
      <div class="col-md-4">
        <h4>Custom Fields</h4>
        <p class="p-sm">Want to track more specific data about your contacts? Add custom fields to record special details that you can use to build better relationships.</p>
      </div>

        <div class="col-md-4">
            <h4>Activity Feed</h4>
            <p class="p-sm">See exactly what’s going on at anytime with the real-time feed of all the activities that are going on with your contacts and accounts.</p>
          </div>
          <div class="col-md-4">
            <h4>Email Open Tracking</h4>
            <p class="p-sm">Easily monitor when a hot lead or customer opens your email so you can send timely follow-ups.</p>
          </div>
          <div class="col-md-4">
            <h4>Auto-enriched Profiles</h4>
            <p class="p-sm">Need more info about your contacts? Copper searches the internet for you to find and record company information, social profiles, and more.</p>
          </div>
      </div>

    </div>
    <div class="row c-align--center extra-top-margin--small">
      <a class="t-link" href="/features">See all features</a>
    </div>
  </div>
</section>

<!-- final CTA --> 

<section class="final-plea product-page">
  <div class="container">
    <div class="row"> {# background--purple-rain #}
      <div class="col-md-5">
        <h2>Spend less time in your CRM and more time with your contacts.</h2>
        <p>Start your 14-day free trial today.</p>
        <div class="c-hero__buttons">
            <a class="c-button sendUTMsToAmplitude" href="{{ craft.app.config.general.signUpUrl }}">Try Free</a>
            <a class="c-button c-button--outline"  href="/demos">Request Demo</a>
        </div>

      </div>
      <div class="col-md-5 offset-md-2">
        <div class="">
          <picture>
          <source type="image/webp" srcset="/imgs/product/191223_Organize_finalplea.webp"  class=""   alt="Organize page final image">
          <source type="image/png" srcset="/imgs/product/191223_Organize_finalplea.png"  class=""   alt="Organize page final image">
          <img   class=""   src="/imgs/product/191223_Organize_finalplea.png"   alt="Organize page final image" >
</picture>
        </div>        
      </div>
    </div>
  </div>
</section>