<!-- Hero -->
<section class="c-hero--split background--eggplant">
	<div class="c-image">
	  <picture>
          <source type="image/webp" srcset="/imgs/productivity/productivity-hero.webp"    alt="Productivity hero image">
          <source type="image/png" srcset="/imgs/productivity/productivity-hero.jpg"    alt="Productivity hero image">
          <img     src="/imgs/productivity/productivity-hero.jpg"   alt="Productivity hero image" >
</picture>
	</div>
  <div class="container">
    <div class="row">
      <div class="col-md-6 c-valign--middle">
	      <pre class="c-eyebrow c-eyebrow--light">Productivity</pre>
        <h1 class="t-white">Productivity, meet crm.</h1>
        <p>Spend time on relationships, not data.</p>
        <div class="c-hero__buttons">
            <a class="c-button sendUTMsToAmplitude" href="{{ craft.app.config.general.signUpUrl }}">Try Free</a>
            <a class="c-button c-button--outline"  href="/demos">Request Demo</a>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="c-cols c-cols-alternate no-bottom-padding">
    <div class="container">
      <div class="row column-reverse">
        <div class="col-md-5 order-1">
          <div class="c-image c-image--left c-image--shadow colorblock--top--left colorblock--eggplant circle--top--right circle--mint">
            <picture>
          <source type="image/webp" srcset="/imgs/productivity/Productivity-Ui01-new.webp"    alt="CRM minus the data entry">
          <source type="image/png" srcset="/imgs/productivity/Productivity-Ui01-new.png"    alt="CRM minus the data entry">
          <img     src="/imgs/productivity/Productivity-Ui01-new.png"   alt="CRM minus the data entry" >
</picture>
          </div>
        </div>
        <div class="col-md-4 offset-md-2 c-valign--middle order-2">
          <div class="c-cols__copy">
            <pre class="c-eyebrow c-eyebrow--dark">Zero Data Entry</pre>
            <h2>crm minus the data entry.</h2>
            <p>Copper scrapes and captures all of your contacts, emails and other crucial account details so everything’s automatically there and ready for you to start selling.</p>
            <a href="https://www.youtube.com/watch?v=z8LkXkB1izU" target="_blank" class="t-link">See it in action</a>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-7 order-2">
          <div class="c-image c-image--drop-right colorblock--bottom--right colorblock--putty c-image--shadow rectangle--bottom--left rectangle--mint">
            <picture>
          <source type="image/webp" srcset="/imgs/productivity/productivity-ui02.webp"  class="drop-right__img"   alt="Copper feels like home">
          <source type="image/png" srcset="/imgs/productivity/productivity-ui02.png"  class="drop-right__img"   alt="Copper feels like home">
          <img   class="drop-right__img"   src="/imgs/productivity/productivity-ui02.png"   alt="Copper feels like home" >
</picture>
          </div>
        </div>
        <div class="col-md-4 c-valign--middle order-1">
          <div>
              <pre class="c-eyebrow c-eyebrow--dark">Google Material Design</pre>
              <h2>Learning curve? Zilch.</h2>
              <p>Because Copper looks and feels <em>exactly</em> like the G Suite tools you already use every day, you’ll be up and running in minutes, not months.</p>
              <a href="/g-suite-crm" class="t-link">Made for Google</a>
          </div>
        </div>
      </div>
    </div>
  </section>

<!-- Deal Close Callout -->
<section class="c-single-column">
  <div class="container">
    <div class="col-md-10 offset-md-1 c-single-column__container h-hairline">
      <h2>Close more deals with Copper</h2>
      <div class="c-single-column__buttons">
        <a class="c-button sendUTMsToAmplitude" href="{{ craft.app.config.general.signUpUrl }}">Try Free</a>
        <a class="c-button c-button--outline" href="/demos">Request Demo</a>
      </div>
    </div>
  </div>
</section>

<!-- Insights Callout -->
<section class="c-single-column no-bottom-padding">
  <div class="container">
      <div class="col-md-8 offset-md-2 c-single-column__container">
        <h2>Sell right from your inbox.</h2>
        <p>Copper’s native G Suite integration allows you to nurture leads</br>and close deals from Gmail.</p>
      </div>
      <picture>
          <source type="image/webp" srcset="/imgs/productivity/productivity-inbox.webp"    alt="Productivity inbox image">
          <source type="image/png" srcset="/imgs/productivity/productivity-inbox.png"    alt="Productivity inbox image">
          <img     src="/imgs/productivity/productivity-inbox.png"   alt="Productivity inbox image" >
</picture>
  </div>
</section>

<!-- Simplify your workday-->
<section class="c-list-card">
  <div class="container">
    <div class="c-list-card__header">
      <h2 class="t-center">Reimagine the workday</h2>
    </div>
    <div class="row">
      <!--Sales Productivity-->
      <div class="col-md-4">
        <div class="c-list-card__card mint">
          <div class="c-list-card__border mint"></div>
          <span class="t-eyebrow">Sales Productivity</span>
          <div class="c-list-card__icon">
          </div>
          <div class="c-list-card__copy">
            <h4>Lead Management</h4>
            <p class="p-sm">Copper automatically populates your data so you can focus on transforming leads into customers.</p>
          </div>
          <div class="c-list-card__copy">
            <h4>Contact Management</h4>
            <p class="p-sm">All of your contacts are a click or tap away to make it easier to nurture all of your business relationships.</p>
          </div>
          <div class="c-list-card__copy">
            <h4>Visual Pipeline Management</h4>
            <p class="p-sm">Customizable pipelines allow you to easily visualize deal progress. Need to manage multiple pipelines? We got that.</p>
          </div>
        </div>
      </div>

      <!--Task Management-->
      <div class="col-md-4">
        <div class="c-list-card__card eggplant">
          <div class="c-list-card__border eggplant"></div>
          <span class="t-eyebrow">Task Management</span>
          <div class="c-list-card__icon">
          </div>
          <div class="c-list-card__copy">
            <h4>Email Templates</h4>
            <p class="p-sm">Ready-to-use emails let you answer frequent questions, greet new customers, or promote your service with one click.</p>
          </div>
          <div class="c-list-card__copy">
            <h4>Automatic Email Sync</h4>
            <p class="p-sm">Our seamless integration with G Suite means your emails are always waiting for you in Copper without you doing a thing. </p>
          </div>
          <div class="c-list-card__copy">
            <h4>Alerts & Notifications</h4>
            <p class="p-sm">Wow your customers by staying on top of every conversation and anticipating their needs.</p>
          </div>
        </div>
      </div>

      <!--Native G Suite integration-->
      <div class="col-md-4">
        <div class="c-list-card__card hot-pink">
          <div class="c-list-card__border hot-pink"></div>
          <span class="t-eyebrow">Native G Suite integration</span>
          <div class="c-list-card__icon">
          </div>
          <div class="c-list-card__copy">
            <h4>Google Chrome Extension</h4>
            <p class="p-sm">Update opportunities, add contacts, get account histories, and manage deals right from your inbox.</p>
          </div>
          <div class="c-list-card__copy">
            <h4>Google Calendar & Hangouts</h4>
            <p class="p-sm">Copper lives inside of Hangouts' Chat and  notifies you of critical changes made to leads and opportunities to keep deals moving forward.</p>
          </div>
          <div class="c-list-card__copy">
            <h4>Google Drive & Shared Drive
            </h4>
            <p class="p-sm">Anyone with permission can access any customer file and start collaborating in one click with Copper’s Google Drive integration.</p>
          </div>
        </div>
      </div>
      <div class="row c-align--center extra-top-margin--small">
        <a class="t-link" href="/features">See all features </a>
      </div>
    </div>
  </div>
</section>

<!-- Numbers -->
<section class="c-numbers">
  <div class="container">
	  <div class="row">
		  <div class="col-md-12 c-numbers__title c-align--center">
			  <h2 class="col-md-10 t-center">Well, that was easy.</h2>
		  </div>
	  </div>
    <div class="row">
      <div class="col-md-4">
        <div class="c-number__entry hot-pink">
          <span class="t-eyebrow">Less Time</span>
          <span class="t-numbers">15</span>
          <p>Selling hours back per week</p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="c-number__entry hot-pink">
          <span class="t-eyebrow">More Accurate Reporting</span>
          <span class="t-numbers">30%</span>
          <p>Improvement in sales reporting</p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="c-number__entry hot-pink">
          <span class="t-eyebrow">Reduce Time</span>
          <span class="t-numbers">35%</span>
          <div class="c-number__description">
            <p>Shorter sales cycle</p>
          </div>
        </div>
      </div>
    </div>
    <div class="row c-align--center extra-bottom-margin--medium">
      <a class="t-link" href="https://get.copper.com/rs/763-DVL-293/images/infographic_ROI_survey.pdf?mkt_tok=eyJpIjoiTmpOaFpXVXlNR0k1T0RKaCIsInQiOiI0ckxRNHcyOHB6QWs5MkFsM3VnVXA5T2VYXC84VENnSklJWUp6WUR3YTN5XC83NVJnSEtIY3Myb3hncUM0Y2pKcDlvZFZ2OWtoWG9zYm5WQ1dhekRYXC9MaVlGU1Jxb3lFREIralpSZHdPcHY1Qlg5ODU0Z2J1T0g0dnd5VW9CbDhuZiJ9" target="_blank">Here's the proof</a>
    </div>
  </div>
</section>

<!-- Hero -->
<section class="c-hero--split background--leavebehind">
    <div class="c-image">
      <picture>
          <source type="image/webp" srcset="/imgs/UI_ipad_final-plea-update-new.webp"    alt="Ipad UI image">
          <source type="image/png" srcset="/imgs/UI_ipad_final-plea-update-new.jpg"    alt="Ipad UI image">
          <img     src="/imgs/UI_ipad_final-plea-update-new.jpg"   alt="Ipad UI image" >
</picture>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-6 c-valign--middle">
          <pre class="c-eyebrow c-eyebrow--light">Goodbye Data Entry</pre>
          <h2 class="t-white">Hello Copper.</br>Try it free!</h2>
          <p style="max-width: 420px;">No credit card required. Start your 14-day free trial today.</p>
          <div class="c-hero__buttons">
              <a class="c-button"  href="/demos">Request Demo</a>
              <a class="c-button c-button--outline sendUTMsToAmplitude" href="{{ craft.app.config.general.signUpUrl }}">Try Free</a>
          </div>
        </div>
      </div>
    </div>
  </section>