<!-- Hero -->
<section class="c-hero--split background--evergreen product-page">
	<div class="c-image">
	  <picture>
          <source type="image/webp" srcset="/imgs/product/191223_Reporting_Hero.webp"    alt="Reporting image hero">
          <source type="image/png" srcset="/imgs/product/191223_Reporting_Hero.png"    alt="Reporting image hero">
          <img     src="/imgs/product/191223_Reporting_Hero.png"   alt="Reporting image hero" >
</picture>
	</div>
  <div class="container">
    <div class="row">
      <div class="col-md-6 c-valign--middle">
	      <pre class="c-eyebrow c-eyebrow--light">reporting on sales performance</pre>
        <h1 class="t-white">Everything you need to know about your performance.</h1>
        <p>Copper’s reporting gives you visibility into what’s working and what’s not so you can optimize your sales process.</p>
        <div class="c-hero__buttons">
            <a class="c-button c-button--white sendUTMsToAmplitude" href="{{ craft.app.config.general.signUpUrl }}">Try Free</a>
            <a class="c-button c-button--outline--white"  href="/demos">Request Demo</a>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Sub hero w/image -->
<section class="c-single-column product-page">
  <div class="container">
    <div class="row">
      <div class="col-md-8 c-single-column__container pull-to-center">
          <h2 class="">Know your business<br>inside and out.</h3>
          <p class="">Real-time insights into sales performance. Copper shows you your best lead sources, top performers, and tracks sales forecasts against your goals.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-10 offset-md-1 c-single-column__container">
          <div class="c-product-focus__media">
              <picture>
          <source type="image/webp" srcset="/imgs/product/200309_Reporting_UI01.webp"    alt="Reporting image 1">
          <source type="image/png" srcset="/imgs/product/200309_Reporting_UI01.png"    alt="Reporting image 1">
          <img     src="/imgs/product/200309_Reporting_UI01.png"   alt="Reporting image 1" >
</picture>
          </div>
      </div>
    </div>
  </div>
</section>
<!-- Alternating 2 ups-->
<section class="c-cols c-cols-alternate product-page">
  <div class="container">
    <div class="row extra-padding--bottom">
      <div class="col-md-7 order-2">
        <div class="c-image c-image--drop-right">
          <picture>
          <source type="image/webp" srcset="/imgs/product/200309_Reporting_UI02.webp"  class="drop-right__img img-no-shadow"   alt="Reporting image 2">
          <source type="image/png" srcset="/imgs/product/200309_Reporting_UI02.png"  class="drop-right__img img-no-shadow"   alt="Reporting image 2">
          <img   class="drop-right__img img-no-shadow"   src="/imgs/product/200309_Reporting_UI02.png"   alt="Reporting image 2" >
</picture>
        </div>
      </div>
      <div class="col-md-5 c-valign--middle order-1">
        <pre class="c-eyebrow c-eyebrow--dark">PREBUILT DASHBOARDS</pre>
        <h2>Not a reporting whiz? That’s OK.</h2>
        <p>You don’t have to build your own report to get insights. Copper provides out-of-the-box dashboards that automatically track your sales data for you including:</p>
        <ul class="bullets--teal">
          <li>Lead Conversion Rate</li>
          <li>Leads by Source</li>
          <li>Sales history trends</li>
          <li>Sales forecast</li>
          <li>Rep Leaderboard</li>
          <li>Revenue Goals</li>
        </ul>
      </div>
    </div>
    <div class="row column-reverse">
      <div class="col-md-6">
        <div class="c-image c-image--left">
          <picture>
          <source type="image/webp" srcset="/imgs/product/200309_Reporting_UI03.webp"  class="drop-right__img img-no-shadow"   alt="Reporting image 3">
          <source type="image/png" srcset="/imgs/product/200309_Reporting_UI03.png"  class="drop-right__img img-no-shadow"   alt="Reporting image 3">
          <img   class="drop-right__img img-no-shadow"   src="/imgs/product/200309_Reporting_UI03.png"   alt="Reporting image 3" >
</picture>
        </div>
      </div>
      <div class="col-md-5 offset-md-1 c-valign--middle">
        <div class="c-cols__copy">
          <pre class="c-eyebrow c-eyebrow--dark">ADVANCED REPORTING</pre>
          <h2>See your data in a way that makes sense.</h2>
          <p>Want to see your sales numbers based on pipeline, owner, source, or other factors? You can do that with Copper.</p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Case Study -->
<section class="c-case-study c-case-study--align-left">
  <div class="container colorblock--teal">
    <div class="c-case-study__container col-md-11 no-padding">
      <div class="c-case-study__content c-valign--middle">
    
          <div class="row row-eq-height align-items-center">
            <div class="col-md-6 c-align--center">
              
              <div class="c-image c-image--shadow">
                <pre class="c-eyebrow c-eyebrow--light">Success Story</pre>
                <picture>
          <source type="image/webp" srcset="/imgs/product/191223_Reporting_QuotePhoto.webp"    alt="Reporting quote photo">
          <source type="image/png" srcset="/imgs/product/191223_Reporting_QuotePhoto.png"    alt="Reporting quote photo">
          <img     src="/imgs/product/191223_Reporting_QuotePhoto.png"   alt="Reporting quote photo" >
</picture>
              </div>
            </div>
            <div class="col-md-6">
              <div class="c-panel__blockquote c-valign--middle">
                <blockquote>Copper is a core part of how we’ll scale and grow. It’s what gives us the data insights we need to get where we want to be.</blockquote>
                <cite>Dave Speer<span class="c-panel__blockquote--position">HOUWZER</span></cite>
              </div>
            </div>
          </div>
                  
      </div>
    </div>

  </div>
</section>
<!-- single two up -->
<section class="c-cols c-cols-alternate product-page">
  <div class="container">
    <div class="row extra-padding--bottom">
      <div class="col-md-6 order-2">
        <div class="c-image c-image--drop-right">
          <picture>
          <source type="image/webp" srcset="/imgs/product/200309_Reporting_UI04.webp"  class="drop-right__img img-no-shadow"   alt="Reporting image 4">
          <source type="image/png" srcset="/imgs/product/200309_Reporting_UI04.png"  class="drop-right__img img-no-shadow"   alt="Reporting image 4">
          <img   class="drop-right__img img-no-shadow"   src="/imgs/product/200309_Reporting_UI04.png"   alt="Reporting image 4" >
</picture>
        </div>
      </div>
      <div class="col-md-5 c-valign--middle order-1">
        <pre class="c-eyebrow c-eyebrow--dark">ACTIVITY REPORTING</pre>
        <h2>Know who’s doing what<br>and when.</h2>
        <p>Gain insight into team productivity and learn what actions led to closed business.</p>
      </div>
    </div>
  </div>
</section>
<!-- List -->
<section class="c-list">
  <div class="container">
    <div class="c-list__header c-align--center">
      <h2 class="t-center col-md-8">Everything you need to make more sales.</h2>
    </div>
    <div class="row">
      <div class="col-md-4">
        <h4>Leaderboards</h4>
        <p class="p-sm">Spark friendly competition with sales leaderboards that show who the top performers are by revenue, meetings set, calls made, and emails sent.</p>
      </div>
      <div class="col-md-4">
        <h4>Goal Settings</h4>
        <p class="p-sm">See how your sales number is tracking and where you’re going to end up compared to your goal.</p>
      </div>
      <div class="col-md-4">
        <h4>Sales Dashboard</h4>
        <p class="p-sm">See trends in your closed business with a sales history dashboard that shows average monthly sales and average sale value.</p>
      </div>

      <div class="col-md-4">
        <h4>Sales Forecast</h4>
        <p class="p-sm">See your potential revenue by expected close date in Copper’s sales forecast reports, keep a pulse on your pipeline, and plan ahead.</p>
      </div>
      <div class="col-md-4">
        <h4>Google Sheets Add-on</h4>
        <p class="p-sm">Turn data into easy-to-understand insights with our Custom Report Builder that connects directly.</p>
      </div>
      <div class="col-md-4">
        <h4>Lead Conversion</h4>
        <p class="p-sm">Track leads conversion rates to qualified business opportunities so you know what the difference between high quality and low quality leads.</p>
      </div>

      <div class="col-md-4">
        <h4>Win Rate Report</h4>
        <p class="p-sm">Know who your top performers are by tracking win rates by individual or by team.</p>
      </div>
      <div class="col-md-4">
        <h4>Loss Reason Report</h4>
        <p class="p-sm">Copper helps you understand why you’re losing deals and make adjustments in your strategy.</p>
      </div>
      <div class="col-md-4">
        <h4>Google Data Studio</h4>
        <p class="p-sm">Build and share reports with data from multiple sources with our Google Data Studio integration.</p>
      </div>
    </div>

    </div>
    <div class="row c-align--center extra-top-margin--small">
      <a class="t-link" href="/features">See all features</a>
    </div>
  </div>
</section>

<!-- final CTA --> 

<section class="final-plea product-page">
  <div class="container">
    <div class="row"> {#background--teal-dark#}
      <div class="col-md-5">
        <h2>Make better decisions that help you close more deals.</h2>
        <p>Start your 14-day free trial today.</p>
        <div class="c-hero__buttons">
            <a class="c-button sendUTMsToAmplitude" href="{{ craft.app.config.general.signUpUrl }}">Try Free</a>
            <a class="c-button c-button--outline"  href="/demos">Request Demo</a>
        </div>

      </div>
      <div class="col-md-5 offset-md-2">
        <div class="">
          <picture>
          <source type="image/webp" srcset="/imgs/product/191223_Reporting_FinalPlea.webp"  class=""   alt="Reporting image last section before footer">
          <source type="image/png" srcset="/imgs/product/191223_Reporting_FinalPlea.png"  class=""   alt="Reporting image last section before footer">
          <img   class=""   src="/imgs/product/191223_Reporting_FinalPlea.png"   alt="Reporting image last section before footer" >
</picture>
        </div>        
      </div>
    </div>
  </div>
</section>