<!-- Hero -->
<section class="c-hero--split background--graphite">
	<div class="c-image">
	  <picture>
          <source type="image/webp" srcset="/imgs/product/191223_Security_hero.webp"    alt="Security hero image">
          <source type="image/png" srcset="/imgs/product/191223_Security_hero.png"    alt="Security hero image">
          <img     src="/imgs/product/191223_Security_hero.png"   alt="Security hero image" >
</picture>
	</div>
  <div class="container">
    <div class="row">
      <div class="col-md-6 c-valign--middle">
	      <pre class="c-eyebrow c-eyebrow--light">SECURITY AND PRIVACY</pre>
        <h1 class="t-white">Your data is safe and sound.</h1>
        <p>We take data protection seriously, Copper’s security controls and data protection are built for businesses of any size.</p>
        <div class="c-hero__buttons">
            <a class="c-button sendUTMsToAmplitude" href="{{ craft.app.config.general.signUpUrl }}">Try Free</a>
            <a class="c-button c-button--outline"  href="/demos">Request Demo</a>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="h-section-padding product-page-section">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <pre class="c-eyebrow">DATA protection</pre>
          <h2>Backed up and verified.</h2>
          <p>Copper’s data policies and procedures are externally validated—so you don’t have to take our word for it.</p>
        </div>
        <div class="col-md-7 offset-md-1">
          <div class="extra-bottom-margin--x-small">
            <picture>
          <source type="image/webp" srcset="../imgs/security/logo-soc2-compliande.webp"    alt="SOC Logo" height="57">
          <source type="image/png" srcset="../imgs/security/logo-soc2-compliande.png"    alt="SOC Logo" height="57">
          <img     src="../imgs/security/logo-soc2-compliande.png"   alt="SOC Logo" height="57" >
</picture>
 
            <p class="bold">The Service Organization Control</p>
            <p>Validates that an independent auditing firm has reviewed and examined Copper’s internal controls around security,
              availability, and confidentiality to ensure that they’re operating effectively.</p>
          </div>
          <div class="extra-bottom-margin--x-small">
            <picture>
          <source type="image/webp" srcset="../imgs/security/logo-GDPR.webp"    alt="GDPR Logo" height="57">
          <source type="image/png" srcset="../imgs/security/logo-GDPR.png"    alt="GDPR Logo" height="57">
          <img     src="../imgs/security/logo-GDPR.png"   alt="GDPR Logo" height="57" >
</picture>
            <p class="bold">General Data Protection Regulation</p>
            <p>A law that regulates how businesses access and process personal data for EU persons. For more information about Copper’s compliance with GDPR, visit our <a href="https://support.copper.com/hc/en-us/articles/360002158572-Does-Copper-Comply-to-the-EU-General-Data-Protection-Regulation-GDPR-">help center.</a> </p>    
          </div>
          {# <div class="extra-bottom-margin--x-small">
               <a target="_blank" href="//privacy.truste.com/privacy-seal/validation?rid=65c570e7-55db-403f-a58a-48e378e87bb4"><picture>
          <source type="image/webp" srcset="../imgs/security/logo-trustarc.webp"    height="28" alt="TrustArc Logo"></a>
          <source type="image/png" srcset="../imgs/security/logo-trustarc.png"    height="28" alt="TrustArc Logo"></a>
          <img   src="../imgs/security/logo-trustarc.png"  height="28" alt="TrustArc Logo" crossorigin></a>
</picture>
            <p class="bold">TrustArc Privacy Certifications</p>
            <p>TrustArc, formerly TRUSTe, outlines practices for companies to establish and maintain privacy over customer information. Copper holds all five certifications made available by TrustArc.</p>
          </div> #}
          <div class="extra-bottom-margin--x-small">
              {# <picture>
          <source type="image/webp" srcset="../imgs/security/logo-privacy-shield.webp"    height="32" alt="TrustArc Logo">
          <source type="image/png" srcset="../imgs/security/logo-privacy-shield.png"    height="32" alt="TrustArc Logo">
          <img     src="../imgs/security/logo-privacy-shield.png"   height="32" alt="TrustArc Logo" >
</picture>
 #}
            <div><a href="//privacy.truste.com/privacy-seal/validation?rid=65c570e7-55db-403f-a58a-48e378e87bb4" target="_blank"><img style="filter: grayscale(1);transform: scale(0.8) translate(-15px, 0px); border: none;" src="//privacy-policy.truste.com/privacy-seal/seal?rid=65c570e7-55db-403f-a58a-48e378e87bb4" alt="TRUSTe"/></a></div>
            <p class="bold">Privacy Shield Framework</p>
            <p>Designed to ensure companies on both sides of the Atlantic comply with data protection requirements when transferring personal data outside the EU. Copper participates in and has certified compliance with this framework.</p>
          </div>          
        </div>
      </div>
    </div>
  </section>
<!-- List -->
<section class="c-list product-page-section">
  <div class="container">
    <div class="c-list__header c-align--center">
      <h2 class="t-center col-md-8">How we do it</h2>
      <p class="t-center col-md-8">Data protection is kept front and center at all times, even as Copper continues to evolve.</p>
    </div>
    <div class="row">
      <div class="col-md-4">
        <h4>Vulnerability Testing</h4>
        <p class="p-sm">We participate in third-party vulnerability scanning and penetration tests to identify, track, and resolve any high impact vulnerabilities in the system.</p>
      </div>
      <div class="col-md-4">
        <h4>User Access Management</h4>
        <p class="p-sm">Employee and vendor access to all customer data is tightly regulated and restricted to a need-to-know basis using role-based access controls.</p>
      </div>
      <div class="col-md-4">
        <h4>Two-factor Authentication</h4>
        <p class="p-sm">To prevent social engineering attacks, Copper utilizes two-factor authentication before granting access to infrastructure that runs the Copper service.</p>
      </div>

      <div class="col-md-4">
        <h4>Regular User Access Review</h4>
        <p class="p-sm">Our employee access to resources is monitored and controlled to make sure we’re always up to date with role and employment status changes.</p>
      </div>
      <div class="col-md-4">
        <h4>Data Security Training</h4>
        <p class="p-sm">Copper provides security awareness training for all employees and requires all employess to review and sign the Employee Code of Conduct.</p>
      </div>
      <div class="col-md-4">
        <h4>Data Encryption</h4>
        <p class="p-sm">Encryption enhances the security of a message or file by scrambling its contents. Copper encrypts your data both in transit and at rest.</p>
      </div>
    </div>
  </div>
</section>
<!-- Case Study -->
<section class="c-case-study c-case-study--align-left">
  <div class="container colorblock--hot-pink">
    <div class="c-case-study__container col-md-11 no-padding">
      <div class="c-case-study__content c-valign--middle">
    
          <div class="row row-eq-height align-items-center">
            <div class="col-md-6 c-align--center">
              
              <div class="c-image c-image--shadow">
                <pre class="c-eyebrow c-eyebrow--light">Success Story</pre>
                <picture>
          <source type="image/webp" srcset="/imgs/product/191223_Security_QuotePhoto.webp"    alt="Security quote photo">
          <source type="image/png" srcset="/imgs/product/191223_Security_QuotePhoto.png"    alt="Security quote photo">
          <img     src="/imgs/product/191223_Security_QuotePhoto.png"   alt="Security quote photo" >
</picture>
              </div>
            </div>
            <div class="col-md-6">
              <div class="c-panel__blockquote c-valign--middle">
                <blockquote>I chose Copper because it has most of the expected modern features, integrates with Gmail and Inbox, and provides a security model that supports a complex business with multiple teams.</blockquote>
                <cite>GOVIND D<span class="c-panel__blockquote--position" style="text-transform: uppercase;">G2 Crowd Review</span></cite>
              </div>
            </div>
          </div>
                  
      </div>
    </div>

  </div>
</section>
<!-- Sub hero w/image -->
<section class="c-single-column product-page">
  <div class="container">
    <div class="row">
      <div class="col-md-7 c-single-column__container pull-to-center">
          <h2>Safety first</h3>
          <p>At Copper, we work hard to ensure that our customer data remains private and secure. If you believe you've discovered a security vulnerability in our product, we want to hear from you.</p>
          <div class="c-single-column__buttons">
              <a class="c-button" href="mailto:security@copper.com?subject=Security%20Report" target="_Blanck">Report an issue</a>
          </div>
        
      </div>
    </div>
  </div>
</section>


<!-- final CTA --> 

<section class="final-plea product-page">
  <div class="container">
    <div class="row"> {# background--graphite #}
      <div class="col-md-5">
        <h2>You deserve a secure CRM.</h2>
        <p>Start your 14-day free trial today.</p>
        <div class="c-hero__buttons">
            <a class="c-button sendUTMsToAmplitude" href="{{ craft.app.config.general.signUpUrl }}">Try Free</a>
            <a class="c-button c-button--outline"  href="/demos">Request Demo</a>
        </div>

      </div>
      <div class="col-md-5 offset-md-2">
        <div class="">
          <picture>
          <source type="image/webp" srcset="/imgs/product/191223_Security_finalplea.webp"  class=""   alt="Security final image before footer">
          <source type="image/png" srcset="/imgs/product/191223_Security_finalplea.png"  class=""   alt="Security final image before footer">
          <img   class=""   src="/imgs/product/191223_Security_finalplea.png"   alt="Security final image before footer" >
</picture>
        </div>        
      </div>
    </div>
  </div>
</section>