<!-- Hero -->
<section class="c-hero--split background--graphite">
	<div class="c-image">
	  <picture>
          <source type="image/webp" srcset="/imgs/security/security-hero.webp"    alt="Security hero image">
          <source type="image/png" srcset="/imgs/security/security-hero.jpg"    alt="Security hero image">
          <img     src="/imgs/security/security-hero.jpg"   alt="Security hero image" >
</picture>
	</div>
  <div class="container">
    <div class="row">
      <div class="col-md-6 c-valign--middle">
      <pre class="c-eyebrow c-eyebrow--light">security</pre>
        <h1 class="t-white">Enterprise grade security.</h1>
        <p>Copper’s data protection and security controls are built for businesses of any size.</p>
        <div class="c-hero__buttons">
						<a class="c-button c-button--hot-pink" href="https://app.prosperworks.com/users/sign_up">Free Trial</a>
						<a class="c-button c-button--outline" href="/demos">Request Demo</a>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="h-section-padding">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <pre class="c-eyebrow">DATA protection</pre>
          <h2>Backed up and verified.</h2>
          <p>Copper’s data policies and procedures are externally validated, so you don’t have to take our word for it.</p>
        </div>
        <div class="col-md-7 offset-md-1">
          <div class="extra-bottom-margin--x-small">
            <picture>
          <source type="image/webp" srcset="../imgs/security/logo-soc2-compliande.webp"    alt="SOC Logo" height="57">
          <source type="image/png" srcset="../imgs/security/logo-soc2-compliande.png"    alt="SOC Logo" height="57">
          <img     src="../imgs/security/logo-soc2-compliande.png"   alt="SOC Logo" height="57" >
</picture>
 
            <p class="bold">The Service Organization Control</p>
            <p>Validates that an independent auditing firm has reviewed and examined Copper’s internal controls around security,
              availability, and confidentiality to ensure that they’re operating effectively.</p>
          </div>
          <div class="extra-bottom-margin--x-small">
            <picture>
          <source type="image/webp" srcset="../imgs/security/logo-GDPR.webp"    alt="GDPR Logo" height="57">
          <source type="image/png" srcset="../imgs/security/logo-GDPR.png"    alt="GDPR Logo" height="57">
          <img     src="../imgs/security/logo-GDPR.png"   alt="GDPR Logo" height="57" >
</picture>
            <p class="bold">General Data Protection Regulation</p>
            <p>A law that regulates how businesses access and process personal data for EU persons. For more information about Copper’s compliance with GDPR, visit our <a href="https://support.copper.com/hc/en-us/articles/360002158572-Does-Copper-Comply-to-the-EU-General-Data-Protection-Regulation-GDPR-">help center.</a> </p>    
          </div>
          <div class="extra-bottom-margin--x-small">
              <picture>
          <source type="image/webp" srcset="../imgs/security/logo-trustarc.webp"    height="28" alt="TrustArc Logo">
          <source type="image/png" srcset="../imgs/security/logo-trustarc.png"    height="28" alt="TrustArc Logo">
          <img     src="../imgs/security/logo-trustarc.png"   height="28" alt="TrustArc Logo" >
</picture>
            <p class="bold">TrustArc Privacy Certifications</p>
            <p>TrustArc, formerly TRUSTe, outlines practices for companies to establish and maintain privacy over customer information. Copper holds all five certifications made available by TrustArc.</p>
          </div>
          <div class="extra-bottom-margin--x-small">
              <picture>
          <source type="image/webp" srcset="../imgs/security/logo-privacy-shield.webp"    height="32" alt="TrustArc Logo">
          <source type="image/png" srcset="../imgs/security/logo-privacy-shield.png"    height="32" alt="TrustArc Logo">
          <img     src="../imgs/security/logo-privacy-shield.png"   height="32" alt="TrustArc Logo" >
</picture>
            <p class="bold">Privacy Shield Framework</p>
            <p>Designed to ensure companies on both sides of the Atlantic comply with data protection requirements when transferring personal data outside the EU. Copper participates in and has certified compliance with this framework.</p>
          </div>          
        </div>
      </div>
    </div>
  </section>

<!-- Content Jumble -->
<section class="c-jumble no-top-margin c-jumble-background--hot-pink c-jumble--align-left">
	<div class="container">

		<div class="c-jumble__container col-md-10 no-padding">
			<div class="c-jumble__content c-valign--middle">
					
					<div class="row">
						<div class="col-md-6 order-md-2">
							<div class="c-panel__blockquote c-panel--top--eggplant c-valign--middle diamond--volt diamond--bottom--right">
								<blockquote>I chose Copper because it has most of the expected modern features, integrates with Gmail and Inbox, and provides a <strong>security model</strong> that supports a complex business with multiple teams.</blockquote>
								<cite>Govind D.<span class="c-panel__blockquote--position">G2 Crowd Review</span></cite>
							</div>
						</div>
						<div class="col-md-6 order-md-1 c-valign--middle">	
							<pre class="c-eyebrow c-eyebrow--light">DATA RELIABILITY</pre>
							<h2>Industry-leading dependability.</h2>
							<p>Copper has a robust set of controls and procedures in place (like daily backups) so that data security is more than just a nice idea.</p>
						</div>
					</div>
          
			</div>
		</div>

	</div>
</section>

<!-- List -->
<section class="c-list">
  <div class="container">
    <div class="c-list__header t-center">
      <h2>Leave the data protection to us.</h2>
      <p>Data protection is kept front and center at all times, even as Copper continues to evolve.</p>
    </div>
    <div class="row">
      <div class="col-md-4">
        <h4>Vulnerability Testing</h4>
        <p class="p-sm">We participate in third-party vulnerability scanning and penetration tests to identify, track, and resolve any high impact vulnerabilities in the system.</p>
      </div>
      <div class="col-md-4">
        <h4>User Access Management</h4>
        <p class="p-sm">Employee and vendor access to all customer data is tightly regulated and restricted to a need-to-know basis using role-based access controls.</p>
      </div>
      <div class="col-md-4">
        <h4>Two-factor Authentication</h4>
        <p class="p-sm">To prevent social engineering attacks, Copper utilizes two-factor authentication before granting access to infrastructure that runs the Copper service.</p>
      </div>
      <div class="col-md-4">
        <h4>Regular User Access Review</h4>
        <p class="p-sm">Our employee access to resources is monitored and controlled to make sure we’re always up to date with role and employment status changes.</p>
      </div>
      <div class="col-md-4">
        <h4>Data Security Training</h4>
        <p class="p-sm">Copper provides security awareness training for all employees and requires that they review and sign the Employee Code of Conduct.</p>
      </div>
      <div class="col-md-4">
        <h4>Data Encryption</h4>
        <p class="p-sm">Encryption enhances the security of a message or file by scrambling its contents. Copper encrypts your data both in transit and at rest.</p>
      </div>
    </div>
  </div>
</section>

<section class="c-single-column bottom-padding-mobile">
	<div class="container">

			<div class="col-md-8 offset-md-2 c-single-column__container c-align--center h-hairline">
				<h2 class="col-md-10">Safety first.</h2>
				<p class="col-md-12">At Copper, we work hard to ensure that our customer data remains private and secure. If you believe you've discovered a security vulnerability in our product, we want to hear from you.</p>
				<div class="c-single-column__buttons">
					<a class="c-button" href="https://hackerone.com/copper/">Report Issues</a>
				</div>
			</div>
			
	</div>
</section>

<!-- Hero -->
<section class="c-hero--split background--leavebehind">
    <div class="c-image">
      <picture>
          <source type="image/webp" srcset="/imgs/UI_ipad_final-plea-update-new.webp"    alt="Ipad UI image">
          <source type="image/png" srcset="/imgs/UI_ipad_final-plea-update-new.jpg"    alt="Ipad UI image">
          <img     src="/imgs/UI_ipad_final-plea-update-new.jpg"   alt="Ipad UI image" >
</picture>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-6 c-valign--middle">
          <pre class="c-eyebrow c-eyebrow--light">SECURE YOUR DATA</pre>
          <h2 class="t-white">You deserve</so> a secure CRM. 
              </h2>
          <p style="max-width: 420px;">No credit card required. Start your 14-day free trial today.</p>
          <div class="c-hero__buttons">
              <a class="c-button"  href="/demos">Request Demo</a>
              <a class="c-button c-button--outline" href="{{ craft.app.config.general.signUpUrl }}">Try Free</a>
          </div>
        </div>
      </div>
    </div>
  </section>