<!-- Hero -->
<section class="c-hero--split background--midnight product-page">
	<div class="c-image">
	  <picture>
          <source type="image/webp" srcset="/imgs/product/191223_TrackDeals_Hero.webp"    alt="Track deals hero image">
          <source type="image/png" srcset="/imgs/product/191223_TrackDeals_Hero.png"    alt="Track deals hero image">
          <img     src="/imgs/product/191223_TrackDeals_Hero.png"   alt="Track deals hero image" >
</picture>
	</div>
  <div class="container">
    <div class="row">
      <div class="col-md-6 c-valign--middle">
	      <pre class="c-eyebrow c-eyebrow--light">track leads and deals</pre>
        <h1 class="t-white">Keep track <br> of every opportunity.</h1>
        <p>Capture new leads and track conversations right from your inbox with Copper.</p>
        <div class="c-hero__buttons">
            <a class="c-button sendUTMsToAmplitude" href="{{ craft.app.config.general.signUpUrl }}">Try Free</a>
            <a class="c-button c-button--outline"  href="/demos">Request Demo</a>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Sub hero w/image -->
<section class="c-single-column product-page">
  <div class="container">
    <div class="row">
      <div class="col-md-10 offset-md-1 c-single-column__container">
          <div class="c-product-focus__media">
              <picture>
          <source type="image/webp" srcset="/imgs/product/200309_TrackDeals_UI01.webp"    alt="Track deals image 1">
          <source type="image/png" srcset="/imgs/product/200309_TrackDeals_UI01.png"    alt="Track deals image 1">
          <img     src="/imgs/product/200309_TrackDeals_UI01.png"   alt="Track deals image 1" >
</picture>
          </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-7 c-single-column__container pull-to-center">
          <h2>Know what’s going on with every deal.</h3>
          <p>With Copper you don’t have to worry that you’re leaving money on the table. Don’t let a lead slip through the cracks ever again.</p>
          <div class="c-single-column__buttons">
              <a class="c-button sendUTMsToAmplitude" href="{{ craft.app.config.general.signUpUrl }}">Try Free</a>
              <a class="c-button c-button--outline" href="/demos">Request Demo</a>
          </div>
        
      </div>
    </div>
  </div>
</section>
<!-- Alternating 2 ups-->
<section class="c-cols c-cols-alternate product-page">
  <div class="container">
    <div class="row">
      <div class="col-md-7 order-2">
        <div class="c-image c-image--drop-right">
          <picture>
          <source type="image/webp" srcset="/imgs/product/200309_TrackDeals_UI02.webp"  class="drop-right__img img-no-shadow"   alt="Track deals image 2">
          <source type="image/png" srcset="/imgs/product/200309_TrackDeals_UI02.png"  class="drop-right__img img-no-shadow"   alt="Track deals image 2">
          <img   class="drop-right__img img-no-shadow"   src="/imgs/product/200309_TrackDeals_UI02.png"   alt="Track deals image 2" >
</picture>
        </div>
      </div>
      <div class="col-md-5 c-valign--middle order-1">
        <pre class="c-eyebrow c-eyebrow--dark">AUTOMATED FOLLOW-UPS</pre>
        <h2>Never drop <br> the ball.</h2>
        <p>Copper speeds up follow-ups with email templates and sets reminders for you to stay on top of hot deals and respond to customers without missing a beat. Say goodbye to lost deals, and hello to keeping customers around longer!</p>
        <ul class="bullets--indigo">
          <li>Personalized email templates</li>
          <li>Automatically set reminders based off  any trigger</li>
          <li>Assign time-based tasks without lifting  a finger</li>
        </ul>
      </div>
    </div>
    <div class="row column-reverse">
      <div class="col-md-6">
        <div class="c-image c-image--left">
          <picture>
          <source type="image/webp" srcset="/imgs/product/200309_TrackDeals_UI03.webp"  class="drop-right__img img-no-shadow"   alt="Track deals image 3">
          <source type="image/png" srcset="/imgs/product/200309_TrackDeals_UI03.png"  class="drop-right__img img-no-shadow"   alt="Track deals image 3">
          <img   class="drop-right__img img-no-shadow"   src="/imgs/product/200309_TrackDeals_UI03.png"   alt="Track deals image 3" >
</picture>
        </div>
      </div>
      <div class="col-md-5 offset-md-1 c-valign--middle">
        <div class="c-cols__copy">
          <pre class="c-eyebrow c-eyebrow--dark">VISUAL SALES PIPELINES</pre>
          <h2>Make sales <br> more visual.</h2>
          <p>Know where every lead is at in your sales process and move opportunities to the next stage using the customizable drag-and-drop pipelines.</p>
          <ul>
            <li>Track and sort deals by their value amounts</li>
            <li>Know the win probability for any deal</li>
            <li>Easily see which deals are slipping</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Case Study -->
<section class="c-case-study c-case-study--align-left">
  <div class="container colorblock--indigo">
    <div class="c-case-study__container col-md-11 no-padding">
      <div class="c-case-study__content c-valign--middle">
          
          <div class="row row-eq-height align-items-center">
            <div class="col-md-6 c-align--center">
              
              <div class="c-image c-image--shadow">
                <pre class="c-eyebrow c-eyebrow--light">Success Story</pre>
                <picture>
          <source type="image/webp" srcset="/imgs/product/191223_TrackDeals_QuotePhoto.webp"    alt="Track deals image">
          <source type="image/png" srcset="/imgs/product/191223_TrackDeals_QuotePhoto.png"    alt="Track deals image">
          <img     src="/imgs/product/191223_TrackDeals_QuotePhoto.png"   alt="Track deals image" >
</picture>
              </div>
            </div>
            <div class="col-md-6">
              <div class="c-panel__blockquote c-valign--middle">
                <blockquote>We were letting more than 25% of our leads slip through the cracks because we weren’t following up. With Copper, we're capturing more leads in an organized way.</blockquote>
                <cite>Matt Chapman<span class="c-panel__blockquote--position" style="text-transform: uppercase;">Smartpress</span></cite>
              </div>
            </div>
          </div>
                  
      </div>
    </div>

  </div>
</section>
<!-- single two up -->
<section class="c-cols c-cols-alternate product-page">
  <div class="container">
    <div class="row extra-padding--bottom">
      <div class="col-md-6 order-2">
        <div class="c-image c-image--drop-right">
          <picture>
          <source type="image/webp" srcset="/imgs/product/200309_TrackDeals_UI04.webp"  class="drop-right__img img-no-shadow"   alt="Track deals image 4">
          <source type="image/png" srcset="/imgs/product/200309_TrackDeals_UI04.png"  class="drop-right__img img-no-shadow"   alt="Track deals image 4">
          <img   class="drop-right__img img-no-shadow"   src="/imgs/product/200309_TrackDeals_UI04.png"   alt="Track deals image 4" >
</picture>
        </div>
      </div>
      <div class="col-md-5 c-valign--middle order-1">
        <pre class="c-eyebrow c-eyebrow--dark">KEEP THINGS MOVING</pre>
        <h2>Always know<br>your next step.</h2>
        <p>Stay on top of hot deals and close them faster thanks to Copper’s recommendations, which suggest next steps based on upcoming meetings, tasks, and overdue email responses.</p>
      </div>
    </div>
  </div>
</section>
<!-- List -->
<section class="c-list product-page">
  <div class="container">
    <div class="c-list__header c-align--center">
      <h2 class="t-center col-md-8">Know what you need to do to close deals faster.</h2>
    </div>
    <div class="row">
      <div class="col-md-4">
        <h4>Inactivity Monitor</h4>
        <p class="p-sm">See the number of days a lead has gone without a follow-up so you know when you should reach out.</p>
      </div>
      <div class="col-md-4">
        <h4>Deal Length Monitor</h4>
        <p class="p-sm">See how long a deal has been in any stage of your sales process so you’ll know which ones are dragging and which ones are moving forward.</p>
      </div>
      <div class="col-md-4">
        <h4>Alerts and Notifications</h4>
        <p class="p-sm">Copper sends you real-time notifications that indicate when leads or contacts need your attention.</p>
      </div>

      <div class="col-md-4">
        <h4>Workflow Automation</h4>
        <p class="p-sm">Instead of assigning tasks manually, let Copper automatically assigned time-based tasks to teammates when leads are entered or updated.</p>
      </div>
      <div class="col-md-4">
        <h4>Email Templates</h4>
        <p class="p-sm">Stop writing emails from scratch. With ready-to-use email templates you can answer frequent questions, greet new customers, or promote your service with just one click.</p>
      </div>
      <div class="col-md-4">
        <h4>Custom Fields</h4>
        <p class="p-sm">Want to track more specific data about your contacts? Add custom fields to record special details that you can use to build better relationships.</p>
      </div>

        <div class="col-md-4">
            <h4>Activity Feed</h4>
            <p class="p-sm">See exactly what’s going on at anytime with the real-time feed of all the activities that are going on with your contacts and accounts.</p>
          </div>
          <div class="col-md-4">
            <h4>Email Open Tracking</h4>
            <p class="p-sm">Easily monitor when a hot lead or customer opens your email so you can send timely follow-ups.</p>
          </div>
          <div class="col-md-4">
            <h4>Custom Opportunity Cards</h4>
            <p class="p-sm">Decide what information is valuable for pending deals by customizing the visual card with critical deal information.</p>
          </div>
      </div>

    </div>
    <div class="row c-align--center extra-top-margin--small">
      <a class="t-link" href="/features">See all features</a>
    </div>
  </div>
</section>

<!-- final CTA --> 

<section class="final-plea product-page">
  <div class="container">
    <div class="row"> {# background--midnight #}
      <div class="col-md-5">
        <h2>Turn more leads into customers.</h2>
        <p>Start your 14-day free trial today.</p>
        <div class="c-hero__buttons">
            <a class="c-button sendUTMsToAmplitude" href="{{ craft.app.config.general.signUpUrl }}">Try Free</a>
            <a class="c-button c-button--outline"  href="/demos">Request Demo</a>
        </div>

      </div>
      <div class="col-md-5 offset-md-2">
        <div class="">
          <picture>
          <source type="image/webp" srcset="/imgs/product/191223_TrackDeals_FinalPlea.webp"  class=""   alt="Track deals final image before footer">
          <source type="image/png" srcset="/imgs/product/191223_TrackDeals_FinalPlea.png"  class=""   alt="Track deals final image before footer">
          <img   class=""   src="/imgs/product/191223_TrackDeals_FinalPlea.png"   alt="Track deals final image before footer" >
</picture>
        </div>        
      </div>
    </div>
  </div>
</section>