<div class="row">
    <div id="l-modal--tool--overlay">
      <div class="l-modal--tool--content " id="toolModal">
        <div class="modal-content">
          <a class="modal-close" data-dismiss="modal" aria-label="Close" onClick="closeToolModal()">
            <svg width="14px" height="14px" viewbox="0 0 14 14" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
              <defs></defs>
              <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                <g id="Request-a-demo-modal---no-logo" transform="translate(-233.000000, -225.000000)">
                  <g id="baseline-close-24px-copy" transform="translate(228.000000, 220.000000)">
                    <polygon id="Shape" fill="#FF3465" fill-rule="nonzero" points="19 6.41 17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12"></polygon>
                    <polygon id="Shape" points="0 0 24 0 24 24 0 24"></polygon>
                  </g>
                </g>
              </g>
            </svg>
          </a>
          <div class="container">
            <div class="title row">
              <div class="col-md-12">
                <h3 id="tool-name"></h3>
              </div>
            </div>
            <div class="row">
              <div class="col-12 col-md-6">
                <p id="tool-description" class="p-sm">
                </p>
              </div>
              <div class="col-12 col-md-5 offset-md-1 tool-data">
                <pre class="t-eyebrow t-eyebrow--lightblue" id="tool-category"></pre>
                <div class="tool-price">
                  <h5>Pricing:</h5>
                  <p id="tool-price-text" class="p-sm"></p>
                </div>
                <div class="tool-recomendation">
                  <h5>Recommended for:</h5>
                  <p id="tool-recomendation-text" class="p-sm"></p>
                </div>
              </div>
              <div class="col-12 tool--app-image">
                <img src="" alt="Empty image" width="100%">
              </div>
            </div>
          </div>
        </div>          
      </div>
    </div>
  </div>