
<!-- Hero -->
<section class="c-hero--split background--eggplant">
    <div class="c-image">
        <picture>
          <source type="image/webp" srcset="/imgs/demos/contact-hero.webp"    alt="Contact Us" align="middle">
          <source type="image/png" srcset="/imgs/demos/contact-hero.jpg"    alt="Contact Us" align="middle">
          <img     src="/imgs/demos/contact-hero.jpg"   alt="Contact Us" align="middle" >
</picture>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-6 c-valign--middle">
            <pre class="c-eyebrow c-eyebrow--light">Contact Us</pre>
            <h2>Contact our Support and Sales team</h2>
            <p>Need to get in touch with the team? We’re all ears.</p>
          <div class="c-hero__buttons">
            <a class="c-button"  href="#" data-toggle="modal" data-target="#contactModal">Contact Us</a>
            <a class="c-button" href="https://support.copper.com">Visit support</a>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="c-contact">
      <div class="container">
        <div class="row">
          <div class="col-md-4">
            <pre class="c-eyebrow">LET’S CHAT</pre>
            <h2>Who do you need to get in touch with?</h2>
          </div>
          <div class="col-md-6 offset-md-2">
            <div class="c-press-articles__copy">
                <h3>Support</h3>
                <p>We have a support portal that has the answers to dozens of the most common questions about Copper! <a href="https://support.copper.com">Check it out here.</a></p>
                <p>If you don’t find what you need, please <a href="https://support.copper.com/hc/en-us/requests/new">submit</a> a support request through our help center or chat us through the Copper app.</p>
            </div>
            <div class="c-press-articles__copy">
                <h3>Sales</h3>
                <p>Interested in learning more about Copper? Contact our product experts at <a href="mailto:sales@copper.com">sales@copper.com</a>.</p>
            </div>
            <div class="c-press-articles__copy">
                <h3>Business Development</h3>
                <p>Are you a reseller, affiliate, or association that would like to partner with Copper? Get connected with our Partner team at <a href="mailto:partners@copper.com">partners@copper.com.</a></p>
            </div>
            <div class="c-press-articles__copy">
                <h3>General Questions</h3>
                <p>Have a general question for us? Contact us at <a href="mailto:info@copper.com">info@copper.com.</a></p>
            </div>                
          </div>
        </div>
    
    
      </div>
    </section>

<!-- Content Jumble -->
<section class="c-jumble c-jumble-background--putty c-jumble--align-left">
    <div class="container">
  
      <div class="c-jumble__container col-md-12 no-padding">
        <div class="c-jumble__content extra-padding">
      
            <div class="container">
              <div class="row">
                  <div class="col-md-5 c-valign--middle">	
                      <div>
                          <pre class="c-eyebrow">Our Office</pre>
                          <h2>Copper HQ</h2>
                          <p>E: info@copper.com</p>
                          <p>301 Howard St. #600</br>San Francisco, CA 94105</p>
      
                      </div>
      
                    </div>
                    <div class="col-md-7">
                        <div class="map-container">
                          {% include "company/_map_iframe.html" %}
                        </div> 
                      </div>
              </div>

            </div>

  
         
                    
        </div>
      </div>
  
    </div>
  </section>
<!-- Hero -->
<section class="c-hero--split background--leavebehind">
    <div class="c-image">
      <picture>
          <source type="image/webp" srcset="/imgs/UI_ipad_final-plea-update-new.webp"    alt="Ipad UI update image">
          <source type="image/png" srcset="/imgs/UI_ipad_final-plea-update-new.jpg"    alt="Ipad UI update image">
          <img     src="/imgs/UI_ipad_final-plea-update-new.jpg"   alt="Ipad UI update image" >
</picture>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-6 c-valign--middle">
          <pre class="c-eyebrow c-eyebrow--light">Goodbye Data Entry</pre>
          <h2 class="t-white">Hello Copper.</br>Try it free!</h2>
          <p style="max-width: 420px;">No credit card required. Start your 14-day free trial today.</p>
          <div class="c-hero__buttons">
              <a class="c-button"  href="/demos">Request Demo</a>
              <a class="c-button c-button--outline" href="{{ craft.app.config.general.signUpUrl }}">Try Free</a>
          </div>
        </div>
      </div>
    </div>
  </section>

  <script>
 
  </script>