<footer class="c-footer--simple">
  <div class="container">
    <div class="d-flex row">
      <div class="col-md-2 c-footer--simple__logo">
        <a href="#"><img alt="Footer logo" src="/imgs/copper-logo-grey.svg"></a>
      </div>
      <div class="col-md-7 c-footer--simple__company-links">
        <a href="/privacy" class="custom-link">Privacy Policy</a>
        <a href="/terms" class="custom-link">Terms &amp; Conditions</a>
        <span>® {{ "now"|date("Y") }} Copper CRM, Inc.</span>
      </div>
      <div class="col-md-3">
        <div class="c-footer--simple__social-links">
          <a href="https://www.youtube.com/c/CopperInc" target="_blank">{% include '/icons/social-yt.svg' %}</a>
          <a href="https://www.instagram.com/copperinc/" target="_blank">{% include '/icons/social-ig.svg' %}</a>
          <a href="https://www.facebook.com/CopperInc/" target="_blank">{% include '/icons/social-fb.svg' %}</a>
          <a href="https://twitter.com/copperinc" target="_blank">{% include '/icons/social-tw.svg' %}</a>
          <a href="https://www.linkedin.com/company/copper-inc/" target="_blank">{% include
            '/icons/social-li.svg' %}</a>
        </div>
      </div>
    </div>
  </div>
</footer>
