<div class="library-nav-wrapper">
	<div class="container">
		<a class="" href="/"><img class="img-fluid" src="/imgs/copper-logo-pink-il.svg" alt="Copper logo pink"></a><a href="" class=""><h1 class="library-home-link">Library</h1></a>
		<div class="cta-wrap float-right d-none d-sm-none d-md-block"><a class="request-demo-link" href="/demos">Request Demo</a><a class="c-button sendUTMsToAmplitude" href="{{ craft.app.config.general.signUpUrl }}">Try Free</a></div>
		<div class="float-right"><span class="search-open"></span></div>
	</div>
</div>