<div class="modal hide fade" id="contactModal" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="c-form demo-form">
      <a class="modal-close" data-dismiss="modal" aria-label="Close">
          <svg width="14px" height="14px" viewBox="0 0 14 14" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
            <defs></defs>
            <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                <g id="Request-a-demo-modal---no-logo" transform="translate(-233.000000, -225.000000)">
                    <g id="baseline-close-24px-copy" transform="translate(228.000000, 220.000000)">
                        <polygon id="Shape" fill="#646567" fill-rule="nonzero" points="19 6.41 17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12"></polygon>
                        <polygon id="Shape" points="0 0 24 0 24 24 0 24"></polygon>
                    </g>
                </g>
            </g>
        </svg>
      </a>
      <div class="form_inside">
        <div class="c-form__text">
          <h2>Contact Us<span class="highligthed-sign"> . </span></h2>
          <p>Are you interested in learning more about Copper? Enter your information in the form and a representative will contact you shortly.</p>
        </div>
        <div id="contact-form-snip" class="sl_swap h-smartling-form">
          {% import "/components/replacements/_marketo-replacements.html" as localLeadReplacements %}
              {% if marketoConfigurations.replaceMarketoForms %}
                {{ localLeadReplacements.htmlReplacement("mktoForm_1671", 'Lead', entry.slug) }}
              {% else %}
                <form id="mktoForm_1671">
                  <div class="h-gdpr d-flex">
                      <!-- <div class="h-gdpr__container">
                          <input type="checkbox" name="consent" id="consentBox" value="false"/>
                      </div> -->
                      <i>By submitting this form you agree our terms. See our <a href="/privacy">privacy policy</a> to learn about how we use your information.</i>
                      <!-- <i>I consent to receiving emails about Copper products and  special offers. By submitting this form you agree to our terms. See our <a href="/privacy">privacy policy</a> to learn about how we use your information.</i> -->
                  </div>          
                </form>
          {% endif %}
        </div>

        <script id="contact-form-embed" class="sl_swap">
        {% if marketoConfigurations.replaceMarketoForms %}
          {{ localLeadReplacements.lightScriptReplacement('mktoForm_1671', staticAssetsVersion, "JH", true, true) }}
        {% else %}
            LazyLoad.js(['https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js'],function(){
              MktoForms2.loadForm("//app-sj17.marketo.com", "763-DVL-293", 1671, function(form) {
            $("#MktoPersonNotes").hide();
            $("#MktoPersonNotes").after('<textarea id="MktoPersonNotesTextArea" name="MktoPersonNotes" placeholder="I’m interested in learning more about…" maxlength="32000" type="text" class="mktoField mktoTextField mktoHasWidth mktoRequired" style="width: 150px;" />');
            $("#MktoPersonNotesTextArea").keyup(function(){
              $text = $(this).val();
              $("#MktoPersonNotes").val($text);
            });

            form.onSubmit(function(){
              // Get the form field values
              var consentValue =  $('#consentBox').val();
              var vals = form.vals({"expressConsentGivenc": consentValue});
              // You may wish to call other function calls here, for example to fire google analytics tracking or the like
              // callSomeFunction(vals);
              // We'll just alert them to show the principle
              // alert("Submitted values: " + JSON.stringify(vals));
              form.onSuccess(function(x, y) {
                form.getFormElem().css({
                  "display": "none"
                });
                $(".js-form-success").css({
                  "display": "block"
                });
                $(".js-form-success").addClass('h-demo-success');
                return false;
              });              
            });
          });

          MktoForms2.whenReady(function (form) {
            $(".mktoFormRow").each(function(){
              $type = $(this).find("input").attr("type");
              if($type == "hidden"){
                $(this).css("display","none");
              }
            });

            $('.h-gdpr').css({
                "display": "block"
            });

          });   
            })
                
        {% endif %}
      </script>
      </div>
      <div class="js-form-success">
        <h3 class="h3">Thanks for your interest.</h3>
        <p>A representative will contact you soon.</p>
        <a class="c-button" data-dismiss="modal" aria-label="Close">Return to site</a>
      </div>
    </div>
  </div>
</div>
