<div style="color: #3C3F40;">
  <h3 class="text-center" style="font-size: 32px;font-family: 'Graphik-regular';">Ready for a more organized and productive you?</h1>
  <p class="p-sm text-center">Loved by 10,000+ successful businesses worldwide<br />Try it free for 14 days. No credit card needed.</p>
  <div class="form_container">
    <form class="signup_form" id="signup_form" action="https://app.prosperworks.com/users" accept-charset="UTF-8" method="post">
      <input name="utf8" type="hidden" value="✓">
      <input type="hidden" name="authenticity_token" value="lAAB/AYz9RxQR4RN74ZQgCErmru66/VW8Kzw3EeKrJrJC4AjlOsOIwvmktA9F0k1HVJQkSEber78cUBqUaYwhw==">
      <a class="google_light_btn" href="https://app.prosperworks.com/auth/auto_login?continue_with_google=true&amp;failure_url=https%3A%2F%2Fapp.prosperworks.com%2Fusers%2Fsign_up%3Fauth_error%3DAuthentication%2Bfailed.%2BPlease%2Benter%2Byour%2Bemail%2Bbelow%2Bto%2Bcontinue.&amp;prompt=consent&amp;provider=google_oauth2_extended">
          <img class="google_icon" src="//d3jas8421cca9z.cloudfront.net/assets/google-g-0cf576a5dab9315daac7ffe29d29ed585e0ff9850e59408d0f25f38dc1da037b.svg" alt="Google g">
          <span class="google_light_btn_label">
              Continue with Google
          </span>
      </a>
      <div class="signup_form_subtext">
          or use your email to sign up:
      </div>
      <div class="field">
          <div class="form_text_field_container">
              <label for="user[full_name]">Full Name</label>
              <input class="text_field" size="30" title='Only alphabet characters admitted' pattern='[A-Za-z ]{1,32}' maxlength="32" placeholder="Jane Doe" type="text" name="user[full_name]" id="user_full_name">
          </div>
      </div>
      <div class="field">
          <div class="form_text_field_container">
              <label for="user[email]">Work Email</label>
              <input size="30" class="text_field" placeholder="janedoe@example.com" type="email" name="user[email]" id="user_email">
          </div>
      </div>
      <input type="hidden" name="amp_device_id" value="" >
      <input type="hidden" name="utm_source" value="" >
      <input type="hidden" name="utm_campaign" value="" >
      <input type="hidden" name="utm_medium" value="" >
      <input type="hidden" name="utm_adgroup" value="" >
      <input type="hidden" name="utm_content" value="" >
      <input type="hidden" name="utm_term" value="" >
      <input type="hidden" name="gclid" value="" >
      <input type="hidden" name="visitor_token" value="" >
      <div class="submit-button-row">
        <input type="submit" name="commit" value="Try Free" class="submit_button is-pink with-no-border">
      </div>
    </form>
    <p class="disclaimer">By signing up, I agree to Copper’s <a href="/privacy">privacy policy</a> & <a href="/terms">terms of service.</a></p>
  </div>
</div>
