{% extends "_top-nav.html" %} 

{% block topNav %}

<!-- Hero -->
  <section class="c-hero--split c-hero--split--animation background--midnight partner-hero">
    <div class="container">
      <div class="row">
          <div class="col-md c-align--center partner-hero-container">
            <h2>Copper Partner Program<span class="t-hot-pink">.</span></h2>
            <p class="partner-hero-description">Let's work together to help our customers thrive. Partners bridge the gap between productivity and CRM for G Suite Users.</p>
          </div>
      </div>
    </div>
  </section>


<!--Cards that ghost-->
  <section class="container ghoster-section">
    <div class="container tools-category partner-card-ghoster">
      <div class="row" style="justify-content: center;">
        <div class="col-md-4 c-card--tool">
          <div class="c-card__entry c-card--internal-padding c-card--permanent-shadow no-bottom-margin">
            <picture>
          <source type="image/webp" srcset="/imgs/partners/new-partners-icon-referral.webp"  class="c-list__icon c-list__icon--top-sm" alt="New partners referral icon"  >
          <source type="image/png" srcset="/imgs/partners/new-partners-icon-referral.png"  class="c-list__icon c-list__icon--top-sm" alt="New partners referral icon"  >
          <img   class="c-list__icon c-list__icon--top-sm" alt="New partners referral icon"   src="/imgs/partners/new-partners-icon-referral.png"   >
</picture>
              <h4 class="c-card__entry-title">
                Referral Partner
              </h4>
              <p class="p-sm partner-card-content" >Introduce your customers to Copper <br class="mobile-disappear" /> and make 10%.</p>
            <div class="c-card__meta c-card__meta--noline c-card__meta--nopadding ">
              <a class="c-button" href="#referral">Learn more</a>
            </div>
          </div>
        </div>
        <div class="col-md-4 c-card--tool">
          <div class="c-card__entry c-card--internal-padding c-card--permanent-shadow no-bottom-margin">
            <picture>
          <source type="image/webp" srcset="/imgs/partners/new-partners-icon-technology.webp"  class="c-list__icon c-list__icon--top-sm" alt="New partneers technology icon"  >
          <source type="image/png" srcset="/imgs/partners/new-partners-icon-technology.png"  class="c-list__icon c-list__icon--top-sm" alt="New partneers technology icon"  >
          <img   class="c-list__icon c-list__icon--top-sm" alt="New partneers technology icon"   src="/imgs/partners/new-partners-icon-technology.png"   >
</picture>
              <h4 class="c-card__entry-title">
                Technology & Strategic ISV Partner
              </h4>
              <p class="p-sm partner-card-content">
                Build an integration with Copper <br class="mobile-appear" />via <br class="mobile-disappear" />our APIs. Introduce your customers <br class="mobile-disappear" />and make 15%.
              </p>
            <div class="c-card__meta c-card__meta--noline c-card__meta--nopadding ">
              <a class="c-button" href="#technology">Learn more</a>
            </div>
          </div>
        </div>
        <div class="col-md-4 c-card--tool">
          <div class="c-card__entry c-card--internal-padding c-card--permanent-shadow no-bottom-margin">
            <picture>
          <source type="image/webp" srcset="/imgs/partners/new-partners-icon-reseller.webp"  class="c-list__icon c-list__icon--top-sm"   alt="New partners image">
          <source type="image/png" srcset="/imgs/partners/new-partners-icon-reseller.png"  class="c-list__icon c-list__icon--top-sm"   alt="New partners image">
          <img   class="c-list__icon c-list__icon--top-sm"   src="/imgs/partners/new-partners-icon-reseller.png"   alt="New partners image" >
</picture>
              <h4 class="c-card__entry-title">
                Reseller & Implementation Partner
              </h4>
              <p class="p-sm partner-card-content" >
                Add Copper to your portfolio of <br class="mobile-disappear" />expertise. Get trained to sell, <br class="mobile-disappear" />onboard and service our customers.</p>
            <div class="c-card__meta c-card__meta--noline c-card__meta--nopadding ">
              <a class="c-button" href="#reseller">Learn more</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

<!-- Customers block -->
<section>
  <div class="container extra-top-margin--small">
    <div class="row d-flex align-items-top extra-bottom-margin--small">
      <div class="col-md-7 order-2 t-pink-bullet-points" id="ambassador-section">
          <p class="extra-lg extra-bottom-margin--small">Copper is passionate about partnering with like-minded organizations to help shared customers be more successful. We are focused on bridging the gap between productivity and CRM for G Suite Customers. <br> <br>
          Whether you’re a technology partner or a reseller partner, you can qualify to be highlighted as an ambassador and thought leader. 
          </p>
          <span class="bold">Here is how to qualify:</span>
          <ul class="p extra-lg">
            <li>Attend our Monthly Partner Sales Enablement Training.</li>
            <li>Complete Sales Enablement <br class="mobile-appear" />Certification or Partner Implementation Certification.</li>
            <li>Receive a LinkedIn badge.</li>
            <li>Refer a customer, enter a raffle and make $$.</li>
            <li>Qualify to be highlighted in a joint asset, where you get <br class="mobile-disappear" />highlighted as an Ambassador discussing a customer win or a productivity trend.</li>
          </ul>
          <p class="extra-lg mobile-appear">
            Email us at <a href="mailto:partners@copper.com" class="t-link--volt__link">partners@copper.com</a>
            <br />
            to learn more
          </p>
      </div>
      <div class="col-md-5 order-1">
        <h2 class="extra-bottom-margin--x-small">
          Become a <br class="mobile-disappear"/>Copper <br class="mobile-appear" />Partner Ambassador
        </h2>
        <p class="extra-lg mobile-disappear">
          Email us at <span class="t-hot-pink">partners@copper.com</span>
          <br />
          to learn more
        </p>
      </div>
    </div>
  </div>
</section>


<!-- Three card column | Tools Categories -->
<section>
  <div class="container tools-category extra-top-margin--small extra-bottom-margin--small" id="cards-section">
    <h2 class="text-center">Technology Partners</h2>
    <div class="container">
      <div class="row extra-top-margin--small">
        <div class="col-md-4 c-card--tool ">
          <div class="c-card__entry c-card--internal-padding c-card--permanent-shadow c-small-reducer ">
              <h4 class="c-card__entry-title">
                  Marketing Automation
                </h4>
            <ul class="c-card-icons--list">
              <li class="c-tooltip c-card--icon">
                <img class="" src="/imgs/partners/Marketing_Automation/Persistiq.png" width="45px" height="45px"
                  alt="Persistiq" />
                <span>
                  PersistIQ
                  <i></i>
                </span>
              </li>
              <li>
                <div class="spacer"></div>
              </li>
              <li class="c-tooltip c-card--icon">
                <img class="" src="/imgs/partners/Marketing_Automation/Mailchimp.png" width="45px" height="45px"
                  alt="Mailchimp" />
                <span>
                  Mailchimp
                  <i></i>
                </span>
              </li>
              <li>
                <div class="spacer"></div>
              </li>
              <li class="c-tooltip c-card--icon">
                <img class="" src="/imgs/partners/Marketing_Automation/Marketo.png" width="45px" height="45px"
                  alt="Marketo" />
                <span>
                  Marketo
                  <i></i>
                </span>
              </li>
              <li>
                <div class="spacer"></div>
              </li>
              <li class="c-tooltip c-card--icon">
                <img class="" src="/imgs/partners/Marketing_Automation/Hubspot.png" width="45px" height="45px"
                  alt="Hubspot" />
                <span>
                  Hubspot
                  <i></i>
                </span>
              </li>
              <li class="c-tooltip c-card--icon">
                <img class="" src="/imgs/partners/Marketing_Automation/Campaign_monitor.png" width="45px" height="45px"
                  alt="Campaing Monitor" />
                <span>
                  Campaign Monitor
                  <i></i>
                </span>
              </li>
              <li>
                <div class="spacer"></div>
              </li>
              <li class="c-tooltip c-card--icon">
                <img class="" src="/imgs/partners/Marketing_Automation/Constant_Contact.png" width="45px" height="45px"
                  alt="Constant Contact" />
                <span>
                  Constant Contact
                  <i></i>
                </span>
              </li>
            </ul>
          </div>
          <div class="c-card__entry c-card--internal-padding c-card--permanent-shadow c-small-reducer">
            <h4 class="c-card__entry-title">
                  Website & E-Commerce
                </h4>
            <ul class="c-card-icons--list">
              <li class="c-tooltip c-card--icon">
                <img class="" src="/imgs/partners/Website_Y_ECommerce/SquareSpace.png" width="45px" height="45px"
                  alt="SquareSpace" />
                <span>
                  Squarespace
                  <i></i>
                </span>
              </li>
              <li>
                <div class="spacer"></div>
              </li>
              <li class="c-tooltip c-card--icon">
                <img class="" src="/imgs/partners/Website_Y_ECommerce/Magento.png" width="45px" height="45px"
                  alt="Magento" />
                <span>
                  Magento
                  <i></i>
                </span>
              </li>
              <li>
                <div class="spacer"></div>
              </li>
              <li class="c-tooltip c-card--icon">
                <img class="" src="/imgs/partners/Website_Y_ECommerce/Shopify.png" width="45px" height="45px"
                  alt="Shopify" />
                <span>
                  Shopify
                  <i></i>
                </span>
              </li>
              <li>
                <div class="spacer"></div>
              </li>
              <li class="c-tooltip c-card--icon">
                <img class="" src="/imgs/partners/Website_Y_ECommerce/Typeform.png" width="45px" height="45px"
                  alt="Typeform" />
                <span>
                  Typeform
                  <i></i>
                </span>
              </li>
              <li class="c-tooltip c-card--icon">
                <img class="" src="/imgs/partners/Website_Y_ECommerce/wufoo-logo-png-transparent 1.png" width="45px" height="45px"
                  alt="Wufoo" />
                <span>
                  Wufoo
                  <i></i>
                </span>
              </li>
              <li>
                <div class="spacer"></div>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-md-4 c-card--tool ">
          <div class="c-card__entry c-card--internal-padding c-card--permanent-shadow c-small-reducer">
            <h4 class="c-card__entry-title">
                  Project Management
                </h4>
            <ul class="c-card-icons--list">
              <li class="c-tooltip c-card--icon">
                <img class="" src="/imgs/partners/Project_Management/Asana.png" width="45px" height="45px"
                  alt="Asana" />
                <span>
                  Asana
                  <i></i>
                </span>
              </li>
              <li>
                <div class="spacer"></div>
              </li>
              <li class="c-tooltip c-card--icon">
                <img class="" src="/imgs/partners/Project_Management/Basecamp.png" width="45px" height="45px"
                  alt="Basecamp" />
                <span>
                  Basecamp
                  <i></i>
                </span>
              </li>
              <li>
                <div class="spacer"></div>
              </li>
              <li class="c-tooltip c-card--icon">
                <img class="" src="/imgs/partners/Project_Management/Trello.png" width="45px" height="45px"
                  alt="Trello" />
                <span>
                  Trello
                  <i></i>
                </span>
              </li>
              <li>
                <div class="spacer"></div>
              </li>
              <li class="c-tooltip c-card--icon">
                <img class="" src="/imgs/partners/Project_Management/Smartsheet.png" width="45px" height="45px"
                  alt="Smartsheet" />
                <span>
                  Smartsheet
                  <i></i>
                </span>
              </li>
            </ul>
          </div>
          <div class="c-card__entry c-card--internal-padding c-card--permanent-shadow c-small-reducer">
            <h4 class="c-card__entry-title">
                  Document Management
                </h4>
            <ul class="c-card-icons--list">
              <li class="c-tooltip c-card--icon">
                <img class="" src="/imgs/partners/Document_Management/Docusign.png" width="45px" height="45px"
                  alt="Docusign" />
                <span>
                  DocuSign
                  <i></i>
                </span>
              </li>
              <li>
                <div class="spacer"></div>
              </li>
              <li class="c-tooltip c-card--icon">
                <img class="" src="/imgs/partners/Document_Management/Panda Doc.png" width="45px" height="45px"
                  alt="Panda Doc" />
                <span>
                  Panda Doc
                  <i></i>
                </span>
              </li>
              <li>
                <div class="spacer"></div>
              </li>
              <li class="c-tooltip c-card--icon">
                <img class="" src="/imgs/partners/Document_Management/Hellosign.png" width="45px" height="45px"
                  alt="Hellosign" />
                <span>
                  HelloSign
                  <i></i>
                </span>
              </li>
              <li>
                <div class="spacer"></div>
              </li>
            </ul>
          </div>
          <div class="c-card__entry c-card--internal-padding c-card--permanent-shadow c-small-reducer">
            <h4 class="c-card__entry-title">
                  VoIP/Telephone & SMS
                </h4>
            <ul class="c-card-icons--list">
              <li class="c-tooltip c-card--icon">
                <img class="" src="/imgs/partners/VoIP_Telephone/Aircall.png" width="45px" height="45px"
                  alt="Aircall" />
                <span>
                  Aircall
                  <i></i>
                </span>
              </li>
              <li>
                <div class="spacer"></div>
              </li>
              <li class="c-tooltip c-card--icon">
                <img class="" src="/imgs/partners/VoIP_Telephone/RingCentral.png" width="45px" height="45px"
                  alt="RingCentral" />
                <span>
                  RingCentral
                  <i></i>
                </span>
              </li>
              <li>
                <div class="spacer"></div>
              </li>
              <li class="c-tooltip c-card--icon">
                <img class="" src="/imgs/partners/VoIP_Telephone/JustCall.png" width="45px" height="45px"
                  alt="JustCall" />
                <span>
                  JustCall
                  <i></i>
                </span>
              </li>
              <li>
                <div class="spacer"></div>
              </li>
              <li class="c-tooltip c-card--icon">
                <img class="" src="/imgs/partners/VoIP_Telephone/BurstSMS.png" width="45px" height="45px"
                  alt="BurstSMS" />
                <span>
                  BurstSMS
                  <i></i>
                </span>
              </li>
              <li class="c-tooltip c-card--icon">
                <img class="" src="/imgs/partners/VoIP_Telephone/Twillio.png" width="45px" height="45px"
                  alt="Twillio" />
                <span>
                  Twillio
                  <i></i>
                </span>
              </li>
              <li>
                <div class="spacer"></div>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-md-4 c-card--tool ">
          <div class="c-card__entry c-card--internal-padding c-card--permanent-shadow c-small-reducer">
            <h4 class="c-card__entry-title">
                  Sales Engagement & Social
                </h4>
            <ul class="c-card-icons--list">
              <li class="c-tooltip c-card--icon">
                <img class="" src="/imgs/partners/Sales_Engagement_Y_Social/Slack.png" width="45px" height="45px"
                  alt="Slack" />
                <span>
                  Slack
                  <i></i>
                </span>
              </li>
              <li>
                <div class="spacer"></div>
              </li>
              <li class="c-tooltip c-card--icon">
                <img class="" src="/imgs/partners/Sales_Engagement_Y_Social/Intercom.png" width="45px" height="45px"
                  alt="Intercom" />
                <span>
                  Intercom
                  <i></i>
                </span>
              </li>
              <li>
                <div class="spacer"></div>
              </li>
              <li class="c-tooltip c-card--icon">
                <img class="" src="/imgs/partners/Sales_Engagement_Y_Social/LinkedIn.png" width="45px" height="45px"
                  alt="LinkedIn" />
                <span>
                  LinkedIn
                  <i></i>
                </span>
              </li>
              <li>
                <div class="spacer"></div>
              </li>
              <li class="c-tooltip c-card--icon">
                <img class="" src="/imgs/partners/Sales_Engagement_Y_Social/Outreach.png" width="45px" height="45px"
                  alt="Outreach" />
                <span>
                  Outreach
                  <i></i>
                </span>
              </li>
              <li class="c-tooltip c-card--icon">
                <img class="" src="/imgs/partners/Sales_Engagement_Y_Social/Drift.png" width="45px" height="45px"
                  alt="Drift" />
                <span>
                  Drift
                  <i></i>
                </span>
              </li>
              <li>
                <div class="spacer"></div>
              </li>
              <li class="c-tooltip c-card--icon">
                <img class="" src="/imgs/partners/Sales_Engagement_Y_Social/facebook ads.png" width="45px" height="45px"
                  alt="Facebook ads" />
                <span>
                  Facebook Ads
                  <i></i>
                </span>
              </li>
              <li>
                <div class="spacer"></div>
              </li>
              <li class="c-tooltip c-card--icon">
                <img class="" src="/imgs/partners/Sales_Engagement_Y_Social/Reply.png" width="45px" height="45px"
                  alt="Reply" />
                <span>
                  Reply
                  <i></i>
                </span>
              </li>
              <li>
                <div class="spacer"></div>
              </li>
            </ul>
          </div>
          <div class="c-card__entry c-card--internal-padding c-card--permanent-shadow c-small-reducer">
            <h4 class="c-card__entry-title">
              CPQ/Billing & Accounting
            </h4>
            <ul class="c-card-icons--list">
              <li class="c-tooltip c-card--icon">
                <img class="" src="/imgs/partners/CPQ-Billing_Accounting/QuickBooks.png" width="45px" height="45px"
                  alt="QuickBooks" />
                <span>
                  QuickBooks
                  <i></i>
                </span>
              </li>
              <li>
                <div class="spacer"></div>
              </li>
              <li class="c-tooltip c-card--icon">
                <img class="" src="/imgs/partners/CPQ-Billing_Accounting/Xero.png" width="45px" height="45px"
                  alt="Xero" />
                <span>
                  Xero
                  <i></i>
                </span>
              </li>
              <li>
                <div class="spacer"></div>
              </li>
              <li class="c-tooltip c-card--icon">
                <img class="" src="/imgs/partners/CPQ-Billing_Accounting/Zuora.png" width="45px" height="45px"
                  alt="Zuora" />
                <span>
                  Zuora
                  <i></i>
                </span>
              </li>
              <li>
                <div class="spacer"></div>
              </li>
              <li class="c-tooltip c-card--icon">
                <img class="" src="/imgs/partners/CPQ-Billing_Accounting/ORacle.png" width="45px" height="45px"
                  alt="Oracle" />
                <span>
                  Oracle
                  <i></i>
                </span>
              </li>
              <li class="c-tooltip c-card--icon">
                <img class="" src="/imgs/partners/CPQ-Billing_Accounting/Netsuite.png" width="45px" height="45px"
                  alt="Netsuite" />
                <span>
                  NetSuite
                  <i></i>
                </span>
              </li>
              <li>
                <div class="spacer"></div>
              </li>
              <li class="c-tooltip c-card--icon">
                <img class="" src="/imgs/partners/CPQ-Billing_Accounting/Vogsy.png" width="45px" height="45px"
                  alt="Vogsy" />
                <span>
                  Vogsy
                  <i></i>
                </span>
              </li>
              <li>
                <div class="spacer"></div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Content Jumble -->
{#<section class="c-jumble c-jumble-background--aqua-mint c-jumble--align-left no-top-margin">
  <div class="container">

    <div class="c-jumble__container col-md-10 ">
      <div class="c-jumble__content c-valign--middle" >
          <div class="order-md-1 c-valign--middle partner-jumble-resizer mobile-appear">
            <pre class="c-eyebrow c-eyebrow--light">Partner resources</pre>
          </div>
          <div class="row">
            <div class="col-md-6 order-md-2">
              <div class="c-panel__blockquote c-valign--middle">
                <div class="c-image">
                  <picture>
          <source type="image/webp" srcset="/imgs/partners/Jumble/Webinar_Image_Desktop.webp"  class="middle-top-appear" alt="Image while webinar"  >
          <source type="image/png" srcset="/imgs/partners/Jumble/Webinar_Image_Desktop.png"  class="middle-top-appear" alt="Image while webinar"  >
          <img   class="middle-top-appear" alt="Image while webinar"   src="/imgs/partners/Jumble/Webinar_Image_Desktop.png"   >
</picture>
                  <picture>
          <source type="image/webp" srcset="/imgs/partners/Jumble/Webinar_Image_Mobile.webp"  class="mobile-appear" alt="Image while webinar"  >
          <source type="image/png" srcset="/imgs/partners/Jumble/Webinar_Image_Mobile.png"  class="mobile-appear" alt="Image while webinar"  >
          <img   class="mobile-appear" alt="Image while webinar"   src="/imgs/partners/Jumble/Webinar_Image_Mobile.png"   >
</picture>
                </div>
              </div>
            </div>
            <div class="col-md-6 order-md-1 c-valign--middle" id="partner-jumble-resizer">  
              <pre class="c-eyebrow c-eyebrow--light mobile-disappear">Partner resources</pre>
              <h2>Learn more<br class="mobile-disappear" /> about<br class="mobile-appear"/> becoming <br class="mobile-disappear" />a partner</h2>
              <p>
                We are excited to announce our <br />Implementation Training available <br class="mobile-appear" /> to our <br class="mobile-disappear" />partners. Register <br class="mobile-appear" />today for the webinar.
              </p>
              <div>
                <a class="t-link h-white underline-strong-green no-arrow" target="" href="https://www.copper.com/partner-certification-webinar">Learn more</a>
              </div>
            </div>
          </div>
      </div>
    </div>
  </div>
</section>#}

<!--FORMS SECTION-->

<script src="https://app-sj17.marketo.com/js/forms2/js/forms2.min.js"></script>


<!--Pop up section for the form-->
<div class="invisible-container" id="pop-over">
  <div class="container">
    <div class="col-md-12">
      <section class="c-e-book-gate__form h-padding-bottom extra-bottom-margin--medium">
        <div class="row">
          <!--One referal section-->
          <div class="col-md-5 t-aqua-mint-bullet-points invisible" id="referral">
            <h2>Apply today<span class="t-hot-pink">.</span></h2>
            <p class="extra-bottom-margin--x-small">
              Teamwork is everything. Join our <br class="mobile-disappear" />partner program so we can work <br class="mobile-disappear" />and win together!
              <br />
              <br />
              Do you have customers evaluating a CRM for <br class="mobile-disappear"/>G Suite? In the Referral Partner tier, you will <br class="mobile-disappear"/>receive a unique link that you can send to <br class="mobile-disappear"/>your customers and prospects to begin their <br class="mobile-disaappear"> Free 14 Day Trial with Copper.
              <br />
              <br />
              Once you sign up, we will send you all of the <br class="mobile-disappear"/>information you will need; including demo <br class="mobile-disappear"/>video, pricing and key assets.
            </p>
            <span class="bold">Benefits</span>
            <ul>
              <li>10% on monthly or 1st Year</li>
              <li>1 Time Contract/Lead</li>
              <li>Unique Code provided</li>
            </ul>
            <p>Still have a question? <a href="mailto:partners@copper.com" class="t-link--volt__link">Contact us.</a></p>
          </div>


          <!--ISV technology section-->
          <div class="col-md-5 invisible" id="technology">
            <h2>Apply today<span class="t-hot-pink">.</span></h2>
            <p>
              Teamwork is everything. Join our <br class="mobile-disappear" />partner program so we can work <br class="mobile-disappear" />and win together!
            </p>
            <ul class="check-mark-ul">
              <li><p>Build quickly</p><p class="p-sm">Our open APIs and integration team<br />make it easier than ever.</p></li>
              <li><p>'Wow' customers</p><p class="p-sm">Seamless experiences turn users<br />into evangelists.</p></li>
              <li><p>Grow faster</p><p class="p-sm">Team work makes the dream work</p></li>
            </ul>
            <div class="t-aqua-mint-bullet-points">
              <span class="bold">Benefits</span>
              <ul>
                <li>15% on monthly or 1st Year</li>
                <li>GTM Strategy</li>
                <li>Ongoing referrals</li>
                <li>Co-Marketing Opportunities</li>
                <li>Monthly and Quarterly Training</li>
              </ul>
            </div>
            <p>Still have a question? <a href="mailto:partners@copper.com" class="t-link--volt__link">Contact us.</a></p>
          </div>

          <!--Reseller section-->
          <div class="col-md-5 invisible" id="reseller">
            <h2>Apply today<span class="t-hot-pink">.</span></h2>
            <p>
              If you're a Google Reseller or an <br class="mobile-disappear" />Implementation Partner looking to <br class="mobile-disappear" />expand your portfolio with a CRM <br class="mobile-disappear" />designed for G Suite, let's work together.
            </p>
            <p id="reseller-text">
              In the reseller tier with Copper Support, <br class="mobile-disappear" />you will resell Copper's licenses and pass <br class="mobile-disappear" />the customer back to Copper to onboard <br class="mobile-disappear" /> and service.
            </p>
            <p id="strategic-reseller-text">
              In this tier, the partner will own the entire <br class="mobile-disappear" />process including closing the deal, <br class="mobile-disappear" />onboarding and servicing the customer. <br class="mobile-disappear" />In order for the partner to qualify, you will <br class="mobile-disappear" />have to complete a Partner Sales <br class="mobile-disappear" />Enablement Training and Partner <br class="mobile-disappear" />Implementation Certification.
            </p>
            <span class="bold" id="reseller-description-title">Reseller Partner with Copper's Support</span>
            <span class="bold" id="strategic-reseller-description-title">Strategic Certified Reseller</span>
            <ul class="check-mark-ul" id="reseller-benefits-list">
              <li><p>Copper sourced</p><p class="p-sm">10% margin in perpetuity.</p></li>
              <li><p>Partner referal</p><p class="p-sm">25% margin in perpetuity.</p></li>
            </ul>
            <ul class="check-mark-ul"id="strategic-reseller-benefits-list">
              <li><p>Copper sourced</p><p class="p-sm">20% margin in perpetuity.</p></li>
              <li><p>Partner referal</p><p class="p-sm">30% margin in perpetuity.</p></li>
            </ul>
            <div class="t-aqua-mint-bullet-points " >
              <span class="bold">Benefits</span>
              <ul id="reseller-list">
                <li>Resell Copper licenses</li>
                <li>Copper to service onboard</li>
                <li>Joint GTM Strategy</li>
                <li>Co-Marketing Opportunities</li>
                <li>Quarterly Training</li>
              </ul>
              <ul id="strategic-reseller-list">
                <li>Resell Copper and services</li>
                <li>Support Level 1 and Level 2</li>
                <li>GTM Strategy</li>
                <li>Co-Marketing Opportunities</li>
                <li>Monthly and Quarterly Training</li>
                <li>Executive Alignment</li>
              </ul>
            </div>
            <p>Still have a question? <a href="mailto:partners@copper.com" class="t-link--volt__link">Contact us.</a></p>
          </div>
          <div class="col-md-6 offset-md-1">
            <div class="c-form">
              <div id="landing-form-snip c-form" class="sl_swap">
                {% import "/components/replacements/_marketo-replacements.html" as localLeadReplacements %}
                {% if marketoConfigurations.replaceMarketoForms %}
                  {{ localLeadReplacements.htmlReplacement("mktoForm_2102", 'Partner', entry.slug) }}
                {% else %}
                  <form id="mktoForm_2102"></form>
                {% endif %}
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
</div>

<div class="invisible-container" id="success">
  <section class="c-cols c-cols-alternate extra-top-margin--small no-bottom-padding">
    <div class="container">
      <div class="row">
        <div class="col-md-6 order-2">
          <div class="c-image c-image--drop-right c-image--shadow ">
            <picture>
          <source type="image/webp" srcset="/imgs/partners/Confirmation_Image.webp"  style="margin-right: 20px;" class="drop-right__img no-shadow"   alt="Thank you from Copper">
          <source type="image/png" srcset="/imgs/partners/Confirmation_Image.png"  style="margin-right: 20px;" class="drop-right__img no-shadow"   alt="Thank you from Copper">
          <img   style="margin-right: 20px;" class="drop-right__img no-shadow"   src="/imgs/partners/Confirmation_Image.png"   alt="Thank you from Copper" >
</picture>
          </div>
        </div>
        <div class="col-md-5 c-valign--top order-1">
          <div>
              <h2>Thank you<span class="t-hot-pink">.</span></h2>
              <p>
                We're excited that you're interested in <br class="mobile-disappear"/>joining the Copper Partner Program. <br class="mobile-disappear"/>We'll be in touch with you shortly.<br class="mobile-disappear"/>
                <br />
                <br />
                 Still have questions?
                 <br />
                 Email us at <a href="mailto:partners@copper.com" class="t-link--volt__link">partners@copper.com</a>
              </p>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>

<script>
  LazyLoad.js(['https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js'],function(){
  var parnersFormRadios = {
    referral: [],
    technology: [],
    reseller: [],
    strategicReseller: [],
  };


  var urlHash = window.location.hash;

  if( urlHash != ""){
    jQuery("#content>section").hide();
  }
  {% if marketoConfigurations.replaceMarketoForms %}
    {{ localLeadReplacements.lightScriptReplacement("mktoForm_2102", staticAssetsVersion, "Partners", true, true) }}
  {% else %}
  MktoForms2.loadForm("https://app-sj17.marketo.com", "763-DVL-293", 2102, function (form) {
    form.onSuccess(function(values, followUpUrl) {
        // Get the form's jQuery element and hide it
        form.getFormElem().hide();

        document.location.hash = "#success";

        // Return false to prevent the submission handler from taking the lead to the follow up url
        return false;
    });

    var parent = document.querySelector('.mktoHtmlText').parentNode;

    let checkbox = document.createElement('INPUT');
    checkbox.setAttribute('type', 'checkbox');
    checkbox.setAttribute('checked', 'checked');
    checkbox.setAttribute('disabled', 'disabled');
    checkbox.setAttribute('id', 'submit-check');
    checkbox.classList.add('checkbox-pink');

    parent.insertBefore(checkbox, parent.childNodes[0]);
    
    //Initialize radios variable
    parnersFormRadios.referral = $('input[id^="mktoRadio"][value="Referral Partner"]');
    parnersFormRadios.technology = $('input[id^="mktoRadio"][value="Tech ISV Partner"]');
    parnersFormRadios.reseller = $('input[id^="mktoRadio"][value="Reseller Partner"]');
    parnersFormRadios.strategicReseller = $('input[id^="mktoRadio"][value="Strategic Reseller Partner"]');

    // Crear un metodo toggler for this
    jQuery('#reseller-text').css('display', 'inline');
    jQuery('#strategic-reseller-text').css('display', 'none');
    jQuery('#reseller-list').css('display', 'inline');
    jQuery('#strategic-reseller-list').css('display', 'none');
    jQuery('#reseller-description-title').css('display', 'inline');
    jQuery('#strategic-reseller-description-title').css('display', 'none');
    jQuery('#reseller-benefits-list').css('display', 'inline');
    jQuery('#strategic-reseller-benefits-list').css('display', 'none');

    //Show off section
    parnersFormRadios.reseller.on('click', function () {
      jQuery('#reseller-text').css('display', 'inline');
      jQuery('#strategic-reseller-text').css('display', 'none');

      jQuery('#reseller-list').css('display', 'inline');
      jQuery('#strategic-reseller-list').css('display', 'none');

      
      jQuery('#reseller-description-title').css('display', 'inline');
      jQuery('#strategic-reseller-description-title').css('display', 'none');
      
      jQuery('#reseller-benefits-list').css('display', 'inline');
      jQuery('#strategic-reseller-benefits-list').css('display', 'none');
    });

    parnersFormRadios.strategicReseller.on('click', function () {
      jQuery('#strategic-reseller-text').css('display', 'inline');
      jQuery('#reseller-text').css('display', 'none');

      jQuery('#strategic-reseller-list').css('display', 'inline');
      jQuery('#reseller-list').css('display', 'none');

      jQuery('#strategic-reseller-description-title').css('display', 'inline');
      jQuery('#reseller-description-title').css('display', 'none');

      jQuery('#reseller-benefits-list').css('display', 'none');
      jQuery('#strategic-reseller-benefits-list').css('display', 'inline');
    });

    if( urlHash != "" ){
      validateFormDisplay();
    }
  });

  
  window.addEventListener('hashchange', validateFormDisplay);

  {% endif %}

  function validateFormDisplay() {
    jQuery("#content>section").slideUp(2);
    const hashId = window.location.hash.substring(1);
    
    jQuery("#success").addClass("invisible").removeClass("make-visible");
    jQuery("#pop-over").addClass("invisible").removeClass("make-visible");

    jQuery(".c-e-book-gate__form .make-visible").addClass("invisible").removeClass("make-visible");
    if(hashId === "referral"){
      jQuery("#partnerType_account option[value='Referral']").prop("selected",true);
      jQuery("#referral").removeClass("invisible").addClass("make-visible");
      jQuery("#pop-over").removeClass("invisible").addClass("make-visible");

      initializeRadios(1);
    }
    if(hashId === "reseller"){
      jQuery("#partnerType_account option[value='Reseller']").prop("selected",true);
      jQuery("#reseller").removeClass("invisible").addClass("make-visible");
      jQuery("#pop-over").removeClass("invisible").addClass("make-visible");

      initializeRadios(3);
    }
    if(hashId === 'technology'){
      jQuery("#partnerType_account option[value='Technology']").prop("selected",true);
      jQuery("#technology").removeClass("invisible").addClass("make-visible"); 
      jQuery("#pop-over").removeClass("invisible").addClass("make-visible");

      initializeRadios(2);
    }
    if(hashId === 'success'){
      jQuery("#success").removeClass("invisible").addClass("make-visible");
    }
    if(hashId === ""){
      jQuery("#content>section").slideDown(1);
    }
    window.scrollTo(0,0);

  }

  function initializeRadios(state) {
    switch (state) {
      case 1: // When the referral page has been click
          parnersFormRadios.referral.css('display', 'inline');
          parnersFormRadios.referral.next().css('display', 'inline');
          parnersFormRadios.reseller.css('display', 'none');
          parnersFormRadios.reseller.next().css('display', 'none');
          parnersFormRadios.technology.css('display', 'none');
          parnersFormRadios.technology.next().css('display', 'none');
          parnersFormRadios.strategicReseller.css('display', 'none');
          parnersFormRadios.strategicReseller.next().css('display', 'none');

          parnersFormRadios.referral.prop('checked', true);
          submitCheckVisibility(true);
        break;
      case 2:
          parnersFormRadios.technology.css('display', 'inline');
          parnersFormRadios.technology.next().css('display', 'inline');

          parnersFormRadios.referral.css('display', 'none');
          parnersFormRadios.referral.next().css('display', 'none');
          parnersFormRadios.reseller.css('display', 'none');
          parnersFormRadios.reseller.next().css('display', 'none');
          parnersFormRadios.strategicReseller.css('display', 'none');
          parnersFormRadios.strategicReseller.next().css('display', 'none');


          parnersFormRadios.technology.prop('checked', true);
          submitCheckVisibility(false);
        break;
      case 3:
          parnersFormRadios.reseller.next().css('display', 'inline');
          parnersFormRadios.reseller.css('display', 'inline');
          parnersFormRadios.strategicReseller.css('display', 'inline');
          parnersFormRadios.strategicReseller.next().css('display', 'inline');

          parnersFormRadios.referral.css('display', 'none');
          parnersFormRadios.referral.next().css('display', 'none');
          parnersFormRadios.technology.css('display', 'none');
          parnersFormRadios.technology.next().css('display', 'none');


          parnersFormRadios.reseller.prop('checked', true);
          submitCheckVisibility(false);
      default:
        break;
    }
  }

  function submitCheckVisibility(makeAppear) {
    if (makeAppear) {
      jQuery('.mktoHtmlText').parent().css('display', 'inline');
      jQuery('.mktoButtonWrap').css('top', '-5px');

    }else{
      jQuery('.mktoHtmlText').parent().css('display', 'none');
      jQuery('.mktoButtonWrap').css('top', '30px');
    }
  }
})
</script>

{% endblock %}