<!-- Hero -->
<section class="c-hero--split background--leavebehind leavebehind-blog h-blog">
    <div class="c-image">
      <picture>
          <source type="image/webp" srcset="/imgs/leave-behind-scaled.webp"    alt="Leave behind scaled image">
          <source type="image/png" srcset="/imgs/leave-behind-scaled.jpg"    alt="Leave behind scaled image">
          <img     src="/imgs/leave-behind-scaled.jpg"   alt="Leave behind scaled image" >
</picture>
    </div>
    <div class="container container--footer">
      <div class="row">
        <div class="col-md-6 c-valign--middle">
          <h2 class="t-white">Try Copper free!</h2>
          <p style="max-width: 420px;">No credit card required. Start your 14-day free trial today.</p>
          <div class="c-hero__buttons">
              <a class="c-button"  href="/demos">Request Demo</a>
              <a class="c-button c-button--outline sendUTMsToAmplitude" href="{{ craft.app.config.general.signUpUrl }}">Try Free</a>
          </div>
        </div>
      </div>
    </div>
  </section>